Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

[feat][plugin] support creating RayCluster with config file
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/constant.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[Chore][CI] Limit the release-image-build github workflow to only take tag as input (#3117)
  .github/workflows/image-release.yaml
Due: none

[CI] Remove create tag step from release
  .github/workflows/image-release.yaml
Due: none

[cherry-pick] Integrate with rayci (#3215) (#3234)
  .buildkite/build-start-operator.sh
  .buildkite/format.awk
  .buildkite/ray-ci-integration.md
  .buildkite/test-e2e.yml
  docs/development/release.md
Due: none

fix: rayStartParams error when creating workgroup
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
Due: golangci-lint-kubectl-plugin

fix: linter error
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
Due: golangci-lint-kubectl-plugin

remane rayCluster variable from app to rayCluster
  ray-operator/controllers/ray/batchscheduler/interface/interface.go
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler_test.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_task_groups.go
Due: golangci-lint-ray-operator

Add basic Helm chart unittests
  helm-chart/kuberay-operator/templates/deployment.yaml
  helm-chart/kuberay-operator/templates/role.yaml
  helm-chart/kuberay-operator/templates/rolebinding.yaml
  helm-chart/kuberay-operator/templates/service.yaml
  helm-chart/kuberay-operator/templates/serviceaccount.yaml
  helm-chart/kuberay-operator/tests/deployment_test.yaml
  helm-chart/kuberay-operator/tests/role_test.yaml
  helm-chart/kuberay-operator/tests/rolebinding_test.yaml
  helm-chart/kuberay-operator/tests/service_test.yaml
  helm-chart/kuberay-operator/tests/serviceaccount_test.yaml
  helm-chart/kuberay-operator/values.yaml
Due: none

[Prometheus] Add ray_services_created_total metric
  ray-operator/controllers/ray/common/metrics.go
  ray-operator/controllers/ray/common/metrics_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/go.mod
Due: golangci-lint-ray-operator

[docs][operator] remove CPU limits in example RayClusters
  ray-operator/config/samples/ray-cluster.sample.yaml
Due: none

[kubectl-plugin] remove CPU limits by default (#3243)
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

fix: ray-service sample yaml remove ports -e Signed-off-by: machichima <nary12321@gmail.com>
  ray-operator/config/samples/ray-service.sample.yaml
Due: none

[refactor][plugin] RayClusterSpecObject
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[refactor][plugin] RayClusterSpecObject (#3238)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[kubectl-plugin] fix rayStartParams error when creating workgroup (#3251)
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
Due: golangci-lint-kubectl-plugin

[test][plugin] test NewCreateClusterCommand
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
Due: golangci-lint-kubectl-plugin

[RayJob][Test] refactor TestValidateRayJobSpec with table test (#3223)
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[fix][plugin] add missing CLI flags for create cluster cmd
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
Due: golangci-lint-kubectl-plugin

fix lint
  docs/development/release.md
Due: none

improve markdown formatting and revise order of steps
  docs/development/release.md
Due: none

Update KubeRay release documentation
  docs/development/release.md
Due: none

[fix][plugin] add missing CLI flags for create cluster cmd (#3237)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
Due: golangci-lint-kubectl-plugin

[feat] move rbac_test.py to scripts
  .github/workflows/consistency-check.yaml
  scripts/rbac_test.py
Due: none

[feat] move rbac_test.py to scripts (#3256)
  .github/workflows/consistency-check.yaml
  scripts/rbac_test.py
Due: none

[Docs] Align development guide with Makefile docker-build logic (#3248)
  ray-operator/DEVELOPMENT.md
Due: none

refactor: move rayStartParams to options.complete
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
Due: golangci-lint-kubectl-plugin

test: add CreateWorkerGroupCommand Complete() testcase
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
Due: golangci-lint-kubectl-plugin

[Prometheus] Add ray_services_ready_duration_seconds metric
  ray-operator/controllers/ray/common/metric_test.go
  ray-operator/controllers/ray/common/metrics.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/go.mod
Due: golangci-lint-ray-operator

feat: use default port value if not set -e Signed-off-by: machichima <nary12321@gmail.com>
  ray-operator/controllers/ray/common/service.go
Due: golangci-lint-ray-operator

test: check default port value is set -e Signed-off-by: machichima <nary12321@gmail.com>
  ray-operator/controllers/ray/common/service_test.go
Due: golangci-lint-ray-operator

check lifecycle for worker container
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

[CI] Remove create tag step from release (#3249)
  .github/workflows/image-release.yaml
Due: none

address comments from Kai-Hsun
  docs/development/release.md
Due: none

[RayJob][Fix] Use --no-wait for job submission to avoid carrying the error return code to the log tailing (#3216)
  ray-operator/controllers/ray/common/job.go
  ray-operator/controllers/ray/common/job_test.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
  ray-operator/test/e2e/rayjob_retry_test.go
Due: golangci-lint-ray-operator

kubectl ray job submit: provide entrypoint (#3186)
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
Due: golangci-lint-kubectl-plugin

[kubectl-plugin] Add head/worker node selector option (#3228)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

add node selector option for kubectl plugin create worker group (#3235)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
Due: golangci-lint-kubectl-plugin
