Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

golangci-lint-ray-operator:
  name: golangci-lint (ray-operator)
  entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

golangci-lint-kubectl-plugin:
  name: golangci-lint (kubectl-plugin)
  entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

[kubectl-plugin][feat] support specifying number of head GPUs
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[CI] Enable testifylint rule
  .golangci.yml
Due: none

[CI] Enable testifylint rule (#2896)
  .golangci.yml
Due: none

[CI] Enable `testifylint` `error-nil` rule
  .golangci.yml
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/session/session_test.go
  kubectl-plugin/pkg/util/client/client_test.go
  kubectl-plugin/pkg/util/generation/generation_test.go
  ray-operator/controllers/ray/common/association_test.go
  ray-operator/controllers/ray/common/ingress_test.go
  ray-operator/controllers/ray/common/rbac_test.go
  ray-operator/controllers/ray/common/route_test.go
  ray-operator/controllers/ray/common/service_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

[CI] Enable `testifylint` `error-nil` rule (#2907)
  .golangci.yml
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/session/session_test.go
  kubectl-plugin/pkg/util/client/client_test.go
  kubectl-plugin/pkg/util/generation/generation_test.go
  ray-operator/controllers/ray/common/association_test.go
  ray-operator/controllers/ray/common/ingress_test.go
  ray-operator/controllers/ray/common/rbac_test.go
  ray-operator/controllers/ray/common/route_test.go
  ray-operator/controllers/ray/common/service_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

[kubectl-plugin][feat] support specifying number of head GPUs (#2895)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

Enable testifylint empty rule
  .golangci.yml
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

Fix incorrect assert usage in pod and ray cluster
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

[kubectl-plugin] update context error messages
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/util/kubeconfig.go
Due: golangci-lint-kubectl-plugin

Enable testifylint bool-compare rule
  .golangci.yml
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/expectations/scale_expectations_test.go
Due: golangci-lint-ray-operator

[refactor][CI] automatically install required Python packages
  .pre-commit-config.yaml
Due: none

Enable testifylint formatter rule
  .golangci.yml
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

Use webhook.CustomValidator instead of deprecated webhook.Validator. (#2803)
  ray-operator/Dockerfile
  ray-operator/apis/ray/v1/raycluster_webhook.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/main.go
  ray-operator/pkg/webhooks/v1/raycluster_webhook.go
  ray-operator/pkg/webhooks/v1/webhook_suite_test.go
Due: golangci-lint-ray-operator

[kubectl-plugin] update context error messages (#2891)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/util/kubeconfig.go
Due: golangci-lint-kubectl-plugin

update version for v1.3.0-rc.0 (#2885)
  helm-chart/kuberay-apiserver/Chart.yaml
  helm-chart/kuberay-apiserver/values.yaml
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/Chart.yaml
  ray-operator/config/default/kustomization.yaml
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[kubectl-plugin] support general `kubectl` switches like `--context`
  kubectl-plugin/pkg/cmd/version/version.go
  kubectl-plugin/pkg/cmd/version/version_test.go
Due: golangci-lint-kubectl-plugin

[Fix][kubectl-plugin] make tests use a temporary kube config
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
Due: golangci-lint-kubectl-plugin

[CI] Auto download golang tools in pre-commit
  .github/workflows/test-job.yaml
  .pre-commit-config.yaml
  ray-operator/DEVELOPMENT.md
  scripts/lint.sh
Due: none

Create SECURITY.md8
  SECURITY.md
Due: none

Sync release-1.3 with master (#2916)
  .golangci.yml
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/cmd/session/session_test.go
  kubectl-plugin/pkg/util/client/client_test.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
  kubectl-plugin/pkg/util/kubeconfig.go
  ray-operator/DEVELOPMENT.md
  ray-operator/Dockerfile
  ray-operator/apis/ray/v1/raycluster_webhook.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/controllers/ray/common/association_test.go
  ray-operator/controllers/ray/common/ingress_test.go
  ray-operator/controllers/ray/common/rbac_test.go
  ray-operator/controllers/ray/common/route_test.go
  ray-operator/controllers/ray/common/service_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
  ray-operator/controllers/ray/rayservice_controller_test.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/suite_helpers_test.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation_test.go
  ray-operator/main.go
  ray-operator/pkg/webhooks/v1/raycluster_webhook.go
  ray-operator/pkg/webhooks/v1/webhook_suite_test.go
Due: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

[chore][kubectl-plugin] use consistent capitalization
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/session/session_test.go
Due: golangci-lint-kubectl-plugin

[RayService] a safeguard for preventing overriding the pending cluster during a upgrade
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

[Fix][kubectl-plugin] make tests use a temporary kube config (#2894)
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
Due: golangci-lint-kubectl-plugin

[CI] Enable testifylint formatter rule (#2915)
  .golangci.yml
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

[CI] Enable `testifylint` `empty` rule (#2908)
  .golangci.yml
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

[CI] Enable testifylint bool-compare rule (#2911)
  .golangci.yml
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/expectations/scale_expectations_test.go
Due: golangci-lint-ray-operator

[CI] Auto download golang tools in pre-commit (#2917)
  .github/workflows/test-job.yaml
  .pre-commit-config.yaml
  ray-operator/DEVELOPMENT.md
  scripts/lint.sh
Due: none

[RayService] a safeguard for preventing overriding the pending cluster during a upgrade (#2887)
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

update
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

[RayService] Refactor unit tests for ShouldPrepareNewCluster (#2928)
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

[CI] Enable `testifylint` `require-error` rule
  .golangci.yml
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/session/session_test.go
  kubectl-plugin/pkg/util/client/client_test.go
  kubectl-plugin/pkg/util/generation/generation_test.go
  ray-operator/controllers/ray/batchscheduler/schedulermanager_test.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/common/association_test.go
  ray-operator/controllers/ray/common/ingress_test.go
  ray-operator/controllers/ray/common/job_test.go
  ray-operator/controllers/ray/common/rbac_test.go
  ray-operator/controllers/ray/common/route_test.go
  ray-operator/controllers/ray/common/service_test.go
  ray-operator/controllers/ray/expectations/scale_expectations_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation_test.go
  ray-operator/test/e2e/support.go
  ray-operator/test/e2eautoscaler/support.go
  ray-operator/test/e2erayservice/support.go
  ray-operator/test/sampleyaml/support.go
  ray-operator/test/support/core.go
  ray-operator/test/support/events.go
  ray-operator/test/support/namespace.go
  ray-operator/test/support/ray.go
  ray-operator/test/support/utils.go
Due: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

[docs] move pre-commit instructions to main dev docs
  docs/development/development.md
  ray-operator/DEVELOPMENT.md
Due: none

[chore][kubectl-plugin] use consistent capitalization (#2922)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/session/session_test.go
Due: golangci-lint-kubectl-plugin

[CI] Enable `testifylint` `require-error` rule (#2909)
  .golangci.yml
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/session/session_test.go
  kubectl-plugin/pkg/util/client/client_test.go
  kubectl-plugin/pkg/util/generation/generation_test.go
  ray-operator/controllers/ray/batchscheduler/schedulermanager_test.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/common/association_test.go
  ray-operator/controllers/ray/common/ingress_test.go
  ray-operator/controllers/ray/common/job_test.go
  ray-operator/controllers/ray/common/rbac_test.go
  ray-operator/controllers/ray/common/route_test.go
  ray-operator/controllers/ray/common/service_test.go
  ray-operator/controllers/ray/expectations/scale_expectations_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation_test.go
  ray-operator/test/e2e/support.go
  ray-operator/test/e2eautoscaler/support.go
  ray-operator/test/e2erayservice/support.go
  ray-operator/test/sampleyaml/support.go
  ray-operator/test/support/core.go
  ray-operator/test/support/events.go
  ray-operator/test/support/namespace.go
  ray-operator/test/support/ray.go
  ray-operator/test/support/utils.go
Due: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

[CI] Enable `testifylint` `float-compare` rule
  .golangci.yml
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

[kubectl-plugin] support general `kubectl` switches like `--context` (#2883)
  kubectl-plugin/pkg/cmd/version/version.go
  kubectl-plugin/pkg/cmd/version/version_test.go
Due: golangci-lint-kubectl-plugin

[CI] Fix lint error (require-error)
  kubectl-plugin/pkg/cmd/version/version_test.go
Due: golangci-lint-kubectl-plugin

[CI] Fix lint error (require-error) (#2931)
  kubectl-plugin/pkg/cmd/version/version_test.go
Due: golangci-lint-kubectl-plugin

[CI] Enable `testifylint` `float-compare` rule (#2910)
  .golangci.yml
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

[CI] Enable `testifylint` `expected-actual` rule
  .golangci.yml
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/common/test_utils.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/utils/util_test.go
Due: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

Path conditions:
  golangci-lint-ray-operator: any of: ^ray-operator/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
  golangci-lint-kubectl-plugin: any of: ^kubectl-plugin/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
