Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

golangci-lint-ray-operator:
  name: golangci-lint (ray-operator)
  entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

golangci-lint-kubectl-plugin:
  name: golangci-lint (kubectl-plugin)
  entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

[refactor][kubectl-plugin] require one posarg in `session` and `log`
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/cmd/session/session_test.go
Due: golangci-lint-kubectl-plugin

remove comment
  ray-operator/test/sampleyaml/support.go
Due: golangci-lint-ray-operator

[feat][kubectl-plugin] add `scale` command
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/cmd/scale/scale.go
  kubectl-plugin/pkg/cmd/scale/scale_cluster.go
  kubectl-plugin/pkg/cmd/scale/scale_cluster_test.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] show last Condition and State
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/util/conditions.go
  kubectl-plugin/pkg/util/conditions_test.go
  kubectl-plugin/test/e2e/kubectl_ray_cluster_get_test.go
Due: golangci-lint-kubectl-plugin

update KubeRay version to v1.3.0
  helm-chart/kuberay-apiserver/Chart.yaml
  helm-chart/kuberay-apiserver/values.yaml
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/Chart.yaml
  ray-operator/config/default/kustomization.yaml
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[refactor][kubectl-plugin] require one posarg in `session` and `log` (#3017)
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/cmd/session/session_test.go
Due: golangci-lint-kubectl-plugin

[refactor][kubectl-plugin] make `--node-type` an enum flag (#3018)
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
Due: golangci-lint-kubectl-plugin

update KubeRay version to v1.3.0 (#3071)
  helm-chart/kuberay-apiserver/Chart.yaml
  helm-chart/kuberay-apiserver/values.yaml
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/Chart.yaml
  ray-operator/config/default/kustomization.yaml
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[feat][kubectl-plugin] support waiting for RayCluster to be provisioned
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/version/version_test.go
  kubectl-plugin/pkg/util/client/client.go
  kubectl-plugin/pkg/util/client/client_test.go
Due: golangci-lint-kubectl-plugin

[chore][docs] enable Markdown lint rules MD005 and MD007
  .github/pull_request_template.md
  CHANGELOG.md
  ci/markdownlint.yaml
  docs/development/release.md
  docs/guidance/rayclient-nginx-ingress.md
Due: none

add missed part
  .buildkite/test-e2e.yml
Due: none

[Chore] Add RayJob InteractiveMode sample yaml (#3062)
  ray-operator/config/samples/ray-job.interactive-mode.yaml
Due: none

[kubectl-plugin] Validate resource values for negative and non-numeric inputs (#3045)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/validation.go
  kubectl-plugin/pkg/util/validation_test.go
Due: golangci-lint-kubectl-plugin

[CI] dump failed test k8s resources (#3025)
  ray-operator/test/sampleyaml/rayjob_test.go
  ray-operator/test/sampleyaml/support.go
Due: golangci-lint-ray-operator

[feat][kubectl-plugin] support waiting for RayCluster to be provisioned (#3067)
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/version/version_test.go
  kubectl-plugin/pkg/util/client/client.go
  kubectl-plugin/pkg/util/client/client_test.go
Due: golangci-lint-kubectl-plugin

composable ray resource logger
  ray-operator/test/sampleyaml/support.go
  ray-operator/test/support/resource_logger.go
Due: golangci-lint-ray-operator

Update UPGRADE_VERSION to v1.3.0
  ray-operator/test/e2eupgrade/rayservice_operator_upgrade_test.go
Due: golangci-lint-ray-operator

Add buildkite in
  .buildkite/test-e2e.yml
Due: none

Fix kind load command
  .buildkite/test-e2e.yml
Due: none

Add in buildkite commands
  .buildkite/test-e2e.yml
Due: none

[refactor][kubectl-plugin] simplify cobra `Validate()` tests
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/get/get_nodes.go
  kubectl-plugin/pkg/cmd/get/get_nodes_test.go
  kubectl-plugin/pkg/cmd/get/get_workergroup.go
  kubectl-plugin/pkg/cmd/get/get_workergroup_test.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/cmd/version/version.go
  kubectl-plugin/pkg/cmd/version/version_test.go
  kubectl-plugin/pkg/util/kubeconfig.go
  kubectl-plugin/pkg/util/kubeconfig_test.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] add create service command
  kubectl-plugin/pkg/cmd/create/create.go
  kubectl-plugin/pkg/cmd/create/create_service.go
  kubectl-plugin/pkg/cmd/create/create_service_test.go
  kubectl-plugin/pkg/util/generation/generation.go
Due: golangci-lint-kubectl-plugin

[CI] Composable kube resource logger when test failed (#3070)
  ray-operator/test/sampleyaml/support.go
  ray-operator/test/support/resource_logger.go
Due: golangci-lint-ray-operator

[chore][docs] enable Markdown lint rules MD005 and MD007 (#3073)
  .github/pull_request_template.md
  CHANGELOG.md
  ci/markdownlint.yaml
  docs/development/release.md
  docs/guidance/rayclient-nginx-ingress.md
Due: none

[refactor][kubectl-plugin] simplify cobra `Validate()` tests (#3040)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/get/get_nodes.go
  kubectl-plugin/pkg/cmd/get/get_nodes_test.go
  kubectl-plugin/pkg/cmd/get/get_workergroup.go
  kubectl-plugin/pkg/cmd/get/get_workergroup_test.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/cmd/version/version.go
  kubectl-plugin/pkg/cmd/version/version_test.go
  kubectl-plugin/pkg/util/kubeconfig.go
  kubectl-plugin/pkg/util/kubeconfig_test.go
Due: golangci-lint-kubectl-plugin

[chore][docs] enable Markdown lint rules MD012 and MD022
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  ci/markdownlint.yaml
  clients/python-client/README.md
  clients/python-client/python_client_test/README.md
  docs/best-practice/worker-head-reconnection.md
  docs/deploy/installation.md
  docs/design/protobuf-grpc-service.md
  docs/development/release.md
  docs/guidance/aws-eks-iam.md
  docs/guidance/kuberay-with-MCAD.md
  docs/guidance/observability.md
  docs/guidance/rayStartParams.md
  docs/guidance/rayclient-nginx-ingress.md
  docs/guidance/rayservice-high-availability.md
  docs/release/helm-chart.md
  helm-chart/ray-cluster/README.md
Due: none

Import duplicate util functions and set UPGRADE_IMAGE env var
  .buildkite/test-e2e.yml
  ray-operator/test/e2erayservice/rayservice_ha_test.go
  ray-operator/test/e2erayservice/rayservice_in_place_update_test.go
  ray-operator/test/e2erayservice/rayservice_redeploy_test.go
  ray-operator/test/e2erayservice/rayservice_upgrade_test.go
  ray-operator/test/e2erayservice/support.go
  ray-operator/test/e2eupgrade/rayservice_operator_upgrade_test.go
  ray-operator/test/e2eupgrade/support.go
  ray-operator/test/support/defaults.go
  ray-operator/test/support/environment.go
Due: golangci-lint-ray-operator

[CI] apply resource logger to ray cluster test
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/support/resource_logger.go
Due: golangci-lint-ray-operator

[feat][kubectl-plugin] add shutdown-after-job-finishes and deletion-policy flag
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
Due: golangci-lint-kubectl-plugin

Add TTLSecondsAfterFinished fla
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
Due: golangci-lint-kubectl-plugin

Check for events related to RayJobDeletionPolicy feature gate
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin

Add comments
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin

add unit test
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

Refactor
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/version/version_test.go
  kubectl-plugin/pkg/util/client/client.go
Due: golangci-lint-kubectl-plugin

add unit test
  kubectl-plugin/pkg/util/client/client_test.go
Due: golangci-lint-kubectl-plugin

resloved conflicts
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
Due: golangci-lint-kubectl-plugin

[CI] apply resource logger to ray cluster test (#3075)
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/support/resource_logger.go
Due: golangci-lint-ray-operator

[feat][kubectl-plugin] show last Condition and State (#2919)
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/util/conditions.go
  kubectl-plugin/pkg/util/conditions_test.go
  kubectl-plugin/test/e2e/kubectl_ray_cluster_get_test.go
Due: golangci-lint-kubectl-plugin

Add e2e KubeRay operator upgrade test (#3060)
  .buildkite/test-e2e.yml
  ray-operator/Makefile
  ray-operator/test/e2erayservice/rayservice_ha_test.go
  ray-operator/test/e2erayservice/rayservice_in_place_update_test.go
  ray-operator/test/e2erayservice/rayservice_redeploy_test.go
  ray-operator/test/e2erayservice/rayservice_upgrade_test.go
  ray-operator/test/e2erayservice/support.go
  ray-operator/test/e2eupgrade/rayservice_operator_upgrade_test.go
  ray-operator/test/e2eupgrade/support.go
  ray-operator/test/support/defaults.go
  ray-operator/test/support/environment.go
Due: golangci-lint-ray-operator

[CI] apply resource logger to ray service test
  ray-operator/test/sampleyaml/rayservice_test.go
  ray-operator/test/support/resource_logger.go
Due: golangci-lint-ray-operator

Path conditions:
  golangci-lint-ray-operator: any of: ^ray-operator/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
  golangci-lint-kubectl-plugin: any of: ^kubectl-plugin/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
