Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

[RayCluster][CI] fail fast all support functions in test/support/yaml.go
  ray-operator/test/support/yaml.go
Due: golangci-lint-ray-operator

Add kubernetes event to inform user of upgrade strategy
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

[RayCluster][CI] add e2e tests for RayClusterStatusCondition (#2661)
  ray-operator/config/manager/manager.yaml
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/support/ray.go
  ray-operator/test/support/yaml.go
Due: golangci-lint-ray-operator

Add kubernetes event to inform user of upgrade strategy (#2592)
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

update
  .buildkite/test-e2e.yml
Due: none

[CI][Hotfix] Increase the timeout of Test E2E from 30m to 1h (#2664)
  .buildkite/test-e2e.yml
Due: none

[CI] split rayservice e2e test into another runner and decrease timeout to 30m
  .buildkite/test-e2e.yml
Due: none

[Feat] Add support user-defined serve service ports
  ray-operator/controllers/ray/common/service.go
  ray-operator/controllers/ray/common/service_test.go
Due: golangci-lint-ray-operator

[CI] move rayservice_*.go into e2erayservice folder
  .buildkite/test-e2e.yml
  ray-operator/test/e2e/rayjob_cluster_selector_test.go
  ray-operator/test/e2e/rayjob_lightweight_test.go
  ray-operator/test/e2e/rayjob_retry_test.go
  ray-operator/test/e2e/rayjob_suspend_test.go
  ray-operator/test/e2e/rayjob_test.go
  ray-operator/test/e2e/support.go
  ray-operator/test/e2erayservice/locust_runner.py
  ray-operator/test/e2erayservice/rayservice_ha_test.go
  ray-operator/test/e2erayservice/rayservice_in_place_update_test.go
  ray-operator/test/e2erayservice/support.go
  ray-operator/test/e2erayservice/testdata/locust-cluster.burst.yaml
  ray-operator/test/e2erayservice/testdata/locust-cluster.const-rate.yaml
  ray-operator/test/e2erayservice/testdata/ray-service.ft.yaml
  ray-operator/test/e2erayservice/testdata/rayservice.autoscaling.yaml
  ray-operator/test/e2erayservice/testdata/rayservice.static.yaml
Due: golangci-lint-ray-operator

[kubectl-plugin] fix worker resources in 'kubectl ray create cluster' command
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[RayCluster] support suspending worker groups
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayclusters.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayclusters.yaml
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/workergroupspec.go
Due: golangci-lint-ray-operator

[kubectl-plugin] fix worker resources in 'kubectl ray create cluster' command (#2671)
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[CI] split rayservice e2e test into another runner and decrease timeout to 30m (#2667)
  .buildkite/test-e2e.yml
  ray-operator/test/e2e/rayjob_cluster_selector_test.go
  ray-operator/test/e2e/rayjob_lightweight_test.go
  ray-operator/test/e2e/rayjob_retry_test.go
  ray-operator/test/e2e/rayjob_suspend_test.go
  ray-operator/test/e2e/rayjob_test.go
  ray-operator/test/e2e/support.go
  ray-operator/test/e2erayservice/locust_runner.py
  ray-operator/test/e2erayservice/rayservice_ha_test.go
  ray-operator/test/e2erayservice/rayservice_in_place_update_test.go
  ray-operator/test/e2erayservice/support.go
  ray-operator/test/e2erayservice/testdata/locust-cluster.burst.yaml
  ray-operator/test/e2erayservice/testdata/locust-cluster.const-rate.yaml
  ray-operator/test/e2erayservice/testdata/ray-service.ft.yaml
  ray-operator/test/e2erayservice/testdata/rayservice.autoscaling.yaml
  ray-operator/test/e2erayservice/testdata/rayservice.static.yaml
Due: golangci-lint-ray-operator

test cases added
  apiserver/test/cluster/cluster/cluster
  apiserver/test/e2e/cluster_server_e2e_test.go
Due: none

[kubectl-plugin] add --worker-gpu flag for cluster creation
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

Refactor UpgradeStrategy to UpgradeSpec.Type
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayservicespec.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayserviceupgradespec.go
  ray-operator/pkg/client/applyconfiguration/utils.go
Due: golangci-lint-ray-operator

fix the nit, and add the sample of koordinator
  helm-chart/kuberay-operator/values.yaml
  ray-operator/apis/config/v1alpha1/configuration_types.go
  ray-operator/config/samples/ray-cluster.koordinator-scheduler.yaml
  ray-operator/controllers/ray/batchscheduler/koordinator/koordinator_gang_groups.go
  ray-operator/controllers/ray/batchscheduler/koordinator/koordinator_scheduler.go
  ray-operator/controllers/ray/batchscheduler/koordinator/koordinator_scheduler_test.go
  ray-operator/controllers/ray/batchscheduler/schedulermanager_test.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

WIP: CI experiment
  .buildkite/test-e2e.yml
Due: none

[Fix][RayService] Use LRU cache for ServeConfigs
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

Draft kuberay + redis + persistent volume best practice
  docs/best-practice/gcs-fault-tolerance-persistent-redis.md
  ray-operator/config/samples/ray-cluster.persistent-redis.yaml
Due: none

[FIX][DOC] development markdown example
  ray-operator/DEVELOPMENT.md
Due: none

[FIX][DOC] development markdown example (#2687)
  ray-operator/DEVELOPMENT.md
Due: none

[Feature] Add an e2e test for K8s Job submitter failures
  ray-operator/test/e2e/long_running_counter.py
  ray-operator/test/e2e/rayjob_recovery_test.go
Due: golangci-lint-ray-operator

[Grafana] Use PodMonitor instead of ServiceMonitor for the Head Node to avoid metric duplication
  config/prometheus/podMonitor.yaml
  config/prometheus/serviceMonitor.yaml
Due: none

[Feature] Print KubeRay logs in Buildkite runner when tests fail
  .buildkite/test-e2e.yml
Due: none

[RayCluster][CI] parallelize e2e sampleyaml tests
  ray-operator/test/sampleyaml/raycluster_test.go
Due: golangci-lint-ray-operator

[RayCluster][CI] add e2e tests for the RayClusterSuspended condition
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/support/yaml.go
Due: golangci-lint-ray-operator

[Feature] Print KubeRay logs in Buildkite runner when tests fail (#2690)
  .buildkite/test-e2e.yml
Due: none

[Grafana] Use PodMonitor instead of ServiceMonitor for the Head Node to avoid metric duplication (#2689)
  config/prometheus/podMonitor.yaml
  config/prometheus/serviceMonitor.yaml
Due: none

[Fix][RayService] Use LRU cache for ServeConfigs (#2683)
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[RayCluster] support suspending worker groups (#2663)
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayclusters.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayclusters.yaml
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/workergroupspec.go
Due: golangci-lint-ray-operator

[RayCluster][CI] move the e2e test for the RayClusterSuspended to e2e folder
  ray-operator/test/e2e/raycluster_test.go
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/support/yaml.go
Due: golangci-lint-ray-operator

remove redundant part
  ray-operator/test/e2e/rayjob_recovery_test.go
Due: golangci-lint-ray-operator

[RayCluster][CI] add e2e tests for the RayClusterSuspended status condition (#2686)
  ray-operator/test/e2e/raycluster_test.go
Due: golangci-lint-ray-operator

[Feature] Add an e2e test for K8s Job submitter failures (#2688)
  ray-operator/test/e2e/long_running_counter.py
  ray-operator/test/e2e/rayjob_recovery_test.go
Due: golangci-lint-ray-operator

feat: Add a new event type FailedToDeleteWorkerPodCollection
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

chore: add FailedToDeletePodCollections and change err msg which relate to r.deleteAllPods
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

fix: change FailedToDeleteWorkerPod to FailedToDeleteWorkerPodCollection
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

[Feature]: Add a new event type FailedToDeleteWorkerPodCollection (#2680)
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[Feature] Support ARM image for test
  ray-operator/test/support/environment.go
Due: golangci-lint-ray-operator
