Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

[DO NO MERGE] Test buildkite artifact
  .buildkite/test-artifacts.yml
Due: none

[RayCluster] IsAutoscalingEnabled takes RayClusterSpec
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

docs(readme): fix path links
  README.md
Due: none

move FakeClient to a new package
  kubectl-plugin/pkg/cmd/version/version_test.go
  kubectl-plugin/pkg/util/client/fake/fake_client.go
Due: golangci-lint-kubectl-plugin

[Prometheus] Add serviceMonitor for kuberay operator
  config/prometheus/serviceMonitor.yaml
Due: none

change timeout to 120s
  kubectl-plugin/test/e2e/kubectl_ray_session_test.go
Due: golangci-lint-kubectl-plugin

[chore][docs] enable Markdown lint rules MD033 MD034 (#3105)
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  ci/markdownlint.yaml
  docs/development/release.md
  docs/guidance/aws-eks-iam.md
  docs/index.md
  ray-operator/DEVELOPMENT.md
Due: none

[RayCluster] IsAutoscalingEnabled takes RayClusterSpec (#3111)
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

[DO NOT MERGE] Test CI for PR 3116
  .buildkite/test-kubectl-plugin-e2e.yml
Due: none

[Bug] Re-enable flaky kubectl plugin e2e test "should reconnect after pod connection is lost" (#3116)
  kubectl-plugin/test/e2e/kubectl_ray_session_test.go
Due: golangci-lint-kubectl-plugin

[CI][RayService] deflaky the TestAutoscalingRayService
  ray-operator/test/e2erayservice/rayservice_ha_test.go
Due: golangci-lint-ray-operator

[chore] set default go version in pre commit
  .pre-commit-config.yaml
Due: none

[Chore] Remove test_security.py and all python test dependencies in CI
  .buildkite/setup-env.sh
  .buildkite/test-e2e.yml
  .buildkite/test-kubectl-plugin-e2e.yml
  .buildkite/test-sample-yamls.yml
  ci/kind-config-buildkite.yml
  tests/framework/config/kind-config.yaml
  tests/framework/config/requirements.txt
  tests/framework/prototype.py
  tests/framework/utils.py
  tests/test_security.py
Due: none

Move markdownlint config to top level folder
  .markdownlint.yaml
  .pre-commit-config.yaml
Due: none

use builder pattern in fakeClient
  kubectl-plugin/pkg/cmd/version/version_test.go
  kubectl-plugin/pkg/util/client/fake/fake_client.go
Due: golangci-lint-kubectl-plugin

remove wrong FakeClient interface
  kubectl-plugin/pkg/util/client/fake/fake_client.go
Due: golangci-lint-kubectl-plugin

rename import and client instance name in version_test.go
  kubectl-plugin/pkg/cmd/version/version_test.go
Due: golangci-lint-kubectl-plugin

lowercase pkg name
  kubectl-plugin/pkg/cmd/version/version_test.go
Due: golangci-lint-kubectl-plugin

[RayCluster][Test] reduce test dependences
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayJob] validate GCSFaultTolerance
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayJob] check RayClusterSpec is nil or not before validating GCSFaultTolerance
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

[RayCluster][Test] add more test cases for GCSFaultTolerance
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayJob] use ValidateRayClusterSpec instead
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayCluster] separate IsAutoscalingEnabled
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

[RayCluster] apply changing IsAutoscalingEnabled from another pr
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

[RayCluster] remove ValidateGCSFaultTolerance
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

[feat][kubectl-plugin] add `scale` command
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/cmd/scale/scale.go
  kubectl-plugin/pkg/cmd/scale/scale_cluster.go
  kubectl-plugin/pkg/cmd/scale/scale_cluster_test.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] `delete` accepts multiple resources
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
Due: golangci-lint-kubectl-plugin

fix operator: show resource limit values in RayCluster.Status
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler_test.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/utils/constant.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
Due: golangci-lint-ray-operator

[chore] set default go version in pre commit (#3121)
  .pre-commit-config.yaml
Due: none

[CI] Remove test_security.py and all python test dependencies in CI (#3123)
  .buildkite/setup-env.sh
  .buildkite/test-e2e.yml
  .buildkite/test-kubectl-plugin-e2e.yml
  .buildkite/test-sample-yamls.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  ci/kind-config-buildkite.yml
  tests/framework/config/kind-config.yaml
  tests/framework/config/requirements.txt
  tests/framework/prototype.py
  tests/framework/utils.py
  tests/test_security.py
Due: none

[Refactor][kubectl-plugin] Move fakeClient in version_test.go to client/fake (#3113)
  kubectl-plugin/pkg/cmd/version/version_test.go
  kubectl-plugin/pkg/util/client/fake/fake_client.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] `delete` accepts multiple resources (#3097)
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
Due: golangci-lint-kubectl-plugin

[Fix] Adjust crd path to verify changed files (#3103)
  .github/workflows/consistency-check.yaml
Due: none

kubectl ray job submit: provide empty entrypoint
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
Due: golangci-lint-kubectl-plugin

kubectl ray job submit: provide empty entrypoint (#3127)
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
Due: golangci-lint-kubectl-plugin

[chore][docs] enable Markdown lint rule MD041
  .markdownlint.yaml
  .pre-commit-config.yaml
  docs/components/operator.md
  docs/deploy/installation.md
  docs/guidance/FAQ.md
  docs/guidance/autoscaler.md
  docs/guidance/aws-eks-gpu-cluster.md
  docs/guidance/gcp-gke-gpu-cluster.md
  docs/guidance/gcs-ft.md
  docs/guidance/ingress.md
  docs/guidance/kubeflow-integration.md
  docs/guidance/mobilenet-rayservice.md
  docs/guidance/pod-command.md
  docs/guidance/pod-security.md
  docs/guidance/profiling.md
  docs/guidance/prometheus-grafana.md
  docs/guidance/rayStartParams.md
  docs/guidance/rayjob.md
  docs/guidance/rayserve-dev-doc.md
  docs/guidance/rayservice-troubleshooting.md
  docs/guidance/rayservice.md
  docs/guidance/stable-diffusion-rayservice.md
  docs/guidance/text-summarizer-rayservice.md
  docs/guidance/tls.md
  docs/guidance/volcano-integration.md
Due: none

[chore][docs] enable Markdown lint rule MD024
  .markdownlint.yaml
  CHANGELOG.md
  ray-operator/DEVELOPMENT.md
Due: none

Add integrity check to ray job id update
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin

Match field manager in ray job submit requests
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin
