Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

golangci-lint-ray-operator:
  name: golangci-lint (ray-operator)
  entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

golangci-lint-kubectl-plugin:
  name: golangci-lint (kubectl-plugin)
  entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

[release][7/N] Update RayService YAMLs (#2956)
  ray-operator/config/samples/ray-cluster.persistent-redis.yaml
  ray-operator/config/samples/ray-service.autoscaler.yaml
  ray-operator/config/samples/ray-service.custom-serve-service.yaml
  ray-operator/config/samples/ray-service.different-port.yaml
  ray-operator/config/samples/ray-service.high-availability-locust.yaml
  ray-operator/config/samples/ray-service.high-availability.yaml
  ray-operator/config/samples/ray-service.sample.yaml
  ray-operator/config/samples/ray-service.text-ml.yaml
  ray-operator/test/e2erayservice/testdata/rayservice.autoscaling.yaml
Due: none

[CI] Enable testifylint len rule (#2945)
  .golangci.yml
  kubectl-plugin/pkg/cmd/log/log_test.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/common/ingress_test.go
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/common/test_utils.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

[docs][kubectl-plugin] improve help messages (#2952)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/cmd/session/session.go
Due: golangci-lint-kubectl-plugin

[kubectl-plugin] Fix panic when GPU resource is not set (#2954)
  kubectl-plugin/pkg/util/generation/generation.go
Due: golangci-lint-kubectl-plugin

[docs][kubectl-plugin] fix incorrect example commands
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
Due: golangci-lint-kubectl-plugin

[fix][kubectl-plugin] set worker group CPU limit
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
Due: golangci-lint-kubectl-plugin

update
  ray-operator/config/samples/ray-service.stable-diffusion.yaml
Due: none

update mobilenet
  ray-operator/config/samples/ray-service.mobilenet.yaml
Due: none

[release][8/N] Upgrade Stable Diffusion RayService to Ray 2.41 (#2960)
  ray-operator/config/samples/ray-service.stable-diffusion.yaml
Due: none

[docs][kubectl-plugin] fix incorrect example commands (#2951)
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
Due: golangci-lint-kubectl-plugin

[fix][kubectl-plugin] set worker group CPU limit (#2958)
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
Due: golangci-lint-kubectl-plugin

update text summarizer
  ray-operator/config/samples/ray-cluster.gke-bucket.yaml
  ray-operator/config/samples/ray-job.sample.yaml
  ray-operator/config/samples/ray-service.text-summarizer.yaml
Due: none

Update tpu manifests to 2.41.0
  ray-operator/config/samples/ray-cluster.tpu-v4-multihost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v4-singlehost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v6e-16-multihost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v6e-256-multihost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v6e-singlehost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-16-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-256-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-singlehost.yaml
  ray-operator/config/samples/ray-service.tpu-single-host.yaml
Due: none

update text summarizer
  ray-operator/config/samples/ray-service.text-summarizer.yaml
Due: none

deflaky
  ray-operator/controllers/ray/rayservice_controller_test.go
Due: golangci-lint-ray-operator

Unify the cpu Settings in serve.py in service.yaml, all set to 1
  ray-operator/config/samples/vllm/ray-service.vllm.yaml
Due: none

update
  ray-operator/test/e2e/rayjob_test.go
Due: golangci-lint-ray-operator

[RayJob] Deflaky RayJob e2e tests (#2963)
  ray-operator/test/e2e/rayjob_test.go
Due: golangci-lint-ray-operator

[RayService] Deflaky RayService envtest (#2962)
  ray-operator/controllers/ray/rayservice_controller_test.go
Due: golangci-lint-ray-operator

Maintain the configuration with vllm0.5x
  ray-operator/config/samples/vllm/ray-service.vllm.yaml
  ray-operator/config/samples/vllm/serve.py
Due: none

[Fix][docs] Use latest kind image
  ray-operator/DEVELOPMENT.md
Due: none

[RayCluster][Test] backward compatibility test case
  ray-operator/config/samples/ray-cluster.deprecate-gcs-ft.yaml
  ray-operator/test/sampleyaml/raycluster_test.go
Due: golangci-lint-ray-operator

[release][9/N] Update text summarizer RayService to Ray 2.41 (#2961)
  ray-operator/config/samples/ray-cluster.gke-bucket.yaml
  ray-operator/config/samples/ray-job.sample.yaml
  ray-operator/config/samples/ray-service.mobilenet.yaml
  ray-operator/config/samples/ray-service.text-summarizer.yaml
Due: none

[Fix][docs] Use kindest/node:v1.26.0 to ensure stability between KubeRay and K8s
  ray-operator/DEVELOPMENT.md
Due: none

[Test] remove ray.io/ft-enabled from e2e test yaml
  ray-operator/config/samples/ray-cluster.persistent-redis.yaml
  ray-operator/config/samples/ray-service.high-availability.yaml
  ray-operator/test/sampleyaml/raycluster_test.go
Due: golangci-lint-ray-operator

[release] Update Yunikorn YAML file to Ray 2.41
  ray-operator/config/samples/ray-cluster.yunikorn-scheduler.yaml
Due: none

[Release] Upgrade ray-job.batch-inference.yaml image to 2.41
  ray-operator/config/samples/ray-job.batch-inference.yaml
Due: none

[RayService][Test] remove ray.io/ft-enabled from e2erayservice test
  ray-operator/test/e2erayservice/testdata/ray-service.ft.yaml
Due: none

[chore][docs] enable Markdownlint rule MD004
  ci/markdownlint.yaml
  docs/guidance/rayStartParams.md
Due: none

update
  .pre-commit-config.yaml
Due: none

[chore][docs] enable Markdownlint rule MD010
  ci/markdownlint.yaml
  docs/guidance/rayclient-nginx-ingress.md
  ray-operator/DEVELOPMENT.md
Due: none

[release] Update YuniKorn YAML files to Ray 2.41
  ray-operator/config/samples/ray-cluster.volcano-scheduler-queue.yaml
  ray-operator/config/samples/ray-cluster.volcano-scheduler.yaml
Due: none

[#2905] Improvement: enable testifylint-compares
  .golangci.yml
  kubectl-plugin/pkg/cmd/log/log_test.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

[RayService] adapter vllm 0.6.1.post2 (#2823)
  ray-operator/config/samples/vllm/ray-service.vllm.yaml
  ray-operator/config/samples/vllm/serve.py
Due: none

[Release] Upgrade ray-job.batch-inference.yaml image to 2.41 (#2971)
  ray-operator/config/samples/ray-job.batch-inference.yaml
Due: none

Replace hardcoded Ray version with constants
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/constant.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

Update tests and resolve pre-commit and golangci-lint issues
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[chore][docs] enable Markdownlint rule MD010 (#2975)
  ci/markdownlint.yaml
  docs/guidance/rayclient-nginx-ingress.md
  ray-operator/DEVELOPMENT.md
Due: none

[CI] Change Pre-commit-shellcheck-to-shellcheck-py (#2974)
  .pre-commit-config.yaml
Due: none

Path conditions:
  golangci-lint-ray-operator: any of: ^ray-operator/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
  golangci-lint-kubectl-plugin: any of: ^kubectl-plugin/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
