Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

[CI] Generate CRD json schema separately in pre-commit
  .gitignore
  .pre-commit-config.yaml
  scripts/generate-crd-schema.sh
  scripts/validate-helm.sh
Due: none

Address comments
  scripts/generate-crd-schema.sh
  scripts/validate-helm.sh
Due: none

[docs] move pre-commit instructions to main dev docs (#2921)
  docs/development/development.md
  ray-operator/DEVELOPMENT.md
Due: none

[CI] Enable `testifylint` `expected-actual` rule (#2914)
  .golangci.yml
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/common/test_utils.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/utils/util_test.go
Due: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

[CI] Generate CRD json schema separately in pre-commit (#2930)
  .gitignore
  .pre-commit-config.yaml
  scripts/generate-crd-schema.sh
  scripts/validate-helm.sh
Due: none

update
  ray-operator/config/samples/ray-cluster.autoscaler-v2.yaml
  ray-operator/config/samples/ray-cluster.autoscaler.large.yaml
  ray-operator/config/samples/ray-cluster.autoscaler.yaml
  ray-operator/config/samples/ray-cluster.complete.large.yaml
  ray-operator/config/samples/ray-cluster.complete.yaml
  ray-operator/config/samples/ray-cluster.custom-head-service.yaml
  ray-operator/config/samples/ray-cluster.embed-grafana.yaml
  ray-operator/config/samples/ray-cluster.fluentbit.yaml
  ray-operator/config/samples/ray-cluster.head-command.yaml
  ray-operator/config/samples/ray-cluster.heterogeneous.yaml
  ray-operator/config/samples/ray-cluster.overwrite-command.yaml
  ray-operator/config/samples/ray-cluster.py-spy.yaml
  ray-operator/config/samples/ray-cluster.sample.yaml
  ray-operator/config/samples/ray-cluster.separate-ingress.yaml
  ray-operator/config/samples/ray-cluster.tls.yaml
  ray-operator/test/sampleyaml/raycluster_test.go
Due: golangci-lint-ray-operator

update
  ray-operator/apis/ray/v1/raycluster_types_test.go
  ray-operator/apis/ray/v1/rayjob_types_test.go
  ray-operator/apis/ray/v1/rayservice_types_test.go
  ray-operator/apis/ray/v1alpha1/raycluster_types_test.go
  ray-operator/apis/ray/v1alpha1/rayjob_types_test.go
  ray-operator/apis/ray/v1alpha1/rayservice_types_test.go
Due: golangci-lint-ray-operator

update
  helm-chart/ray-cluster/values.yaml
Due: none

update
  ray-operator/test/e2erayservice/testdata/locust-cluster.burst.yaml
  ray-operator/test/e2erayservice/testdata/locust-cluster.const-rate.yaml
  ray-operator/test/e2erayservice/testdata/ray-service.ft.yaml
  ray-operator/test/e2erayservice/testdata/rayservice.autoscaling.yaml
  ray-operator/test/e2erayservice/testdata/rayservice.static.yaml
Due: none

[release][1/N] Update YAMLs from Ray 2.9 to Ray 2.41 (#2934)
  ray-operator/config/samples/ray-cluster.autoscaler-v2.yaml
  ray-operator/config/samples/ray-cluster.autoscaler.large.yaml
  ray-operator/config/samples/ray-cluster.autoscaler.yaml
  ray-operator/config/samples/ray-cluster.complete.large.yaml
  ray-operator/config/samples/ray-cluster.complete.yaml
  ray-operator/config/samples/ray-cluster.custom-head-service.yaml
  ray-operator/config/samples/ray-cluster.embed-grafana.yaml
  ray-operator/config/samples/ray-cluster.fluentbit.yaml
  ray-operator/config/samples/ray-cluster.head-command.yaml
  ray-operator/config/samples/ray-cluster.heterogeneous.yaml
  ray-operator/config/samples/ray-cluster.overwrite-command.yaml
  ray-operator/config/samples/ray-cluster.py-spy.yaml
  ray-operator/config/samples/ray-cluster.sample.yaml
  ray-operator/config/samples/ray-cluster.separate-ingress.yaml
  ray-operator/config/samples/ray-cluster.tls.yaml
  ray-operator/test/sampleyaml/raycluster_test.go
Due: golangci-lint-ray-operator

Delete `[raycluster|rayjob|rayservice]_types_test.go` unnecessary tests (#2935)
  ray-operator/apis/ray/v1/raycluster_types_test.go
  ray-operator/apis/ray/v1/rayjob_types_test.go
  ray-operator/apis/ray/v1/rayservice_types_test.go
  ray-operator/apis/ray/v1alpha1/raycluster_types_test.go
  ray-operator/apis/ray/v1alpha1/rayjob_types_test.go
  ray-operator/apis/ray/v1alpha1/rayservice_types_test.go
Due: golangci-lint-ray-operator

update
  ray-operator/test/e2erayservice/testdata/rayservice.autoscaling.yaml
  ray-operator/test/e2erayservice/testdata/rayservice.static.yaml
Due: none

[release][2/N] Update RayCluster Helm chart from Ray 2.9 to Ray 2.41 (#2936)
  helm-chart/ray-cluster/values.yaml
Due: none

update
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation_test.go
  kubectl-plugin/test/e2e/testdata/ray-job.interactive-mode-no-runtime-env.yaml
  kubectl-plugin/test/e2e/testdata/ray-job.interactive-mode.yaml
  ray-operator/config/samples/ray-cluster.auth.yaml
Due: golangci-lint-kubectl-plugin

[release][3/N] Update RayService e2e tests YAML files from Ray 2.9 to Ray 2.41 (#2937)
  ray-operator/test/e2erayservice/testdata/locust-cluster.burst.yaml
  ray-operator/test/e2erayservice/testdata/locust-cluster.const-rate.yaml
  ray-operator/test/e2erayservice/testdata/ray-service.ft.yaml
  ray-operator/test/e2erayservice/testdata/rayservice.autoscaling.yaml
  ray-operator/test/e2erayservice/testdata/rayservice.static.yaml
Due: none

[release][4/N] Update Ray images / versions in kubectl plugin (#2938)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation_test.go
  kubectl-plugin/test/e2e/testdata/ray-job.interactive-mode-no-runtime-env.yaml
  kubectl-plugin/test/e2e/testdata/ray-job.interactive-mode.yaml
  ray-operator/config/samples/ray-cluster.auth.yaml
Due: golangci-lint-kubectl-plugin

update
  ray-operator/config/samples/ray-job.custom-head-svc.yaml
  ray-operator/config/samples/ray-job.kueue-toy-sample.yaml
  ray-operator/config/samples/ray-job.modin.yaml
  ray-operator/config/samples/ray-job.resources.yaml
  ray-operator/config/samples/ray-job.sample.yaml
  ray-operator/config/samples/ray-job.shutdown.yaml
Due: none

fix var define
  ray-operator/config/samples/vllm/serve.py
Due: none

add shellcheck and fix error of it
  .pre-commit-config.yaml
  install/prometheus/install.sh
Due: none

remove severity level in pre-commit.yaml and fix info and warning oof shellcheck
  .buildkite/setup-env.sh
  .pre-commit-config.yaml
  apiserver/hack/update-swagger-ui.bash
  helm-chart/script/chart-test.sh
  install/prometheus/install.sh
  ray-operator/hack/update-codegen.sh
  scripts/helm-render-yaml.sh
  scripts/lint.sh
Due: none

[release][5/N] Update some RayJob YAMLs from Ray 2.9 to Ray 2.41 (#2941)
  ray-operator/config/samples/ray-job.custom-head-svc.yaml
  ray-operator/config/samples/ray-job.kueue-toy-sample.yaml
  ray-operator/config/samples/ray-job.modin.yaml
  ray-operator/config/samples/ray-job.resources.yaml
  ray-operator/config/samples/ray-job.sample.yaml
  ray-operator/config/samples/ray-job.shutdown.yaml
Due: none

update exit to exit 1 in shell script
  helm-chart/script/chart-test.sh
  scripts/helm-render-yaml.sh
Due: none

[CI] Enable testifylint len rule
  .golangci.yml
  kubectl-plugin/pkg/cmd/log/log_test.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/common/ingress_test.go
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/common/test_utils.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

update
  ray-operator/config/samples/pytorch-text-classifier/ray-job-v1alpha1.pytorch-distributed-training.yaml
  ray-operator/config/samples/ray-service-alb-ingress.yaml
  ray-operator/config/samples/ray-service.gke-http-gateway-ingress.yaml
  ray-operator/config/samples/ray-service.gke-model-configmap.yaml
Due: none

[release][6/N] Remove unnecessary YAMLs (#2946)
  ray-operator/config/samples/pytorch-text-classifier/ray-job-v1alpha1.pytorch-distributed-training.yaml
  ray-operator/config/samples/ray-service-alb-ingress.yaml
  ray-operator/config/samples/ray-service.gke-http-gateway-ingress.yaml
  ray-operator/config/samples/ray-service.gke-model-configmap.yaml
Due: none

[Fix][RayJob] Invalid quote for RayJob submitter
  ray-operator/controllers/ray/common/job.go
  ray-operator/controllers/ray/common/job_test.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
Due: golangci-lint-ray-operator

[docs][kubectl-plugin] add dev docs
  docs/development/development.md
  kubectl-plugin/DEVELOPMENT.md
Due: none

[chore] add Markdown linting pre-commit hook
  .pre-commit-config.yaml
  CHANGELOG.md
  ci/markdownlint.yaml
  clients/python-client/README.md
Due: none

[chore][kubectl-plugin] use consistent capitalization
  kubectl-plugin/pkg/cmd/job/job.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/test/e2e/kubectl_ray_log_test.go
Due: golangci-lint-kubectl-plugin

[kubectl-plugin] Fix panic when GPU resource is not set
  kubectl-plugin/pkg/util/generation/generation.go
Due: golangci-lint-kubectl-plugin

[chore][kubectl-plugin] use better test assertions
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
Due: golangci-lint-kubectl-plugin

[docs][kubectl-plugin] add dev docs (#2912)
  docs/development/development.md
  kubectl-plugin/DEVELOPMENT.md
Due: none

[CI] Add shellcheck and fix error of it (#2933)
  .buildkite/setup-env.sh
  .pre-commit-config.yaml
  apiserver/hack/update-swagger-ui.bash
  helm-chart/script/chart-test.sh
  install/prometheus/install.sh
  ray-operator/hack/update-codegen.sh
  scripts/helm-render-yaml.sh
  scripts/lint.sh
Due: none

[chore][kubectl-plugin] use better test assertions (#2955)
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
Due: golangci-lint-kubectl-plugin

[chore] add Markdown linting pre-commit hook (#2953)
  .pre-commit-config.yaml
  CHANGELOG.md
  ci/markdownlint.yaml
  clients/python-client/README.md
Due: none

[chore][kubectl-plugin] use consistent capitalization (#2950)
  kubectl-plugin/pkg/cmd/job/job.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/test/e2e/kubectl_ray_log_test.go
Due: golangci-lint-kubectl-plugin

[Fix][RayJob] Invalid quote for RayJob submitter (#2949)
  ray-operator/controllers/ray/common/job.go
  ray-operator/controllers/ray/common/job_test.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
Due: golangci-lint-ray-operator

update
  ray-operator/config/samples/ray-cluster.persistent-redis.yaml
  ray-operator/config/samples/ray-service.autoscaler.yaml
  ray-operator/config/samples/ray-service.custom-serve-service.yaml
  ray-operator/config/samples/ray-service.different-port.yaml
  ray-operator/config/samples/ray-service.high-availability-locust.yaml
  ray-operator/config/samples/ray-service.high-availability.yaml
  ray-operator/config/samples/ray-service.sample.yaml
  ray-operator/config/samples/ray-service.text-ml.yaml
Due: none

update
  ray-operator/config/samples/ray-service.autoscaler.yaml
  ray-operator/test/e2erayservice/testdata/rayservice.autoscaling.yaml
Due: none

[docs][kubectl-plugin] improve help messages
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/cmd/session/session.go
Due: golangci-lint-kubectl-plugin
