Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

[Test] Implement RayService In-place update test in Golang (#2536)
  ray-operator/test/e2e/rayservice_in_place_update_test.go
  ray-operator/test/e2e/support.go
  ray-operator/test/sampleyaml/rayservice_test.go
  ray-operator/test/support/core.go
Due: golangci-lint-ray-operator

chore: Remove RayService sample YAML Python tests
  .buildkite/test-sample-yamls.yml
  tests/test_sample_rayservice_yamls.py
Due: none

fix expectation timeout case
  ray-operator/controllers/ray/expectations/scale_expectations.go
Due: golangci-lint-ray-operator

[Feat] Remove RayService sample YAML Python tests (#2565)
  .buildkite/test-sample-yamls.yml
  tests/test_sample_rayservice_yamls.py
Due: none

[RayCluster][Fix] Add expectations of RayCluster (#2150)
  ray-operator/controllers/ray/expectations/scale_expectations.go
  ray-operator/controllers/ray/expectations/scale_expectations_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

feat: support default function for containerEnv on additionalWorkerGroups in ray-cluster helm chart;
  helm-chart/ray-cluster/templates/raycluster-cluster.yaml
Due: none

:spark: Support Koordinator as one batch scheduler option
  ray-operator/controllers/ray/batchscheduler/koordinator/koordinator_scheduler.go
  ray-operator/controllers/ray/batchscheduler/schedulermanager.go
Due: golangci-lint-ray-operator

[RayJob][Refactor] use `ray job logs` to capture logs and be tolerant to duplicated job submission
  ray-operator/controllers/ray/common/job.go
  ray-operator/controllers/ray/common/job_test.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
Due: golangci-lint-ray-operator

add sample RayCluster using kube-rbac-proxy for dashboard access control
  ray-operator/config/samples/ray-cluster.auth.yaml
Due: none

feat: support default function for containerEnv on additionalWorkerGroups in ray-cluster helm chart; (#2570)
  helm-chart/ray-cluster/templates/raycluster-cluster.yaml
Due: none

[Docs] add sample RayCluster using kube-rbac-proxy for dashboard access control (#2578)
  ray-operator/config/samples/ray-cluster.auth.yaml
Due: none

[RayJob][Refactor] use grep -zv to exclude the duplicated job submission error message
  ray-operator/controllers/ray/common/job.go
  ray-operator/controllers/ray/common/job_test.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
Due: golangci-lint-ray-operator

Make use of managedBy field in RayJob reconciliation
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/test/e2e/rayjob_cluster_selector_test.go
  ray-operator/test/e2e/rayjob_test.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

Add managedBy field to the spec
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  ray-operator/apis/ray/v1/rayjob_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayjobspec.go
Due: golangci-lint-ray-operator

feat: Add a field to configure whether to add a proxy actor on the head Pod to the K8s serve service or not
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

docs: add AddProxyActorOnHeadPod field in doc
  docs/reference/api.md
Due: none

fix: code gen issue
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayservicespec.go
Due: golangci-lint-ray-operator

fix: change && to || to check rayServiceInstance.Spec.AddProxyActorOnHeadPod
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

avoid implicit package import
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator

[Feature][kubectl-plugin] return usage error when no entrypoint input (#2503)
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin

[no-op] Avoid implicit package import (#2599)
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator

Address comment: Prevent cache empty serveConfig
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

[RayService][Refactor] Change the ServeConfigs to nested map
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

Address comment: Add comment for ServeConfigs
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

Address comment: Change comments
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

[RayService][Refactor] Change the ServeConfigs to nested map (#2591)
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

Add test for autoscaler and its desired state
  ray-operator/test/e2eautoscaler/create_concurrent_tasks.py
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator

[Docs] add sample RayCluster with FluentBit sidecar to persist Ray logs
  ray-operator/config/samples/ray-cluster-fluentbit-sidecar.yaml
Due: none

fix: rm AddProxyActorOnHeadPod and change to ExcludeHeadPodFromServeSvc. Use flag as parameters in labelHeadPodForServeStatus
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayservicespec.go
Due: golangci-lint-ray-operator

[Doc] Remove KubeRay CLI references and add Python client details (#2521)
  README.md
  docs/components/pythonapiclient.md
  docs/components/pythonclient.md
  docs/development/development.md
  docs/index.md
  mkdocs.yml
Due: none

Fix RayCluster auth sample to include --config-file in kube-rbac-proxy
  ray-operator/config/samples/ray-cluster.auth.yaml
Due: none

[Docs] add sample RayCluster with FluentBit sidecar to persist Ray logs (#2602)
  ray-operator/config/samples/ray-cluster-fluentbit-sidecar.yaml
Due: none

[RayCluster][Feature] Make RayClusterStatusConditions feature gate Beta and enabled by default (#2562)
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/pkg/features/features.go
Due: golangci-lint-ray-operator

Fix RayCluster auth sample to include --config-file in kube-rbac-proxy (#2604)
  ray-operator/config/samples/ray-cluster.auth.yaml
Due: none

resolve linter issues
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
  ray-operator/test/e2eautoscaler/support.go
Due: golangci-lint-ray-operator

[Feature][kubectl-plugin] e2e test for 'kubectl ray log'
  kubectl-plugin/test/e2e/kubectl_ray_cluster_get_test.go
  kubectl-plugin/test/e2e/kubectl_ray_e2e_suite_test.go
  kubectl-plugin/test/e2e/kubectl_ray_log_test.go
Due: golangci-lint-kubectl-plugin

simplify python list
  ray-operator/test/e2eautoscaler/create_concurrent_tasks.py
Due: none

cleanup one wait group
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator

[Feature][kubectl-plugin] e2e test for 'kubectl ray log' (#2486)
  kubectl-plugin/test/e2e/kubectl_ray_cluster_get_test.go
  kubectl-plugin/test/e2e/kubectl_ray_e2e_suite_test.go
  kubectl-plugin/test/e2e/kubectl_ray_log_test.go
Due: golangci-lint-kubectl-plugin

use scale down window
  ray-operator/test/e2eautoscaler/create_concurrent_tasks.py
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator
