Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

golangci-lint-ray-operator:
  name: golangci-lint (ray-operator)
  entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

golangci-lint-kubectl-plugin:
  name: golangci-lint (kubectl-plugin)
  entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

Fix chat-template configuration to use os.getenv for consistency
  ray-operator/config/samples/vllm/serve_tools_2.py
Due: none

directly use tag
  .github/workflows/image-release.yaml
Due: none

integrate with rayci
  .buildkite/build-start-operator.sh
  .buildkite/test-e2e.yml
Due: none

use env. when in script
  .github/workflows/image-release.yaml
Due: none

Fix lint
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayservicestatus.go
Due: golangci-lint-ray-operator

env.tag when with
  .github/workflows/image-release.yaml
Due: none

[RayJob][Fix] Use --no-wait for job submission to avoid carrying the error return code to the log tailing
  ray-operator/controllers/ray/common/job.go
  ray-operator/controllers/ray/common/job_test.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
Due: golangci-lint-ray-operator

[RayService][Test] make sure annotation populated to RayCluster (#3210)
  ray-operator/controllers/ray/rayservice_controller_test.go
Due: golangci-lint-ray-operator

[operator] remove incorrect comment
  ray-operator/config/samples/ray-cluster.sample.yaml
Due: none

[fix][kubectl-plugin] remove hard-coded RayStartParams
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[operator] add `// +optional` to CRD fields with `omitempty`
  ray-operator/apis/ray/v1/raycluster_types.go
Due: golangci-lint-ray-operator

[refactor][operator]: make `RayStartParams` optional
  apiserver/test/e2e/cluster_server_e2e_test.go
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayclusters.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
  kubectl-plugin/pkg/util/generation/generation_test.go
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayclusters.yaml
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/common/service_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayjob_controller_test.go
  ray-operator/controllers/ray/rayservice_controller_test.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/headgroupspec.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/workergroupspec.go
  ray-operator/pkg/webhooks/v1/webhook_suite_test.go
Due: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

Cleanup
  ray-operator/config/samples/vllm/serve_tools_2.py
Due: none

test commit
  ray-operator/config/samples/vllm/serve_tools_2.py
Due: none

MESSAGE
  ray-operator/config/samples/vllm/serve_tools_2.py
Due: none

[RayJob][Fix] Use --no-wait for job submission to avoid carrying the error return code to the log tailing
  ray-operator/test/e2e/rayjob_retry_test.go
Due: golangci-lint-ray-operator

[operator] remove incorrect comment (#3218)
  ray-operator/config/samples/ray-cluster.sample.yaml
Due: none

[fix][proto] install missing `unzip` in Dockerfile
  proto/Dockerfile
Due: none

fix
  .buildkite/test-e2e.yml
Due: none

fix script
  .buildkite/build-start-operator.sh
Due: none

use env.tag for all
  .github/workflows/image-release.yaml
Due: none

address comments
  .buildkite/build-start-operator.sh
  docs/development/release.md
Due: none

add doc
  .buildkite/build-start-operator.sh
  .buildkite/ray-ci-integration.md
Due: none

update relase direction
  docs/development/release.md
Due: none

add directions for test that needs nightly ray
  .buildkite/ray-ci-integration.md
  .buildkite/test-e2e.yml
Due: none

chore: update comments
  ray-operator/controllers/ray/common/job.go
  ray-operator/test/e2e/rayjob_retry_test.go
Due: golangci-lint-ray-operator

Apply suggestions from code review
  .buildkite/ray-ci-integration.md
Due: none

print only if set
  .buildkite/test-e2e.yml
Due: none

[fix][proto] install missing `unzip` in Dockerfile (#3221)
  proto/Dockerfile
Due: none

set kuberay test image in kuberay and address comment
  .buildkite/build-start-operator.sh
  .buildkite/ray-ci-integration.md
Due: none

Fix field alignment
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayservicestatus.go
Due: golangci-lint-ray-operator

[Prometheus] Add ray_cluster_provisioned_duration_seconds metric
  ray-operator/controllers/ray/common/metrics.go
  ray-operator/controllers/ray/common/metrics_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/go.mod
Due: golangci-lint-ray-operator

[Prometheus] Add ray_cluster_head_pod_ready_duration_seconds metric
  ray-operator/controllers/ray/common/metrics.go
  ray-operator/controllers/ray/common/metrics_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/go.mod
Due: golangci-lint-ray-operator

[Prometheus] Add ray_services_created_total metric
  ray-operator/controllers/ray/common/metrics.go
  ray-operator/controllers/ray/common/metrics_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/go.mod
Due: golangci-lint-ray-operator

[Prometheus] Add ray_clusters_created_total metric
  ray-operator/controllers/ray/common/metrics.go
  ray-operator/controllers/ray/common/metrics_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/go.mod
Due: golangci-lint-ray-operator

update env variable
  .buildkite/build-start-operator.sh
Due: none

[RayJob][Test] refactor TestValidateRayJobSpec with table test
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

chore: add a comment about bash -e
  ray-operator/controllers/ray/rayjob_controller.go
Due: golangci-lint-ray-operator

py39
  .buildkite/build-start-operator.sh
Due: none

Path conditions:
  golangci-lint-ray-operator: any of: ^ray-operator/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
  golangci-lint-kubectl-plugin: any of: ^kubectl-plugin/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
