Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

[chore] remove redundant interface check
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

[Metrics] Add a RayCluster variable to the Grafana Dashboard to enable filtering of different RayClusters
  config/grafana/data_grafana_dashboard.json
  config/grafana/default_grafana_dashboard.json
Due: none

Change naming
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayservicespec.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayserviceupgradestrategy.go
  ray-operator/pkg/client/applyconfiguration/utils.go
Due: golangci-lint-ray-operator

[chore] remove redundant interface check (#2700)
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

[Feature] Support ARM image for test (#2699)
  ray-operator/test/support/environment.go
Due: golangci-lint-ray-operator

refactor use http const
  experimental/pkg/httpproxy/support.go
Due: none

[Feat][kubectl-plugin] Retry port-forward when connection lost
  kubectl-plugin/pkg/cmd/session/session.go
Due: golangci-lint-kubectl-plugin

Add e2e tests for kubectl ray session
  .github/workflows/kubectl-plugin-e2e-tests.yaml
  kubectl-plugin/test/e2e/kubectl_ray_session_test.go
Due: golangci-lint-kubectl-plugin

remove updateState
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/apis/ray/v1alpha1/rayservice_types.go
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

nit refactor
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

[RayService][refactor] Remove `updateState` (#2705)
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/apis/ray/v1alpha1/rayservice_types.go
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

modify ingress-related logs and remove ingress RBAC and stop watching ingress in service controller
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

[Refactor] modify ingress-related logs and remove ingress RBAC and stop watching ingress in service controller (#2708)
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

[Chore] remove unnecessary line break in log
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

Fix CI error
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

[Chore] remove unnecessary line break in log (#2709)
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

Refactor UpgradeStrategy to UpgradeSpec.Type (#2678)
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayservicespec.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayserviceupgradespec.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayserviceupgradestrategy.go
  ray-operator/pkg/client/applyconfiguration/utils.go
Due: golangci-lint-ray-operator

[Refactor] Replace Hard-Coded HTTP Values with Constants (#2702)
  experimental/pkg/httpproxy/support.go
Due: none

Refactor validateRayServiceSpec
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

[RayCluster][Feature] add GcsFaultToleranceOptions to the RayCluster CRD
  docs/reference/api.md
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayclusters.yaml
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/pkg/client/applyconfiguration/ray/v1/gcsfaulttoleranceoptions.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayclusterspec.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rediscredential.go
  ray-operator/pkg/client/applyconfiguration/utils.go
Due: golangci-lint-ray-operator

[RayCluster][Feature] setup container envs by the GcsFaultToleranceOptions
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/constant.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
Due: golangci-lint-ray-operator

[RayCluster][Feature] support redis username in the GCS FT cleanup
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

Address review comments 1
  docs/best-practice/gcs-fault-tolerance-persistent-redis.md
  ray-operator/config/samples/ray-cluster.persistent-redis.yaml
Due: none

downgrade runner image from ubuntu-latest to ubuntu-22.04
  .github/workflows/test-job.yaml
Due: none

also downgrade other yaml
  .github/workflows/consistency-check.yaml
  .github/workflows/helm-lint.yaml
  .github/workflows/image-release.yaml
Due: none

[CI] Downgrade runner image from ubuntu-latest to ubuntu-22.04 (#2714)
  .github/workflows/consistency-check.yaml
  .github/workflows/helm-lint.yaml
  .github/workflows/image-release.yaml
  .github/workflows/test-job.yaml
Due: none

Refactor validateRayServiceSpec (#2711)
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

[RayCluster][Feature] add GcsFaultToleranceOptions to the helm CRD
  helm-chart/kuberay-operator/crds/ray.io_rayclusters.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
Due: none

[RayCluster][Feature] support redis username in the GCS FT cleanup
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

[RayCluster][Feature] modify rayStartParams with redis-username and redis-password
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

[RayCluster][Feature] add an e2e test for GcsFaultToleranceOptions
  ray-operator/test/e2e/raycluster_test.go
Due: golangci-lint-ray-operator

Address comment
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
Due: golangci-lint-kubectl-plugin

[Refactor][Kubectl-plugin] Replace dynamic client with Ray client
  kubectl-plugin/cmd/kubectl-ray.go
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/util/client/client.go
  kubectl-plugin/pkg/util/client/client_test.go
  kubectl-plugin/pkg/util/types.go
Due: golangci-lint-kubectl-plugin

[Refactor][RayService] Unify ClusterAction decision to single function
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

Add support for retrieving logs for different ray resource types
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
Due: golangci-lint-kubectl-plugin

[Chore] make err as local variable in if-statement
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

[Chore] make err as local variable in if-statement (#2718)
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

Address comments: change comments
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator
