Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

golangci-lint-ray-operator:
  name: golangci-lint (ray-operator)
  entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

golangci-lint-kubectl-plugin:
  name: golangci-lint (kubectl-plugin)
  entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

[Refactor][RayService] Unify ClusterAction decision to single function (#2716)
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

[Chore] specify the capacity on calling make
  ray-operator/controllers/ray/common/service.go
Due: golangci-lint-ray-operator

[Grafana] add cluster variable to enable filtering of different RayClusters
  config/grafana/data_grafana_dashboard.json
  config/grafana/default_grafana_dashboard.json
  config/grafana/serve_deployment_grafana_dashboard.json
  config/grafana/serve_grafana_dashboard.json
Due: none

[RayCluster][Feature] add GcsFaultToleranceOptions to the RayCluster CRD [1/N] (#2715)
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayclusters.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayclusters.yaml
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/pkg/client/applyconfiguration/ray/v1/gcsfaulttoleranceoptions.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayclusterspec.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rediscredential.go
  ray-operator/pkg/client/applyconfiguration/utils.go
Due: golangci-lint-ray-operator

[RayCluster][Feature] setup GCS FT annotations and the RAY_REDIS_ADDRESS env by the GcsFaultToleranceOptions
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/constant.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/test/e2e/raycluster_test.go
Due: golangci-lint-ray-operator

[kubectl-plugin] Add support for retrieving logs for different ray resource types (#2677)
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
Due: golangci-lint-kubectl-plugin

[Refactor][Kubectl-plugin] Replace dynamic client with Ray client (#2703)
  kubectl-plugin/cmd/kubectl-ray.go
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/util/client/client.go
  kubectl-plugin/pkg/util/client/client_test.go
  kubectl-plugin/pkg/util/types.go
Due: golangci-lint-kubectl-plugin

[Feat][kubectl-plugin] Retry port-forward when connection lost (#2704)
  .github/workflows/kubectl-plugin-e2e-tests.yaml
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/test/e2e/kubectl_ray_session_test.go
Due: golangci-lint-kubectl-plugin

add uid/gid setings and python sdk for securityContext on ApiServer
  apiserver/pkg/model/converter.go
  apiserver/pkg/model/converter_test.go
  apiserver/pkg/util/cluster.go
  clients/python-apiserver-client/src/python_apiserver_client/params/__init__.py
  clients/python-apiserver-client/src/python_apiserver_client/params/headnode.py
  clients/python-apiserver-client/src/python_apiserver_client/params/securitycontext.py
  clients/python-apiserver-client/src/python_apiserver_client/params/templates.py
  clients/python-apiserver-client/src/python_apiserver_client/params/volumes.py
  clients/python-apiserver-client/src/python_apiserver_client/params/workernode.py
  clients/python-apiserver-client/test/api_params_test.py
  proto/cluster.proto
  proto/go_client/cluster.pb.go
  proto/kuberay_api.swagger.json
  proto/swagger/cluster.swagger.json
Due: none

[RayCluster][Feature] setup GCS FT annotations and the RAY_REDIS_ADDRESS env by the GcsFaultToleranceOptions (#2721)
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/constant.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/test/e2e/raycluster_test.go
Due: golangci-lint-ray-operator

[Chore] specify the capacity on calling make (#2719)
  ray-operator/controllers/ray/common/service.go
Due: golangci-lint-ray-operator

Remove preStop hooks from samples
  ray-operator/config/samples/ray-cluster.autoscaler-v2.yaml
  ray-operator/config/samples/ray-cluster.autoscaler.large.yaml
  ray-operator/config/samples/ray-cluster.autoscaler.yaml
  ray-operator/config/samples/ray-cluster.complete.large.yaml
  ray-operator/config/samples/ray-cluster.complete.yaml
  ray-operator/config/samples/ray-cluster.embed-grafana.yaml
  ray-operator/config/samples/ray-cluster.tls.yaml
  ray-operator/config/samples/ray-job.custom-head-svc.yaml
  ray-operator/config/samples/ray-job.resources.yaml
  ray-operator/config/samples/ray-job.sample.yaml
  ray-operator/config/samples/ray-job.shutdown.yaml
  ray-operator/config/samples/ray-service.autoscaler.yaml
  ray-operator/config/samples/ray-service.custom-serve-service.yaml
  ray-operator/config/samples/ray-service.different-port.yaml
  ray-operator/config/samples/ray-service.gke-model-configmap.yaml
  ray-operator/config/samples/ray-service.high-availability-locust.yaml
  ray-operator/config/samples/ray-service.high-availability.yaml
  ray-operator/config/samples/ray-service.mobilenet.yaml
  ray-operator/config/samples/ray-service.sample.yaml
  ray-operator/config/samples/ray-service.text-ml.yaml
Due: none

Remove added space
  ray-operator/config/samples/ray-cluster.autoscaler.large.yaml
Due: none

Remove preStop hooks from Ray CR Samples (#2724)
  ray-operator/config/samples/ray-cluster.autoscaler-v2.yaml
  ray-operator/config/samples/ray-cluster.autoscaler.large.yaml
  ray-operator/config/samples/ray-cluster.autoscaler.yaml
  ray-operator/config/samples/ray-cluster.complete.large.yaml
  ray-operator/config/samples/ray-cluster.complete.yaml
  ray-operator/config/samples/ray-cluster.embed-grafana.yaml
  ray-operator/config/samples/ray-cluster.tls.yaml
  ray-operator/config/samples/ray-job.custom-head-svc.yaml
  ray-operator/config/samples/ray-job.resources.yaml
  ray-operator/config/samples/ray-job.sample.yaml
  ray-operator/config/samples/ray-job.shutdown.yaml
  ray-operator/config/samples/ray-service.autoscaler.yaml
  ray-operator/config/samples/ray-service.custom-serve-service.yaml
  ray-operator/config/samples/ray-service.different-port.yaml
  ray-operator/config/samples/ray-service.gke-model-configmap.yaml
  ray-operator/config/samples/ray-service.high-availability-locust.yaml
  ray-operator/config/samples/ray-service.high-availability.yaml
  ray-operator/config/samples/ray-service.mobilenet.yaml
  ray-operator/config/samples/ray-service.sample.yaml
  ray-operator/config/samples/ray-service.text-ml.yaml
Due: none

Add test for custom idle timeout seconds
  ray-operator/Makefile
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator

Fix comment
  ray-operator/Makefile
Due: none

[Fix] Update Rayservice Troubleshooting Link
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

Update ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

[Fix] Update Ray Service Troubleshooting Link (#2727)
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

[RayCluster][Fix] DesiredReplicas, MinReplicas and MaxReplicas should respect workerGroupSpec.Suspend
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
Due: golangci-lint-ray-operator

Fix lint
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator

add --- to fold the logs correctly
  .buildkite/test-e2e.yml
  .buildkite/test-sample-yamls.yml
Due: none

[RayCluster][Feature] support redis password in GcsFaultToleranceOptions
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

[RayCluster][Feature] add e2e tests for GcsFaultToleranceOptions RedisPassword
  ray-operator/test/e2e/raycluster_test.go
Due: golangci-lint-ray-operator

[RayCluster][Chore] add comments for redis-password if gcsFaultToleranceOptions.redisPassword is set
  apiserver/test/cluster/cluster_external_redis.yaml
  ray-operator/config/samples/ray-cluster.external-redis-uri.yaml
  ray-operator/config/samples/ray-cluster.external-redis.yaml
  ray-operator/config/samples/ray-service.high-availability.yaml
Due: none

fix indent
  .buildkite/test-e2e.yml
Due: none

trim white space
  .buildkite/test-sample-yamls.yml
Due: none

print logs at the beginning of each test
  .buildkite/test-e2e.yml
  ray-operator/test/e2erayservice/rayservice_ha_test.go
  ray-operator/test/e2erayservice/rayservice_in_place_update_test.go
Due: golangci-lint-ray-operator

[Chore] remove unnecessary comments
  apiserver/test/cluster/cluster_external_redis.yaml
  ray-operator/config/samples/ray-cluster.external-redis-uri.yaml
  ray-operator/config/samples/ray-cluster.external-redis.yaml
  ray-operator/config/samples/ray-service.high-availability.yaml
  ray-operator/controllers/ray/common/pod.go
Due: golangci-lint-ray-operator

fix white space and print test function names
  .buildkite/test-e2e.yml
  .buildkite/test-sample-yamls.yml
  ray-operator/test/e2erayservice/rayservice_ha_test.go
Due: golangci-lint-ray-operator

add --- RUN and +++ PASS
  .buildkite/test-e2e.yml
  .buildkite/test-sample-yamls.yml
  ray-operator/test/e2e/raycluster_test.go
  ray-operator/test/e2e/rayjob_cluster_selector_test.go
  ray-operator/test/e2e/rayjob_lightweight_test.go
  ray-operator/test/e2e/rayjob_recovery_test.go
  ray-operator/test/e2e/rayjob_retry_test.go
  ray-operator/test/e2e/rayjob_suspend_test.go
  ray-operator/test/e2e/rayjob_test.go
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
  ray-operator/test/e2erayservice/rayservice_ha_test.go
  ray-operator/test/e2erayservice/rayservice_in_place_update_test.go
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/sampleyaml/rayjob_test.go
  ray-operator/test/sampleyaml/rayservice_test.go
Due: golangci-lint-ray-operator

fix end white space
  .buildkite/test-e2e.yml
Due: none

add parallel and use ### for PASS
  .buildkite/test-e2e.yml
  .buildkite/test-sample-yamls.yml
Due: none

merge stderr and stdout
  .buildkite/test-e2e.yml
Due: none

[Chore] make the same code as util function to avoid duplicate code
  ray-operator/test/e2e/raycluster_test.go
  ray-operator/test/e2e/support.go
Due: golangci-lint-ray-operator

[Chore] add util function redisDeploymentApplyConfigurationWithoutPassword
  ray-operator/test/e2e/raycluster_test.go
  ray-operator/test/e2e/support.go
Due: golangci-lint-ray-operator

feat: validation of RayFTEnabled == false and GcsFaultToleranceOptions no nil
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

fix: rm panic and set status in instance
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

Revert "fix: rm panic and set status in instance"
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

feat: add validateRayClusterSpec in the beginning of rayClusterReconcile
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

Path conditions:
  golangci-lint-ray-operator: any of: ^ray-operator/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
  golangci-lint-kubectl-plugin: any of: ^kubectl-plugin/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
