Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

upgrade go.mod
  ray-operator/go.mod
  ray-operator/go.sum
Due: none

add test queue yaml
  ray-operator/config/samples/ray-cluster.volcano-scheduler-test-queue.yaml
Due: none

[RayService] make RayClusterSpec required (#3169)
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayService][Test] util for creating empty RayClusterSpec in test
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

enable CI checks for release-1.3 branch (#3066)
  .github/workflows/consistency-check.yaml
  .github/workflows/helm-lint.yaml
  .github/workflows/test-job.yaml
Due: none

enable CI checks for release-1.3 branch (#3066) (#3183)
  .github/workflows/consistency-check.yaml
  .github/workflows/helm-lint.yaml
  .github/workflows/test-job.yaml
Due: none

plugin job submit consistently uses field manager
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin

kubectl ray job submit: provide entrypoint
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
Due: golangci-lint-kubectl-plugin

kubectl plugin: version shows commit for dev
  kubectl-plugin/pkg/cmd/version/version.go
Due: golangci-lint-kubectl-plugin

[Doc] Add a YAML to explain why some worker pod are not ready in RayService (#3139)
  ray-operator/config/samples/ray-serve/single_deployment_dag.py
  ray-operator/config/samples/ray-service.no-ray-serve-replica.yaml
Due: none

merge test-queue with ray-cluster
  ray-operator/config/samples/ray-cluster.volcano-scheduler-queue.yaml
  ray-operator/config/samples/ray-cluster.volcano-scheduler-test-queue.yaml
Due: none

[ci] remove the test for modin because its certificate is broken (#3135)
  ray-operator/test/sampleyaml/rayjob_test.go
Due: golangci-lint-ray-operator

[CI] fix locust versions (#3100)
  ray-operator/test/e2erayservice/rayservice_ha_test.go
Due: golangci-lint-ray-operator

Update controller logic to reconcile incremental upgrade
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/config/samples/ray-service.tpu-single-host.yaml
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/utils/constant.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayservicestatus.go
Due: golangci-lint-ray-operator

TrafficRoutedPercent should not set default value
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
Due: golangci-lint-ray-operator

Remove test changes to TPU manifest
  ray-operator/config/samples/ray-service.tpu-single-host.yaml
Due: none

Move helper function to utils
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/utils/util.go
Due: golangci-lint-ray-operator

Update go dependencies of apiserver and kubectl-plugin for gateway-api
  apiserver/go.mod
  apiserver/go.sum
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
Due: none

Fix typo
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin

[RayService][Test] util for creating empty RayClusterSpec in test (#3182)
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[doc] update file name for container images page
  mkdocs.yml
Due: none

kubectl ray job submit: provide entrypoint (#3186)
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] add `scale` command
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/cmd/scale/scale.go
  kubectl-plugin/pkg/cmd/scale/scale_cluster.go
  kubectl-plugin/pkg/cmd/scale/scale_cluster_test.go
Due: golangci-lint-kubectl-plugin

custom prestop hook
  ray-operator/apis/config/v1alpha1/configuration_types.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/constant.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

Add DrainOnPreStop configuration option
  ray-operator/apis/config/v1alpha1/configuration_types.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

[feat][kubectl-plugin] add `scale` command (#2926)
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/cmd/scale/scale.go
  kubectl-plugin/pkg/cmd/scale/scale_cluster.go
  kubectl-plugin/pkg/cmd/scale/scale_cluster_test.go
Due: golangci-lint-kubectl-plugin

[doc] update file name for container images page (#3189)
  mkdocs.yml
Due: none

[RayCluster]Upgrade volcano to 1.11.0 (#3159)
  ray-operator/config/samples/ray-cluster.volcano-scheduler-queue.yaml
  ray-operator/go.mod
  ray-operator/go.sum
Due: none

feat: add aggregated clusterrole
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/templates/ray_raycluster_role.yaml
  helm-chart/kuberay-operator/templates/ray_rayjob_editor_role.yaml
  helm-chart/kuberay-operator/templates/ray_rayjob_role.yaml
  helm-chart/kuberay-operator/templates/ray_rayjob_viewer_role.yaml
  helm-chart/kuberay-operator/templates/ray_rayservice_editor_role.yaml
  helm-chart/kuberay-operator/templates/ray_rayservice_role.yaml
Due: none

[RayService][Test] add an expected error test case on ValidateRayClusterSpec
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayService] validate RayClusterSpec on ValidateRayServiceSpec
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

[RayService] use IsZero to check empty RayClusterSpec
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

[RayService][Test] refactor TestValidateRayServiceSpec with table test.
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayService][Test] resolve conflict and apply RayClusterSpec required
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

Format code for better readability in serve.py
  ray-operator/config/samples/vllm/serve.py
Due: none

Add configuration options for auto tool choice and tool call parser in serve.py
  ray-operator/config/samples/vllm/serve.py
Due: none

Fix whitespace in configuration options for auto tool choice and tool call parser in serve.py
  ray-operator/config/samples/vllm/serve.py
Due: none

Update argument parsing to include auto tool choice and tool call parser options
  ray-operator/config/samples/vllm/serve.py
Due: none
