Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

Fix tests
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator

fix wrong length assertion err
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator

[RayJob][Chore] make err as a local variable (#2789)
  ray-operator/controllers/ray/rayjob_controller.go
Due: golangci-lint-ray-operator

[Refactor] Move `validateRayClusterStatus` function to `validation.go` and move unit test to `validation_test.go` (#2780)
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

Account for min 5 concurrent pending launches
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

[kubectl-plugin] silence warnings when creating worker groups
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
Due: golangci-lint-kubectl-plugin

update
  helm-chart/kuberay-apiserver/Chart.yaml
  helm-chart/kuberay-apiserver/values.yaml
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/Chart.yaml
  ray-operator/config/default/kustomization.yaml
Due: none

[release v1.3.0-alpha.0] Update tags and versions (#2791)
  helm-chart/kuberay-apiserver/Chart.yaml
  helm-chart/kuberay-apiserver/values.yaml
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/Chart.yaml
  ray-operator/config/default/kustomization.yaml
Due: none

update
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[Telemetry][v1.3.0-alpha.0] Update KUBERAY_VERSION (#2793)
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[kubectl-plugin] silence warnings when creating worker groups (#2792)
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
Due: golangci-lint-kubectl-plugin

[RayCluster][Feature] reject redis username to head pod out side of GcsFaultToleranceOptions
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

[CI] Make release.yaml only be triggered manually
  .github/workflows/kubectl-plugin-release.yaml
Due: none

WIP: Debug CI
  .github/workflows/kubectl-plugin-release.yaml
Due: none

[CI] Make release.yaml only be triggered manually
  .github/workflows/kubectl-plugin-release.yaml
  docs/development/release.md
Due: none

[CI] Make release.yaml only be triggered manually (#2798)
  .github/workflows/kubectl-plugin-release.yaml
  docs/development/release.md
Due: none

[RayCluster][Feature] reject redis username to head pod out side of GcsFaultToleranceOptions (#2796)
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

Bump golang.org/x/net to fix vulnerability
  ray-operator/go.mod
  ray-operator/go.sum
Due: none

Bump apiserver go version
  apiserver/go.mod
  apiserver/go.sum
Due: none

Bump other folders
  experimental/go.mod
  experimental/go.sum
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
Due: none

[CI] Skip kubectl plugin flaky e2e tests
  kubectl-plugin/test/e2e/kubectl_ray_job_submit_test.go
Due: golangci-lint-kubectl-plugin

[CI] Skip kubectl plugin flaky e2e tests (#2800)
  kubectl-plugin/test/e2e/kubectl_ray_job_submit_test.go
Due: golangci-lint-kubectl-plugin

Bump golang.org/x/net to v0.33.0 fix upstream vulnerability (#2799)
  apiserver/go.mod
  apiserver/go.sum
  experimental/go.mod
  experimental/go.sum
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  ray-operator/go.mod
  ray-operator/go.sum
Due: none

[Chore] update comment for headGroupSpec and entrypoint
  docs/reference/api.md
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/rayjob_types.go
  ray-operator/apis/ray/v1alpha1/raycluster_types.go
  ray-operator/apis/ray/v1alpha1/rayjob_types.go
Due: golangci-lint-ray-operator

refactor: move ValidateRayClusterSpec to validation.go and its unit test to validation_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

fix: pkg issue
  apiserver/go.mod
  apiserver/go.sum
Due: none

fix: linter issue
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

fix: rebase problem
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

fix: linter issue
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[Chore] update comment for headGroupSpec and entrypoint (#2802)
  docs/reference/api.md
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/rayjob_types.go
  ray-operator/apis/ray/v1alpha1/raycluster_types.go
  ray-operator/apis/ray/v1alpha1/rayjob_types.go
Due: golangci-lint-ray-operator

[Refactor] Move `ValidateRayClusterSpec` to `validation.go` and its `unit test` to `validation_test.go` (#2790)
  apiserver/go.mod
  apiserver/go.sum
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayService] Unify the cluster switch over logic together
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

finish test1
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
Due: golangci-lint-ray-operator

create raycluster-gcs_ft_test.go
  ray-operator/test/e2e/raycluster-gcs_ft_test.go
Due: golangci-lint-ray-operator

add ray-cluster.ray-ft.yaml and use it to create redis
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
  ray-operator/test/e2e/testdata/ray-cluster.ray-ft.yaml
Due: golangci-lint-ray-operator

renamed file and created ray cluster
  ray-operator/test/e2e/raycluster-gcs_ft_test.go
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
Due: golangci-lint-ray-operator

remove unused import
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
Due: golangci-lint-ray-operator

add newline to py
  ray-operator/test/e2e/test_detached_actor_1.py
  ray-operator/test/e2e/test_detached_actor_2.py
Due: none
