Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

golangci-lint-ray-operator:
  name: golangci-lint (ray-operator)
  entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

golangci-lint-kubectl-plugin:
  name: golangci-lint (kubectl-plugin)
  entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

Shorten names
  ray-operator/config/samples/ray-cluster.tpu-v6e-16-multihost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v6e-256-multihost.yaml
Due: none

[release] Update Yunikorn YAML file to Ray 2.41 (#2969)
  ray-operator/config/samples/ray-cluster.yunikorn-scheduler.yaml
Due: none

[release] Update YuniKorn YAML files to Ray 2.41 (#2976)
  ray-operator/config/samples/ray-cluster.volcano-scheduler-queue.yaml
  ray-operator/config/samples/ray-cluster.volcano-scheduler.yaml
Due: none

[chore][docs] enable Markdownlint rule MD004 (#2973)
  ci/markdownlint.yaml
  docs/guidance/rayStartParams.md
Due: none

[Test] Use GcsFaultToleranceOptions in test and backward compatibility (#2972)
  ray-operator/config/samples/ray-cluster.deprecate-gcs-ft.yaml
  ray-operator/config/samples/ray-service.high-availability.yaml
  ray-operator/test/e2erayservice/testdata/ray-service.ft.yaml
  ray-operator/test/sampleyaml/raycluster_test.go
Due: golangci-lint-ray-operator

Update samples to use Ray 2.41.0 images
  ray-operator/config/samples/pytorch-mnist/ray-job.pytorch-mnist.yaml
  ray-operator/config/samples/pytorch-resnet-image-classifier/ray-job.pytorch-image-classifier.yaml
  ray-operator/config/samples/pytorch-text-classifier/ray-job.pytorch-distributed-training.yaml
  ray-operator/config/samples/ray-data-image-resize/ray-data-image-resize-gcsfusecsi-job.yaml
  ray-operator/config/samples/ray-data-image-resize/ray-job.image-resize.yaml
Due: none

Update samples to use Ray 2.41.0 images (#2964)
  ray-operator/config/samples/pytorch-mnist/ray-job.pytorch-mnist.yaml
  ray-operator/config/samples/pytorch-resnet-image-classifier/ray-job.pytorch-image-classifier.yaml
  ray-operator/config/samples/pytorch-text-classifier/ray-job.pytorch-distributed-training.yaml
  ray-operator/config/samples/ray-data-image-resize/ray-data-image-resize-gcsfusecsi-job.yaml
  ray-operator/config/samples/ray-data-image-resize/ray-job.image-resize.yaml
Due: none

Update TPU Ray CR manifests to use Ray 2.41.0 (#2965)
  ray-operator/config/samples/ray-cluster.tpu-v4-multihost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v4-singlehost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v6e-16-multihost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v6e-256-multihost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v6e-singlehost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-16-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-256-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-singlehost.yaml
  ray-operator/config/samples/ray-service.tpu-single-host.yaml
Due: none

[Refactor] Use constants for image tag, image repo, and versions in golang to avoid hard-coded strings (#2978)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/constant.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[#2905] Fix the golangci-lint error
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

[#2905] Update the golangci.yml
  .golangci.yml
Due: none

update version to v1.3.0-rc.1
  helm-chart/kuberay-apiserver/Chart.yaml
  helm-chart/kuberay-apiserver/values.yaml
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/Chart.yaml
  ray-operator/config/default/kustomization.yaml
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[kubectl-plugin] Fix panic when working_dir is not set
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin

add comments
  .buildkite/format.awk
Due: none

Update raycluster_gcsft_test.go
  ray-operator/test/e2e/raycluster_gcsft_test.go
Due: golangci-lint-ray-operator

[Feature] [Fix] Ensure Correct Logs Display for Go Test Logs in Buildkite Runner (#2837)
  .buildkite/format.awk
  .buildkite/test-e2e.yml
  .buildkite/test-sample-yamls.yml
Due: none

[CI][#2905] Improvement: enable `testifylint` `compares` rule (#2977)
  .golangci.yml
  kubectl-plugin/pkg/cmd/log/log_test.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

[kubectl-plugin] Support specifying number of head GPUs and worker GPUs for Rayjob
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[refactor][kubectl-plugin] remove unnecessary lines
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/version/version_test.go
Due: golangci-lint-kubectl-plugin

update format to use awk
  .buildkite/test-kubectl-plugin-e2e.yml
Due: none

add awk
  .buildkite/test-kubectl-plugin-e2e.yml
Due: none

[fix][kubectl-plugin] return error when getting a non-existent cluster
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
Due: golangci-lint-kubectl-plugin

update version to v1.3.0-rc.1 (#2984)
  helm-chart/kuberay-apiserver/Chart.yaml
  helm-chart/kuberay-apiserver/values.yaml
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/Chart.yaml
  ray-operator/config/default/kustomization.yaml
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[fix][kubectl-plugin] use explicit context for session cmd
  kubectl-plugin/pkg/cmd/session/session.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] forward GCS 6379 port
  kubectl-plugin/pkg/cmd/session/session.go
Due: golangci-lint-kubectl-plugin

[fix][kubectl-plugin] fix some test errors
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/version/version_test.go
Due: golangci-lint-kubectl-plugin

[refactor][kubectl-plugin] remove unnecessary lines (#2991)
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/version/version_test.go
Due: golangci-lint-kubectl-plugin

Add vLLM TPU example RayService
  ray-operator/config/samples/vllm/ray-service.vllm-tpu-v6e-singlehost.yaml
  ray-operator/config/samples/vllm/serve_tpu.py
Due: none

[Fix] Standardize Buildkite Display Format Across All Tests (#2992)
  .buildkite/test-kubectl-plugin-e2e.yml
Due: none

fix
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

feat: add custom logger for testing.T.Logf to print timestamp
  ray-operator/test/support/test.go
Due: golangci-lint-ray-operator

feat: applied LogWithTimestamp to ray-operator/test/e2e
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
  ray-operator/test/e2e/raycluster_gcsft_test.go
  ray-operator/test/e2e/raycluster_test.go
  ray-operator/test/e2e/rayjob_cluster_selector_test.go
  ray-operator/test/e2e/rayjob_lightweight_test.go
  ray-operator/test/e2e/rayjob_recovery_test.go
  ray-operator/test/e2e/rayjob_retry_test.go
  ray-operator/test/e2e/rayjob_suspend_test.go
  ray-operator/test/e2e/rayjob_test.go
Due: golangci-lint-ray-operator

feat: applied LogWithTimestamp to ray-operator/test/e2eautoscaler
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator

feat: applied LogWithTimestamp to ray-operator/test/e2erayservice
  ray-operator/test/e2erayservice/rayservice_ha_test.go
  ray-operator/test/e2erayservice/rayservice_in_place_update_test.go
  ray-operator/test/e2erayservice/rayservice_redeploy_test.go
  ray-operator/test/e2erayservice/rayservice_upgrade_test.go
Due: golangci-lint-ray-operator

feat: applied LogWithTimestamp to ray-operator/test/sampleyaml
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/sampleyaml/rayjob_test.go
  ray-operator/test/sampleyaml/rayservice_test.go
Due: golangci-lint-ray-operator

feat: applied LogWithTimestamp to ray-operator/test/support
  ray-operator/test/support/core.go
  ray-operator/test/support/test.go
  ray-operator/test/support/yaml.go
Due: golangci-lint-ray-operator

[Autoscaler] Print the value of WorkerGroupSpec.Replicas
  ray-operator/test/e2erayservice/rayservice_ha_test.go
Due: golangci-lint-ray-operator

feat: applied LogWithTimestamp to ray-operator/test/e2e (0211 fix)
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
Due: golangci-lint-ray-operator

[Refactor] Merge raycluster_gcs_ft_test.go and raycluster_gcsft_test.go
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
  ray-operator/test/e2e/raycluster_gcsft_test.go
Due: golangci-lint-ray-operator

Path conditions:
  golangci-lint-ray-operator: any of: ^ray-operator/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
  golangci-lint-kubectl-plugin: any of: ^kubectl-plugin/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
