Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

[CI] Move e2e tests to buildkite
  .buildkite/test-e2e.yml
  .github/workflows/e2e-tests.yaml
  .github/workflows/kubectl-plugin-e2e-tests.yaml
Due: none

feat: ray serve ha test - fault tolerance
  ray-operator/test/e2e/rayservice_ha_test.go
  ray-operator/test/e2e/testdata/rayservice.ft.yaml
Due: golangci-lint-ray-operator

chore: set RAY_gcs_rpc_server_reconnect_timeout_s to reduce wait for gcs to be kill
  ray-operator/test/e2e/rayservice_ha_test.go
  ray-operator/test/e2e/testdata/rayservice.ft.yaml
Due: golangci-lint-ray-operator

fix: add redis config to rayservice.ft.yaml
  ray-operator/test/e2e/testdata/rayservice.ft.yaml
Due: none

[RayCluster] add GPUShare to known custom accelerators
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

[Refactor] Use global constants for Ray versions and Ray image versions in go tests
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayjob_controller_test.go
  ray-operator/controllers/ray/rayservice_controller_test.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

api server e2e
  apiserver/test/e2e/cluster_server_autoscaler_e2e_test.go
  apiserver/test/e2e/cluster_server_e2e_test.go
  apiserver/test/e2e/defaults.go
  apiserver/test/e2e/job_server_e2e_test.go
  apiserver/test/e2e/job_submission_e2e_test.go
  apiserver/test/e2e/service_server_e2e_test.go
  apiserver/test/e2e/types.go
Due: none

prioritize memory limits over requests for /dev/shm size
  ray-operator/controllers/ray/common/pod.go
Due: golangci-lint-ray-operator

[RayJob][Refactor] use ray job status first and tolerant to duplicated job submission
  ray-operator/controllers/ray/common/job.go
  ray-operator/controllers/ray/common/job_test.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
Due: golangci-lint-ray-operator

[CI] Move e2e tests to buildkite (#2639)
  .buildkite/test-e2e.yml
  .github/workflows/e2e-tests.yaml
  .github/workflows/kubectl-plugin-e2e-tests.yaml
Due: none

[Chore][CI] Remove StreamKubeRayOperatorLogs (#2637)
  ray-operator/test/e2e/raycluster_test.go
  ray-operator/test/e2e/rayjob_cluster_selector_test.go
  ray-operator/test/e2e/rayjob_lightweight_test.go
  ray-operator/test/e2e/rayjob_retry_test.go
  ray-operator/test/e2e/rayjob_suspend_test.go
  ray-operator/test/e2e/rayjob_test.go
  ray-operator/test/e2e/rayservice_ha_test.go
  ray-operator/test/e2e/rayservice_in_place_update_test.go
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/sampleyaml/rayjob_test.go
  ray-operator/test/sampleyaml/rayservice_test.go
  ray-operator/test/support/test.go
Due: golangci-lint-ray-operator

prioritize memory limits over requests for /dev/shm size (#2642)
  ray-operator/controllers/ray/common/pod.go
Due: golangci-lint-ray-operator

[Refactor] Use global constants for Ray versions and Ray image versions in go tests (#2641)
  apiserver/test/e2e/cluster_server_autoscaler_e2e_test.go
  apiserver/test/e2e/cluster_server_e2e_test.go
  apiserver/test/e2e/defaults.go
  apiserver/test/e2e/job_server_e2e_test.go
  apiserver/test/e2e/job_submission_e2e_test.go
  apiserver/test/e2e/service_server_e2e_test.go
  apiserver/test/e2e/types.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayjob_controller_test.go
  ray-operator/controllers/ray/rayservice_controller_test.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

chore: rename the yaml file
  ray-operator/test/e2e/rayservice_ha_test.go
  ray-operator/test/e2e/testdata/ray-service.ft.yaml
Due: golangci-lint-ray-operator

fix: remove goroutine and add additional check
  ray-operator/test/e2e/rayservice_ha_test.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

style: fix linter issue
  ray-operator/test/e2e/rayservice_ha_test.go
Due: golangci-lint-ray-operator

[RayJob][Refactor] use ray job status first and tolerant to duplicated job submission
  ray-operator/controllers/ray/common/job.go
Due: golangci-lint-ray-operator

Make sure kubectl ray logs only get ray container logs
  kubectl-plugin/pkg/cmd/log/log.go
Due: golangci-lint-kubectl-plugin

Make sure kubectl ray logs only get ray container logs (#2649)
  kubectl-plugin/pkg/cmd/log/log.go
Due: golangci-lint-kubectl-plugin

update
  .buildkite/test-e2e.yml
  ray-operator/test/e2e/rayservice_in_place_update_test.go
Due: golangci-lint-ray-operator

Add kubectl ray delete rayservice/job/cluster
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/ray.go
Due: golangci-lint-kubectl-plugin

[CI] Unjail TestRayServiceInPlaceUpdate (#2650)
  ray-operator/test/e2e/rayservice_in_place_update_test.go
Due: golangci-lint-ray-operator

fix: use Eventually to make sure RayServicesNumEndPoints is correct
  ray-operator/test/e2e/rayservice_ha_test.go
Due: golangci-lint-ray-operator

[RayJob][Refactor] use `ray job status` and `ray jog lobs` to be tolerant of duplicated job submissions (#2579)
  ray-operator/controllers/ray/common/job.go
  ray-operator/controllers/ray/common/job_test.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
Due: golangci-lint-ray-operator

default RayClusterStatusConditions=true in helm-chart
  helm-chart/kuberay-operator/values.yaml
Due: none

default RayClusterStatusConditions=true in helm-chart (#2656)
  helm-chart/kuberay-operator/values.yaml
Due: none

update volcano to v1.10.0
  ray-operator/go.mod
  ray-operator/go.sum
Due: none

[RayService] Use waitGroup to ensure goroutine completion in rayservice_ha_test
  ray-operator/test/e2e/rayservice_ha_test.go
Due: golangci-lint-ray-operator

Add kubectl ray delete rayservice/job/cluster (#2635)
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/ray.go
Due: golangci-lint-kubectl-plugin

[RayService] Use waitGroup to ensure goroutine completion in rayservice_ha_test (#2657)
  ray-operator/test/e2e/rayservice_ha_test.go
Due: golangci-lint-ray-operator

[Feature] RayService HA test - GCS fault tolerance + kill GCS process (#2590)
  ray-operator/test/e2e/rayservice_ha_test.go
  ray-operator/test/e2e/testdata/ray-service.ft.yaml
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

Add rayjob yaml generation to ray job submit command
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

Add rayjob yaml generation to ray job submit command (#2644)
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

update
  ray-operator/test/e2e/testdata/ray-service.ft.yaml
  ray-operator/test/support/yaml.go
Due: golangci-lint-ray-operator

[CI] Deflaky TestRayServiceGCSFaultTolerance (#2660)
  ray-operator/test/e2e/testdata/ray-service.ft.yaml
  ray-operator/test/support/yaml.go
Due: golangci-lint-ray-operator

[RayCluster][CI] default RayClusterStatusConditions=true in make deploy
  ray-operator/config/manager/manager.yaml
Due: none

[RayCluster][CI] add e2e tests for RayClusterStatusCondition
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/support/ray.go
  ray-operator/test/support/yaml.go
Due: golangci-lint-ray-operator

[RayCluster][CI] fail fast all support functions in test/support/yaml.go
  ray-operator/test/support/yaml.go
Due: golangci-lint-ray-operator
