Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

Update README.Truong Minh Dien
  README.md
Due: none

[refactor][kubectl-plugin] require cluster in `create workergroup`
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
Due: golangci-lint-kubectl-plugin

Update
  truong Minh Dien
Due: none

[Refactor] Merge raycluster_gcs_ft_test.go and raycluster_gcsft_test.go (#3008)
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
  ray-operator/test/e2e/raycluster_gcsft_test.go
Due: golangci-lint-ray-operator

[fix][kubectl-plugin] use explicit context for session cmd (#2994)
  kubectl-plugin/pkg/cmd/session/session.go
Due: golangci-lint-kubectl-plugin

[fix][kubectl-plugin] fix some test errors (#2997)
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/version/version_test.go
Due: golangci-lint-kubectl-plugin

[kubectl-plugin] Fix panic when working_dir is not set (#2988)
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin

[Autoscaler] Print the value of WorkerGroupSpec.Replicas (#3005)
  ray-operator/test/e2erayservice/rayservice_ha_test.go
Due: golangci-lint-ray-operator

Fix incorrect comment in raycluster_controller.go (#3003)
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

[Fix][CI] kubectl plugin krew index CI error
  .github/workflows/kubectl-plugin-release.yaml
Due: none

[Fix][CI] kubectl plugin krew index CI error (#3015)
  .github/workflows/kubectl-plugin-release.yaml
Due: none

[refactor][kubectl-plugin] require cluster in `create workergroup` (#3010)
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
Due: golangci-lint-kubectl-plugin

[kubectl-plugin] Support specifying number of head GPUs and worker GPUs for Rayjob (#2989)
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[fix][kubectl-plugin] incorrect console message
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin

[Fix][CI] E2E tests do not reflect error
  .buildkite/test-e2e.yml
  .buildkite/test-kubectl-plugin-e2e.yml
  .buildkite/test-sample-yamls.yml
Due: none

[Fix][CI] E2E tests do not reflect error (#3021)
  .buildkite/test-e2e.yml
  .buildkite/test-kubectl-plugin-e2e.yml
  .buildkite/test-sample-yamls.yml
Due: none

[DO NOT MERGE] Debug CI
  a
Due: none

Add comments
  ray-operator/config/samples/vllm/ray-service.vllm-tpu-v6e-singlehost.yaml
Due: none

Lint
  ray-operator/config/samples/vllm/serve_tpu.py
Due: none

Test tools calling
  ray-operator/config/samples/vllm/serve_tools.py
Due: none

Test
  ray-operator/config/samples/vllm/serve_tools.py
Due: none

[Fix][kubectl-plugin] Don't print wrapped error for job submit startup
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin

change headPod name to fixed name
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

Remove scenario of headPod num > 1
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

remove checking headpod name since the headpod ame is fixed now
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
Due: golangci-lint-ray-operator

remove checking headpod name in rayservice_redeploy_test since the headpod name is fixed now
  ray-operator/test/e2erayservice/rayservice_redeploy_test.go
Due: golangci-lint-ray-operator

[refactor][kubectl-plugin] programatically port forward
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/cmd/session/session_test.go
  kubectl-plugin/pkg/cmd/version/version_test.go
  kubectl-plugin/pkg/util/client/client.go
Due: golangci-lint-kubectl-plugin

add created time check to idenify new head pod has been inited
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
Due: golangci-lint-ray-operator

Add vLLM TPU example RayService manifest (#3000)
  ray-operator/config/samples/vllm/ray-service.vllm-tpu-v6e-singlehost.yaml
  ray-operator/config/samples/vllm/serve_tpu.py
Due: none

use UID to check for new HeadPod in rayService & rayCluster test and add error log when multiple headpod is found
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
  ray-operator/test/e2erayservice/rayservice_redeploy_test.go
Due: golangci-lint-ray-operator

modify kubectl-plugin ray log regex to fit the head pod fixed name
  kubectl-plugin/test/e2e/kubectl_ray_log_test.go
Due: golangci-lint-kubectl-plugin

[fix][kubectl-plugin] return error when getting a non-existent cluster (#2990)
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
Due: golangci-lint-kubectl-plugin

[Fix][kubectl-plugin] Don't print wrapped error for job submit startup (#3027)
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin

[Feature] Add timestamps for logs in e2e tests (#3006)
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
  ray-operator/test/e2e/raycluster_test.go
  ray-operator/test/e2e/rayjob_cluster_selector_test.go
  ray-operator/test/e2e/rayjob_lightweight_test.go
  ray-operator/test/e2e/rayjob_recovery_test.go
  ray-operator/test/e2e/rayjob_retry_test.go
  ray-operator/test/e2e/rayjob_suspend_test.go
  ray-operator/test/e2e/rayjob_test.go
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
  ray-operator/test/e2erayservice/rayservice_ha_test.go
  ray-operator/test/e2erayservice/rayservice_in_place_update_test.go
  ray-operator/test/e2erayservice/rayservice_redeploy_test.go
  ray-operator/test/e2erayservice/rayservice_upgrade_test.go
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/sampleyaml/rayjob_test.go
  ray-operator/test/sampleyaml/rayservice_test.go
  ray-operator/test/support/core.go
  ray-operator/test/support/test.go
  ray-operator/test/support/yaml.go
Due: golangci-lint-ray-operator

[refactor][kubectl-plugin] use cobra's posargs length validator
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
Due: golangci-lint-kubectl-plugin

update
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
Due: golangci-lint-ray-operator
