Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

[CI] Remove create tag step from release (#3249)
  .github/workflows/image-release.yaml
Due: none

[Refactor] move `rayStartParams` to options.complete (#3260)
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
Due: golangci-lint-kubectl-plugin

[operator] add `+optional` to CRD fields that are optional (#3231)
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/rayjob_types.go
  ray-operator/apis/ray/v1/rayservice_types.go
Due: golangci-lint-ray-operator

Update KubeRay release documentation (#3226)
  docs/development/release.md
Due: none

[feat][plugin] support creating RayCluster with config file
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/constant.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[kubectl-plugin] Support node selectors for kubectl ray job submit
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin

[release-1.3] v1.3.2 backports (#3264)
  .github/workflows/image-release.yaml
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
  ray-operator/controllers/ray/common/job.go
  ray-operator/controllers/ray/common/job_test.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
  ray-operator/test/e2e/rayjob_retry_test.go
Due: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

bump version to v1.3.2
  helm-chart/kuberay-apiserver/Chart.yaml
  helm-chart/kuberay-apiserver/values.yaml
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/Chart.yaml
  ray-operator/config/default/kustomization.yaml
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

docs: minor formatting changes to ray-operator dev
  ray-operator/DEVELOPMENT.md
Due: none

docs: minor formatting changes to ray-operator dev (#3267)
  ray-operator/DEVELOPMENT.md
Due: none

[fix][kubectl-plugin] remove hard-coded RayStartParams
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[refactor][operator]: make RayStartParams optional
  apiserver/test/e2e/cluster_server_e2e_test.go
  helm-chart/kuberay-operator/crds/ray.io_rayclusters.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/config/crd/bases/ray.io_rayclusters.yaml
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayjob_controller_test.go
  ray-operator/controllers/ray/rayservice_controller_test.go
  ray-operator/pkg/webhooks/v1/webhook_suite_test.go
Due: golangci-lint-ray-operator

bump version to v1.3.2 (#3266)
  helm-chart/kuberay-apiserver/Chart.yaml
  helm-chart/kuberay-apiserver/values.yaml
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/Chart.yaml
  ray-operator/config/default/kustomization.yaml
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[feat] enforce DNS1035 validations on RayCluster, RayService, and RayJob names (#3239)
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[apiserver][feat] add pagination to ListClustersRequest (#3240)
  apiserver/pkg/http/client.go
  apiserver/pkg/manager/resource_manager.go
  apiserver/pkg/server/cluster_server.go
  apiserver/test/e2e/cluster_server_e2e_test.go
  apiserver/test/e2e/types.go
  proto/cluster.proto
  proto/go_client/cluster.pb.go
  proto/go_client/cluster.pb.gw.go
  proto/go_client/config.pb.gw.go
  proto/go_client/job.pb.gw.go
  proto/go_client/job_submission.pb.gw.go
  proto/go_client/serve.pb.gw.go
  proto/kuberay_api.swagger.json
  proto/swagger/cluster.swagger.json
Due: none

[docs][operator] fix incorrect example output
  ray-operator/DEVELOPMENT.md
Due: none

feat: create cluster or create workergroup with TPU
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

chore: rm comment
  kubectl-plugin/pkg/cmd/create/create_cluster.go
Due: golangci-lint-kubectl-plugin

feat: --worker-tpu validation
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/util/constant.go
  kubectl-plugin/pkg/util/validation.go
  kubectl-plugin/pkg/util/validation_test.go
Due: golangci-lint-kubectl-plugin

fix: linter issue
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

fix: linter issue
  kubectl-plugin/pkg/cmd/create/create_cluster.go
Due: golangci-lint-kubectl-plugin

feat: add numOfHosts
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
  kubectl-plugin/pkg/util/validation_test.go
Due: golangci-lint-kubectl-plugin

fix: add validation to num-of-hosts when it's 0
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/util/validation.go
  kubectl-plugin/pkg/util/validation_test.go
Due: golangci-lint-kubectl-plugin

fix: golangci-lint problem
  kubectl-plugin/pkg/util/validation_test.go
Due: golangci-lint-kubectl-plugin

chore: remove comment
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
Due: golangci-lint-kubectl-plugin

chore: english suggestions and add create cluster/workergroup example
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
Due: golangci-lint-kubectl-plugin

refactor & add ray_jobs_created_total
  ray-operator/apis/config/v1alpha1/configuration_types.go
  ray-operator/controllers/ray/metrics/metrics.go
  ray-operator/controllers/ray/metrics/ray_cluster_metrics.go
  ray-operator/controllers/ray/metrics/ray_job_metrics.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

lint
  helm-chart/kuberay-operator/templates/deployment.yaml
  helm-chart/kuberay-operator/values.yaml
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/suite_test.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

fix test
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/suite_test.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

Apply suggestions from code review
  helm-chart/ray-cluster/templates/raycluster-cluster.yaml
Due: none

fix: prevent assign defaulPort that already defined -e Signed-off-by: machichima <nary12321@gmail.com>
  ray-operator/controllers/ray/common/service.go
Due: golangci-lint-ray-operator

[docs][operator] fix incorrect example output (#3268)
  ray-operator/DEVELOPMENT.md
Due: none

fix: test defaultPort value in use instead of based on port name
  ray-operator/controllers/ray/common/service.go
  ray-operator/controllers/ray/common/service_test.go
Due: golangci-lint-ray-operator

code review: add comments & remove ray_jobs_created_total
  helm-chart/kuberay-operator/values.yaml
  ray-operator/apis/config/v1alpha1/configuration_types.go
  ray-operator/controllers/ray/metrics/ray_cluster_metrics.go
  ray-operator/controllers/ray/metrics/ray_job_metrics.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

Use embedded struct GroupSpec for duplicate Head and WorkerGroup fields
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[fix][plugin] typos in some tests
  ray-operator/test/e2erayservice/rayservice_ha_test.go
  ray-operator/test/e2erayservice/rayservice_in_place_update_test.go
  ray-operator/test/e2erayservice/rayservice_redeploy_test.go
  ray-operator/test/e2erayservice/rayservice_upgrade_test.go
  ray-operator/test/sampleyaml/rayservice_test.go
Due: golangci-lint-ray-operator

chore: Add error messages with TPU availability doc link and add create cluster/workergroup example message
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/util/validation.go
Due: golangci-lint-kubectl-plugin

refactor metrics (#3236)
  helm-chart/kuberay-operator/templates/deployment.yaml
  helm-chart/kuberay-operator/values.yaml
  ray-operator/apis/config/v1alpha1/configuration_types.go
  ray-operator/controllers/ray/common/metrics.go
  ray-operator/controllers/ray/metrics/metrics.go
  ray-operator/controllers/ray/metrics/ray_cluster_metrics.go
  ray-operator/controllers/ray/metrics/ray_job_metrics.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/suite_test.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

fix: duplicated unit test on pod security context
  helm-chart/kuberay-operator/tests/deployment_test.yaml
Due: none
