Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

fix: remove not helpful test assert message -e Signed-off-by: machichima <nary12321@gmail.com>
  ray-operator/controllers/ray/common/service_test.go
Due: golangci-lint-ray-operator

test: separate test for default port behaviour -e Signed-off-by: machichima <nary12321@gmail.com>
  ray-operator/controllers/ray/common/service_test.go
Due: golangci-lint-ray-operator

fix: remove ports section for ray-service.*.yaml files -e Signed-off-by: machichima <nary12321@gmail.com>
  ray-operator/config/samples/ray-cluster.custom-head-service.yaml
  ray-operator/config/samples/ray-service.custom-serve-service.yaml
  ray-operator/config/samples/ray-service.different-port.yaml
  ray-operator/config/samples/ray-service.high-availability-locust.yaml
  ray-operator/config/samples/ray-service.high-availability.yaml
  ray-operator/config/samples/ray-service.mobilenet.yaml
  ray-operator/config/samples/ray-service.no-ray-serve-replica.yaml
  ray-operator/config/samples/ray-service.stable-diffusion.yaml
  ray-operator/config/samples/ray-service.text-ml.yaml
  ray-operator/config/samples/ray-service.text-summarizer.yaml
  ray-operator/config/samples/ray-service.tpu-single-host.yaml
  ray-operator/config/samples/vllm/ray-service.vllm-tpu-v6e-singlehost.yaml
  ray-operator/config/samples/vllm/ray-service.vllm.yaml
  ray-operator/test/e2erayservice/testdata/ray-service.ft.yaml
Due: none

fix: raise error if default port in used
  ray-operator/controllers/ray/common/ingress.go
  ray-operator/controllers/ray/common/route.go
  ray-operator/controllers/ray/common/service.go
  ray-operator/controllers/ray/common/service_test.go
Due: golangci-lint-ray-operator

fix: gcs to gcs-server -e Signed-off-by: machichima <nary12321@gmail.com>
  ray-operator/controllers/ray/common/service_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/test/e2e/support.go
  ray-operator/test/e2eautoscaler/support.go
Due: golangci-lint-ray-operator

test: fix custom port with diff name test -e Signed-off-by: machichima <nary12321@gmail.com>
  ray-operator/controllers/ray/common/service.go
  ray-operator/controllers/ray/common/service_test.go
Due: golangci-lint-ray-operator

refactor: remove unnecessary comments -e Signed-off-by: machichima <nary12321@gmail.com>
  ray-operator/controllers/ray/common/service.go
Due: golangci-lint-ray-operator

chore: mv tpu document reference below
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
Due: golangci-lint-kubectl-plugin

fix: remove whitespace
  kubectl-plugin/pkg/cmd/create/create_cluster.go
Due: golangci-lint-kubectl-plugin

[Prometheus] Add ray_clusters_created_total metric
  ray-operator/controllers/ray/metrics/ray_cluster_metrics.go
  ray-operator/controllers/ray/metrics/ray_cluster_metrics_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/go.mod
  ray-operator/main.go
Due: golangci-lint-ray-operator

[Feat][kubectl-plugin] Create cluster with TPUs (`--worker-tpu`, `--num-of-hosts`) and TPUs' validation (#3258)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
  kubectl-plugin/pkg/util/constant.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
  kubectl-plugin/pkg/util/validation.go
  kubectl-plugin/pkg/util/validation_test.go
Due: golangci-lint-kubectl-plugin

take prestop as command list in json
  ray-operator/apis/config/v1alpha1/configuration_types.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/constant.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

parse earlier and exit on fail
  ray-operator/apis/config/v1alpha1/configuration_types.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

empty string check
  ray-operator/main.go
Due: golangci-lint-ray-operator

update generated file
  ray-operator/apis/config/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint-ray-operator

[fix][plugin] typos in some tests (#3263)
  ray-operator/test/e2erayservice/rayservice_ha_test.go
  ray-operator/test/e2erayservice/rayservice_in_place_update_test.go
  ray-operator/test/e2erayservice/rayservice_redeploy_test.go
  ray-operator/test/e2erayservice/rayservice_upgrade_test.go
  ray-operator/test/sampleyaml/rayservice_test.go
Due: golangci-lint-ray-operator

Add Helm chart unittests for ray-cluster
  helm-chart/ray-cluster/templates/raycluster-cluster.yaml
  helm-chart/ray-cluster/tests/raycluster_test.yaml
  helm-chart/ray-cluster/values.yaml
Due: none

CARRY: Add workflow to release ODH/Kuberay with compiled test binaries
  .github/workflows/odh-release.yml
Due: none

PATCH: openshift kustomize overlay for odh operator
  ray-operator/config/openshift/kuberay-operator-image-patch.yaml
  ray-operator/config/openshift/kustomization.yaml
  ray-operator/config/openshift/params.env
  ray-operator/config/openshift/params.yaml
  ray-operator/config/openshift/ray_operator_scc.yaml
Due: none

CARRY: Set FS group to MustRunAs for Ray SCC
  ray-operator/config/openshift/ray_operator_scc.yaml
Due: none

PATCH: Add SecurityContext to ray pods to function with restricted pod-security
  ray-operator/config/openshift/ray_operator_scc.yaml
Due: none

CARRY: Add delete patch to remove default namespace (#16)
  ray-operator/config/openshift/kustomization.yaml
  ray-operator/config/openshift/remove_default_namespace.yaml
Due: none

PATCH: add aggregator role for admin and editor
  ray-operator/config/rbac/editor_role.yaml
  ray-operator/config/rbac/kustomization.yaml
  ray-operator/config/rbac/viewer_role.yaml
Due: none

PATCH: CVE fix - Replace go-sqlite3 version to upgraded version
  ray-operator/go.mod
Due: none

PATCH: Raise head pod memory limit to avoid test instability
  ray-operator/test/e2e/support.go
Due: golangci-lint-ray-operator

CARRY: Add upstream metadata to Kuberay manifests
  ray-operator/config/openshift/component_metadata.yaml
Due: none

CARRY: Updated GO version to 1.22 in odh release workflow
  .github/workflows/odh-release.yml
Due: none

CARRY: Update upstream component_metadata location
  ray-operator/config/component_metadata.yaml
Due: none

CARRY: Updated KubeRay image to v1.3.2
  ray-operator/config/component_metadata.yaml
  ray-operator/config/openshift/params.env
Due: none

[feat][apiserver] add pagination support to ListRayJobs API
  apiserver/pkg/http/client.go
  apiserver/pkg/manager/resource_manager.go
  apiserver/pkg/server/job_server.go
  proto/go_client/job.pb.go
  proto/go_client/job.pb.gw.go
  proto/job.proto
  proto/kuberay_api.swagger.json
  proto/swagger/job.swagger.json
Due: none

address comments
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

new comments
  helm-chart/kuberay-operator/values.yaml
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

add ray_jobs_created_total metric
  ray-operator/controllers/ray/metrics/ray_job_metrics.go
  ray-operator/controllers/ray/rayjob_controller.go
Due: golangci-lint-ray-operator

add e2e test for rayjob paginition
  apiserver/test/e2e/job_server_e2e_test.go
Due: none

fix: assign default ports only if no ports set -e Signed-off-by: machichima <nary12321@gmail.com>
  ray-operator/controllers/ray/common/ingress.go
  ray-operator/controllers/ray/common/route.go
  ray-operator/controllers/ray/common/service.go
  ray-operator/controllers/ray/common/service_test.go
Due: golangci-lint-ray-operator

add job name comparing
  apiserver/test/e2e/job_server_e2e_test.go
Due: none

collapsible section for apiserver
  apiserver/README.md
Due: none

disable HTML check
  .pre-commit-config.yaml
Due: none

fix linter
  apiserver/README.md
Due: none
