Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

prefer HaveLen
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator

fix replica count
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator

add e2e autoscaler nested function test
  ray-operator/test/e2eautoscaler/create_nested_remote_function.py
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator

Add test for autoscaler and its desired state (#2601)
  ray-operator/test/e2eautoscaler/create_concurrent_tasks.py
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
  ray-operator/test/e2eautoscaler/support.go
Due: golangci-lint-ray-operator

[Test] add raycluster-fluentbit-sidecar-logs.yaml to sample YAML tests
  ray-operator/config/samples/ray-cluster-fluentbit-sidecar.yaml
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/sampleyaml/support.go
Due: golangci-lint-ray-operator

[Chore] Use Gci to control Go package import order
  .golangci.yml
Due: none

Rename the yaml file and use the first application container to run the samle yaml tests
  ray-operator/config/samples/ray-cluster.fluentbit.yaml
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/sampleyaml/support.go
Due: golangci-lint-ray-operator

test: add labelHeadPodForServeStatus excludeHeadPodFromServeSvc unit test
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

fix: linter issue
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

update
  ray-operator/test/e2e/rayservice_in_place_update_test.go
Due: golangci-lint-ray-operator

[Test] Add `ray-cluster.fluentbit.yaml` to sample YAML tests (#2611)
  ray-operator/config/samples/ray-cluster.fluentbit.yaml
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/sampleyaml/support.go
Due: golangci-lint-ray-operator

update
  .github/workflows/e2e-tests-reusable-workflow.yaml
Due: none

util function to convert string and bytes array
  ray-operator/pkg/utils/string_conversion.go
  ray-operator/test/utils/string_conversion_test.go
Due: golangci-lint-ray-operator

Add e2e test for kubectl ray job submit
  .github/workflows/e2e-tests-reusable-workflow.yaml
  .github/workflows/e2e-tests.yaml
  kubectl-plugin/test/e2e/kubectl_ray_job_submit_test.go
  kubectl-plugin/test/e2e/testdata/ray-job.interactive-mode-no-runtime-env.yaml
  kubectl-plugin/test/e2e/testdata/ray-job.interactive-mode.yaml
  kubectl-plugin/test/e2e/testdata/rayjob-submit-working-dir/entrypoint-python-sample.py
  kubectl-plugin/test/e2e/testdata/rayjob-submit-working-dir/runtime-env-sample.yaml
Due: golangci-lint-kubectl-plugin

[Bug] TestRayServiceInPlaceUpdate is flaky (#2620)
  .github/workflows/e2e-tests-reusable-workflow.yaml
  ray-operator/test/e2e/rayservice_in_place_update_test.go
Due: golangci-lint-ray-operator

support koordinator gang group with annotation
  ray-operator/controllers/ray/batchscheduler/koordinator/koordinator_gang_groups.go
  ray-operator/controllers/ray/batchscheduler/koordinator/koordinator_scheduler.go
Due: golangci-lint-ray-operator

add koordinator gang group ut
  ray-operator/controllers/ray/batchscheduler/koordinator/koordinator_gang_groups.go
  ray-operator/controllers/ray/batchscheduler/koordinator/koordinator_scheduler.go
  ray-operator/controllers/ray/batchscheduler/koordinator/koordinator_scheduler_test.go
Due: golangci-lint-ray-operator

init container added to worker group spec
  apiserver/pkg/util/cluster.go
  proto/cluster.proto
  proto/go_client/cluster.pb.go
  proto/go_client/cluster.pb.gw.go
  proto/go_client/config.pb.gw.go
  proto/go_client/job.pb.gw.go
  proto/go_client/job_submission.pb.gw.go
  proto/go_client/serve.pb.gw.go
  proto/kuberay_api.swagger.json
  proto/swagger/cluster.swagger.json
  proto/swagger/job.swagger.json
  proto/swagger/serve.swagger.json
Due: none

Update after code review
  docs/reference/api.md
  ray-operator/apis/ray/v1/rayjob_types.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/utils/constant.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayjobspec.go
  ray-operator/test/e2e/rayjob_cluster_selector_test.go
  ray-operator/test/e2e/rayjob_test.go
  ray-operator/test/support/utils.go
Due: golangci-lint-ray-operator

fix: RayCluster name in ray-cluster.sample.yaml to align with helm
  ray-operator/config/samples/ray-cluster.sample.yaml
Due: none

fix: use namespace default in kustomize
  ray-operator/config/default/kustomization.yaml
  ray-operator/config/default/namespace.yaml
Due: none

chore: make resource consistent
  ray-operator/config/samples/ray-cluster.sample.yaml
Due: none

fix: remove specify ray-system in github action
  .github/workflows/e2e-tests-reusable-workflow.yaml
Due: none

fix: selector raycluster-kuberay instead in github action
  .github/workflows/e2e-tests-reusable-workflow.yaml
Due: none

fix: kubectl-plugin e2e test
  kubectl-plugin/test/e2e/kubectl_ray_cluster_get_test.go
  kubectl-plugin/test/e2e/kubectl_ray_log_test.go
Due: golangci-lint-kubectl-plugin

fix: remove namespace ray-system in buildkite
  .buildkite/test-sample-yamls.yml
Due: none

[Feature] Add ManagedBy field to RayJob (#2589)
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  ray-operator/apis/ray/v1/rayjob_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/utils/constant.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayjobspec.go
  ray-operator/test/e2e/rayjob_cluster_selector_test.go
  ray-operator/test/e2e/rayjob_test.go
  ray-operator/test/support/ray.go
  ray-operator/test/support/utils.go
Due: golangci-lint-ray-operator

Add e2e test for kubectl ray job submit (#2614)
  .github/workflows/e2e-tests-reusable-workflow.yaml
  .github/workflows/e2e-tests.yaml
  kubectl-plugin/test/e2e/kubectl_ray_job_submit_test.go
  kubectl-plugin/test/e2e/testdata/ray-job.interactive-mode-no-runtime-env.yaml
  kubectl-plugin/test/e2e/testdata/ray-job.interactive-mode.yaml
  kubectl-plugin/test/e2e/testdata/rayjob-submit-working-dir/entrypoint-python-sample.py
  kubectl-plugin/test/e2e/testdata/rayjob-submit-working-dir/runtime-env-sample.yaml
Due: golangci-lint-kubectl-plugin

add comments and use case
  ray-operator/pkg/utils/string_conversion.go
Due: golangci-lint-ray-operator

use byte slice instead of byte array
  ray-operator/pkg/utils/string_conversion.go
Due: golangci-lint-ray-operator

fix comment
  ray-operator/pkg/utils/string_conversion.go
Due: golangci-lint-ray-operator

fix unit test
  ray-operator/test/utils/string_conversion_test.go
Due: golangci-lint-ray-operator

check address unchanged
  ray-operator/test/utils/string_conversion_test.go
Due: golangci-lint-ray-operator

add another example for conversion
  ray-operator/pkg/utils/string_conversion.go
Due: golangci-lint-ray-operator

Add a util function to convert string and bytes array (#2621)
  ray-operator/pkg/utils/string_conversion.go
  ray-operator/test/utils/string_conversion_test.go
Due: golangci-lint-ray-operator

convert byte slice and string without copy
  apiserver/pkg/model/converter.go
  ray-operator/controllers/ray/common/job.go
Due: golangci-lint-ray-operator

add dockerfile
  ray-operator/Dockerfile
Due: none

[Chore][CI] Upgrade ray version to 2.40 except for TestRayServiceInPlaceUpdate
  ray-operator/test/e2e/rayservice_in_place_update_test.go
  ray-operator/test/support/defaults.go
Due: golangci-lint-ray-operator

[RayCluster][Fix] leave .Status.State untouched when there is a reconcile error
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

[RayCluster][Fix] leave .Status.State untouched when runningPods != desiredWorkers+Head
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator
