Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

[feat][plugin] support creating RayCluster with config file (#3225)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/constant.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
  kubectl-plugin/pkg/util/validation.go
  kubectl-plugin/pkg/util/validation_test.go
Due: golangci-lint-kubectl-plugin

remove other configs
  .pre-commit-config.yaml
  apiserver/cmd/main.go
  apiserver/pkg/http/client.go
  apiserver/pkg/manager/resource_manager.go
  apiserver/pkg/model/converter_test.go
  apiserver/pkg/server/cluster_server.go
  apiserver/pkg/server/compute_template_server.go
  apiserver/pkg/server/job_server.go
  apiserver/pkg/server/ray_job_submission_service_server.go
  apiserver/pkg/server/serve_server.go
  apiserver/pkg/server/validations_test.go
  apiserver/pkg/util/cluster.go
  apiserver/pkg/util/cluster_test.go
  apiserver/pkg/util/error.go
  apiserver/pkg/util/job_test.go
  apiserver/pkg/util/service.go
  apiserver/pkg/util/service_test.go
  apiserver/test/e2e/config_server_e2e_test.go
  apiserver/test/e2e/job_server_e2e_test.go
  apiserver/test/e2e/types.go
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/util/client/client.go
  ray-operator/controllers/ray/common/job_test.go
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_suspended_test.go
  ray-operator/controllers/ray/rayjob_controller_test.go
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_test.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/suite_helpers_test.go
  ray-operator/test/e2erayservice/rayservice_ha_test.go
  ray-operator/test/support/ray.go
  scripts/lint.sh
Due: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

fix linting
  apiserver/cmd/main.go
  apiserver/pkg/http/client.go
  apiserver/pkg/interceptor/interceptor.go
  apiserver/pkg/model/converter.go
  apiserver/pkg/server/cluster_server.go
  apiserver/pkg/server/job_server.go
  apiserver/pkg/server/serve_server.go
  apiserver/pkg/util/cluster.go
  apiserver/pkg/util/error.go
  apiserver/pkg/util/job_test.go
  apiserver/test/e2e/cluster_server_e2e_test.go
Due: none

fix API
  apiserver/pkg/model/converter_test.go
  apiserver/pkg/server/cluster_server.go
  apiserver/pkg/server/job_server.go
  apiserver/pkg/server/serve_server.go
Due: none

fix check eplision
  apiserver/pkg/util/job_test.go
Due: none

fix upper case / lower case
  apiserver/pkg/util/error.go
  apiserver/test/e2e/cluster_server_autoscaler_e2e_test.go
  apiserver/test/e2e/cluster_server_e2e_test.go
  apiserver/test/e2e/config_server_e2e_test.go
  apiserver/test/e2e/job_server_e2e_test.go
  apiserver/test/e2e/job_submission_e2e_test.go
  apiserver/test/e2e/service_server_e2e_test.go
  apiserver/test/e2e/types.go
  apiserver/test/e2e/utils.go
Due: none

fix api cont
  apiserver/test/e2e/job_submission_e2e_test.go
Due: none

fix rpc lint
  apiserver/test/e2e/service_server_e2e_test.go
Due: none

fix type lint
  apiserver/pkg/util/error.go
Due: none

error conversion
  apiserver/pkg/util/error.go
Due: none

fix error cont
  apiserver/pkg/util/error.go
Due: none

request with context
  apiserver/pkg/http/client.go
Due: none

no timeout for http server
  apiserver/cmd/main.go
Due: none

use TODO context from caller
  apiserver/pkg/http/client.go
Due: none

context for request
  apiserver/test/e2e/utils.go
Due: none

nolint for int conversion
  apiserver/pkg/util/error.go
Due: none

add comment for excluded rules
  scripts/lint.sh
Due: none

move creation out of goroutine
  apiserver/test/e2e/cluster_server_e2e_test.go
Due: none

use require instead of assert
  apiserver/test/e2e/cluster_server_e2e_test.go
Due: none

fix error contains lint
  apiserver/test/e2e/cluster_server_e2e_test.go
Due: none

rollback unnecessary precommit change
  .pre-commit-config.yaml
Due: none

system config
  .pre-commit-config.yaml
Due: none

ignore mode conversion
  kubectl-plugin/pkg/cmd/log/log.go
Due: golangci-lint-kubectl-plugin

move isOpenShift to options
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

fix errorf
  apiserver/pkg/util/error.go
Due: none

fix error wrapping
  apiserver/pkg/util/error.go
Due: none

ignore uint32
  apiserver/pkg/model/converter.go
Due: none

no need to print version
  apiserver/pkg/model/converter.go
  scripts/lint.sh
Due: none

[Prometheus] Add ray_clusters_created_total metric
  ray-operator/controllers/ray/metrics/ray_cluster_metrics.go
  ray-operator/controllers/ray/metrics/ray_cluster_metrics_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/go.mod
  ray-operator/main.go
Due: golangci-lint-ray-operator

Resolve comments
  ray-operator/controllers/ray/metrics/ray_cluster_metrics.go
  ray-operator/controllers/ray/metrics/ray_cluster_metrics_test.go
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

Resolve comments: Implements RayClusterMetricCollector
  ray-operator/controllers/ray/metrics/metrics.go
  ray-operator/controllers/ray/metrics/ray_cluster_metrics.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

upgrade linter version
  .pre-commit-config.yaml
Due: none

remove golang linter for apiserver
  apiserver/Makefile
  apiserver/pkg/model/converter.go
  kubectl-plugin/pkg/cmd/log/log.go
Due: golangci-lint-kubectl-plugin

revert bad change
  apiserver/pkg/manager/resource_manager.go
Due: none

fix comment
  apiserver/pkg/server/cluster_server.go
Due: none

use latest yunikorn labels
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
Due: golangci-lint-ray-operator

move to utils
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

List services with pagination
  apiserver/Makefile
  apiserver/pkg/http/client.go
  apiserver/pkg/manager/resource_manager.go
  apiserver/pkg/server/cluster_server.go
  apiserver/pkg/server/serve_server.go
  apiserver/test/e2e/service_server_e2e_test.go
  proto/go_client/serve.pb.go
  proto/kuberay_api.swagger.json
  proto/serve.proto
  proto/swagger/serve.swagger.json
Due: none

require over assert
  apiserver/pkg/model/converter_test.go
  apiserver/test/e2e/job_server_e2e_test.go
  apiserver/test/e2e/service_server_e2e_test.go
  apiserver/test/e2e/types.go
Due: none
