Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

golangci-lint-ray-operator:
  name: golangci-lint (ray-operator)
  entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

golangci-lint-kubectl-plugin:
  name: golangci-lint (kubectl-plugin)
  entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

[CI][RayService] deflaky the TestAutoscalingRayService (#3119)
  ray-operator/test/e2erayservice/rayservice_ha_test.go
Due: golangci-lint-ray-operator

Add incremental upgrade API changes to KubeRay
  docs/reference/api.md
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/pkg/client/applyconfiguration/ray/v1/incrementalupgradeoptions.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayserviceupgradestrategy.go
  ray-operator/pkg/client/applyconfiguration/utils.go
Due: golangci-lint-ray-operator

Update go mod dependencies for gateway v1
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

Add reconcile Gateway and HTTPRoute
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/config/rbac/role.yaml
  ray-operator/config/samples/ray-cluster.autoscaler-v2.yaml
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/utils/constant.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/go.mod
  ray-operator/go.sum
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayserviceupgradestrategy.go
Due: golangci-lint-ray-operator

docs: Update table to reference samples folder
  docs/reference/yaml.md
Due: none

[chore][docs] enable Markdown lint rule MD024
  .markdownlint.yaml
  CHANGELOG.md
  ray-operator/DEVELOPMENT.md
Due: none

[chore][docs] enable Markdown lint rules MD050 MD052
  .markdownlint.yaml
  CHANGELOG.md
Due: none

[RayService] validate RayClusterSpec on ValidateRayServiceSpec
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

[RayService][Test] add an expected error test case on ValidateRayClusterSpec
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[Feat][kubectl-plugin] Add dynamic shell completion for kubectl ray get node & workergroup
  kubectl-plugin/pkg/cmd/get/get_nodes.go
  kubectl-plugin/pkg/cmd/get/get_workergroup.go
Due: golangci-lint-kubectl-plugin

[chore][docs] enable Markdown lint rules MD050 MD052 (#3152)
  .markdownlint.yaml
  CHANGELOG.md
Due: none

[Feat][kubectl-plugin] Add dynamic shell completion for kubectl ray get node & workergroup (#3154)
  kubectl-plugin/pkg/cmd/get/get_nodes.go
  kubectl-plugin/pkg/cmd/get/get_workergroup.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] support setting K8s ephemeral storage resource (#3150)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

upgrade go.mod
  ray-operator/go.mod
  ray-operator/go.sum
Due: none

Add TargetCapacity and TrafficRoutedPercent to RayServiceStatus
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/config/rbac/role.yaml
  ray-operator/pkg/client/applyconfiguration/ray/v1/incrementalupgradeoptions.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayservicespec.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayservicestatus.go
Due: golangci-lint-ray-operator

feat: validate the name length for RayCluster, RayService, and RayJob
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/rayjob_controller_test.go
  ray-operator/controllers/ray/rayservice_controller_test.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

feat: validate the name length for RayCluster, RayService, and RayJob
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/rayservice_controller_test.go
  ray-operator/controllers/ray/utils/constant.go
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
  ray-operator/test/e2e/rayjob_test.go
  ray-operator/test/e2erayservice/rayservice_in_place_update_test.go
Due: golangci-lint-ray-operator

Add controller logic initial commit
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[RayService] use IsZero to check empty RayClusterSpec
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

[RayService][Test] refactor TestValidateRayServiceSpec with table test.
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

remove un-related comments in YAML
  ray-operator/config/samples/ray-service.no-ray-serve-replica.yaml
Due: none

remove comments in yaml
  ray-operator/config/samples/ray-service.no-ray-serve-replica.yaml
Due: none

update cpu resources limits and request in head pod in yaml
  ray-operator/config/samples/ray-service.no-ray-serve-replica.yaml
Due: none

feat: validate the name length for RayCluster, RayService, and RayJob
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/utils/constant.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[chore][docs] enable Markdown lint rule MD024 (#3104)
  .markdownlint.yaml
  CHANGELOG.md
  ray-operator/DEVELOPMENT.md
Due: none

Revert "kubectl ray job submit: provide empty entrypoint (#3127)"
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
Due: golangci-lint-kubectl-plugin

Remove erroneous changes to autoscaler sample manifest
  ray-operator/config/samples/ray-cluster.autoscaler-v2.yaml
Due: none

Add IncrementalUpgrade check to ShouldUpdate
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

Revert "kubectl ray job submit: provide empty entrypoint (#3127)" (#3165)
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
Due: golangci-lint-kubectl-plugin

[chore][docs] enable Markdown lint rule MD013
  .markdownlint.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  apiserver/Autoscaling.md
  apiserver/CreatingServe.md
  apiserver/DEVELOPMENT.md
  apiserver/HACluster.md
  apiserver/JobSubmission.md
  apiserver/README.md
  apiserver/SecuringImplementation.md
  apiserver/Volumes.md
  benchmark/memory_benchmark/memory_benchmark.md
  benchmark/perf-tests/README.md
  clients/python-apiserver-client/README.md
  clients/python-client/README.md
  docs/best-practice/worker-head-reconnection.md
  docs/deploy/images.md
  docs/design/protobuf-grpc-service.md
  docs/development/development.md
  docs/development/release.md
  docs/guidance/aws-eks-iam.md
  docs/guidance/kuberay-with-MCAD.md
  docs/guidance/observability.md
  docs/guidance/rayStartParams.md
  docs/guidance/rayclient-nginx-ingress.md
  docs/guidance/rayservice-high-availability.md
  docs/index.md
  docs/release/changelog.md
  docs/release/helm-chart.md
  helm-chart/kuberay-apiserver/README.md
  helm-chart/kuberay-operator/README.md
  helm-chart/ray-cluster/README.md
  proto/README.md
  ray-operator/DEVELOPMENT.md
Due: none

feat: validate the name length for RayCluster, RayService, and RayJob
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[chore][docs] enable Markdown lint rule MD013 (#3167)
  .markdownlint.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  apiserver/Autoscaling.md
  apiserver/CreatingServe.md
  apiserver/DEVELOPMENT.md
  apiserver/HACluster.md
  apiserver/JobSubmission.md
  apiserver/README.md
  apiserver/SecuringImplementation.md
  apiserver/Volumes.md
  benchmark/memory_benchmark/memory_benchmark.md
  benchmark/perf-tests/README.md
  clients/python-apiserver-client/README.md
  clients/python-client/README.md
  docs/best-practice/worker-head-reconnection.md
  docs/deploy/images.md
  docs/design/protobuf-grpc-service.md
  docs/development/development.md
  docs/development/release.md
  docs/guidance/aws-eks-iam.md
  docs/guidance/kuberay-with-MCAD.md
  docs/guidance/observability.md
  docs/guidance/rayStartParams.md
  docs/guidance/rayclient-nginx-ingress.md
  docs/guidance/rayservice-high-availability.md
  docs/index.md
  docs/release/changelog.md
  docs/release/helm-chart.md
  helm-chart/kuberay-apiserver/README.md
  helm-chart/kuberay-operator/README.md
  helm-chart/ray-cluster/README.md
  proto/README.md
  ray-operator/DEVELOPMENT.md
Due: none

[feat] validate the name length of RayCluster, RayService, and RayJob (#3083)
  ray-operator/controllers/ray/common/ingress.go
  ray-operator/controllers/ray/common/route.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_test.go
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_test.go
  ray-operator/controllers/ray/utils/constant.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
Due: golangci-lint-ray-operator

[RayService] make RayClusterSpec required
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/apis/ray/v1alpha1/rayservice_types.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayService] sync to helm chart
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
Due: none

[RayService] revert omitempty from v1alpha1
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1alpha1/rayservice_types.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
Due: golangci-lint-ray-operator

Path conditions:
  golangci-lint-ray-operator: any of: ^ray-operator/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
  golangci-lint-kubectl-plugin: any of: ^kubectl-plugin/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
