Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

golangci-lint-ray-operator:
  name: golangci-lint (ray-operator)
  entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

golangci-lint-kubectl-plugin:
  name: golangci-lint (kubectl-plugin)
  entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

run the missing go fmt
  apiserver/test/e2e/job_server_e2e_test.go
Due: none

reuse listClusters
  apiserver/pkg/http/client.go
  apiserver/pkg/manager/resource_manager.go
  apiserver/pkg/server/cluster_server.go
  apiserver/test/e2e/cluster_server_e2e_test.go
  proto/cluster.proto
  proto/go_client/cluster.pb.go
  proto/go_client/cluster.pb.gw.go
  proto/kuberay_api.swagger.json
  proto/swagger/cluster.swagger.json
Due: none

simplify test
  apiserver/Makefile
  apiserver/test/e2e/cluster_server_e2e_test.go
Due: none

reset
  apiserver/Makefile
Due: none

more test
  apiserver/test/e2e/cluster_server_e2e_test.go
Due: none

no lint at test
  apiserver/Makefile
Due: none

code review: add comments & naming
  apiserver/test/e2e/cluster_server_e2e_test.go
  proto/cluster.proto
  proto/go_client/cluster.pb.go
  proto/kuberay_api.swagger.json
  proto/swagger/cluster.swagger.json
Due: none

code review: add comments & naming
  apiserver/pkg/server/cluster_server.go
  proto/cluster.proto
  proto/go_client/cluster.pb.go
  proto/kuberay_api.swagger.json
  proto/swagger/cluster.swagger.json
Due: none

Add comment and example for AUTOSCALER_UPDATE_INTERVAL_S
  ray-operator/config/samples/ray-cluster.autoscaler-v2.yaml
  ray-operator/config/samples/ray-cluster.autoscaler.yaml
Due: none

edit
  ray-operator/config/samples/ray-cluster.autoscaler-v2.yaml
Due: none

fix: remove unnecessary loop in test -e Signed-off-by: machichima <nary12321@gmail.com>
  ray-operator/controllers/ray/common/service_test.go
Due: golangci-lint-ray-operator

[refactor][plugin] update generation_test.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[refactor][plugin] update generation_test.go (#3276)
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[readme] Make collapsible section for apiserver readme (#3290)
  .pre-commit-config.yaml
  apiserver/README.md
Due: none

[apiserver] No lint at test (#3292)
  apiserver/Makefile
Due: none

code review: tests
  apiserver/test/e2e/cluster_server_e2e_test.go
Due: none

[apiserver][feat] support pagination for ListAllClusters (#3291)
  apiserver/pkg/http/client.go
  apiserver/pkg/manager/resource_manager.go
  apiserver/pkg/server/cluster_server.go
  apiserver/test/e2e/cluster_server_e2e_test.go
  proto/cluster.proto
  proto/go_client/cluster.pb.go
  proto/go_client/cluster.pb.gw.go
  proto/kuberay_api.swagger.json
  proto/swagger/cluster.swagger.json
Due: none

fix API server linter
  apiserver/Makefile
  apiserver/pkg/http/client.go
  apiserver/pkg/manager/resource_manager.go
Due: none

update readme
  apiserver/DEVELOPMENT.md
Due: none

revert unnecessary change
  apiserver/Makefile
Due: none

remove cmd folder from test command
  apiserver/Makefile
Due: none

Fix typo
  ray-operator/config/samples/ray-cluster.autoscaler-v2.yaml
  ray-operator/config/samples/ray-cluster.autoscaler.yaml
Due: none

[Autoscaler][Sample] Add comment for AUTOSCALER_UPDATE_INTERVAL_S (#3294)
  ray-operator/config/samples/ray-cluster.autoscaler-v2.yaml
  ray-operator/config/samples/ray-cluster.autoscaler.yaml
Due: none

fix: image pull secrets does not work
  helm-chart/kuberay-operator/templates/deployment.yaml
  helm-chart/kuberay-operator/tests/deployment_test.yaml
Due: none

[easy] Remove cmd folder from test command (#3297)
  apiserver/Makefile
Due: none

add back S1009
  apiserver/Makefile
  apiserver/pkg/util/cluster.go
Due: none

Add Helm chart unittests to CI
  .github/workflows/helm-lint.yaml
Due: none

added more pagination test
  apiserver/pkg/manager/resource_manager.go
  apiserver/test/e2e/job_server_e2e_test.go
  proto/go_client/job.pb.go
  proto/job.proto
  proto/kuberay_api.swagger.json
  proto/swagger/job.swagger.json
Due: none

refactor: make options as a direct member
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayjob_controller.go
Due: golangci-lint-ray-operator

chore: improve `kubectl ray session` error message
  kubectl-plugin/pkg/cmd/session/session.go
Due: golangci-lint-kubectl-plugin

refactor: set ports capacity to 1 -e Signed-off-by: machichima <nary12321@gmail.com>
  ray-operator/controllers/ray/common/service.go
Due: golangci-lint-ray-operator

fix: add ports section back to RayCluster YAML -e Signed-off-by: machichima <nary12321@gmail.com>
  ray-operator/config/samples/ray-cluster.custom-head-service.yaml
Due: none

chore: improve `kubectl ray session` error message (#3300)
  kubectl-plugin/pkg/cmd/session/session.go
Due: golangci-lint-kubectl-plugin

Fix apiserver linter (#3296)
  apiserver/DEVELOPMENT.md
  apiserver/Makefile
  apiserver/pkg/http/client.go
  apiserver/pkg/manager/resource_manager.go
  apiserver/pkg/util/cluster.go
Due: none

[refactor] Make options as a direct field in reconciler (#3299)
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayjob_controller.go
Due: golangci-lint-ray-operator

intentional linter
  apiserver/pkg/manager/resource_manager.go
Due: none

Add basic Helm chart unittests for kuberay-operator (#3253)
  helm-chart/kuberay-operator/templates/deployment.yaml
  helm-chart/kuberay-operator/templates/role.yaml
  helm-chart/kuberay-operator/templates/rolebinding.yaml
  helm-chart/kuberay-operator/templates/service.yaml
  helm-chart/kuberay-operator/templates/serviceaccount.yaml
  helm-chart/kuberay-operator/tests/deployment_test.yaml
  helm-chart/kuberay-operator/tests/role_test.yaml
  helm-chart/kuberay-operator/tests/rolebinding_test.yaml
  helm-chart/kuberay-operator/tests/service_test.yaml
  helm-chart/kuberay-operator/tests/serviceaccount_test.yaml
  helm-chart/kuberay-operator/values.yaml
Due: none

intentional
  apiserver/pkg/manager/resource_manager.go
  apiserver/pkg/server/cluster_server.go
Due: none

[feat][plugin] support creating RayCluster with config file
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/constant.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

Support setting K8s service account in config file
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
  kubectl-plugin/pkg/util/validation.go
  kubectl-plugin/pkg/util/validation_test.go
Due: golangci-lint-kubectl-plugin

Path conditions:
  golangci-lint-ray-operator: any of: ^ray-operator/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
  golangci-lint-kubectl-plugin: any of: ^kubectl-plugin/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
