Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

Make use of managedBy field in RayCluster reconciliation
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/test/e2e/raycluster_test.go
  ray-operator/test/e2e/rayjob_cluster_selector_test.go
  ray-operator/test/e2e/rayjob_test.go
  ray-operator/test/support/ray.go
  ray-operator/test/support/utils.go
Due: golangci-lint-ray-operator

Add managedBy field to the spec
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayclusters.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayclusters.yaml
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayclusterspec.go
Due: golangci-lint-ray-operator

Align RayJob's ManagedBy with RayCluster's ManagedBy. Do not support empty string and note that the field is optional.
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  ray-operator/apis/ray/v1/rayjob_types.go
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
Due: golangci-lint-ray-operator

fix: wrong comment
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

Fix/make helm and kustomize consistent (#2624)
  .buildkite/test-sample-yamls.yml
  .github/workflows/e2e-tests-reusable-workflow.yaml
  kubectl-plugin/test/e2e/kubectl_ray_cluster_get_test.go
  kubectl-plugin/test/e2e/kubectl_ray_log_test.go
  ray-operator/config/default/kustomization.yaml
  ray-operator/config/default/namespace.yaml
  ray-operator/config/samples/ray-cluster.sample.yaml
Due: golangci-lint-kubectl-plugin

fix lint
  apiserver/pkg/model/converter.go
Due: none

[RayCluster][Fix] leave .Status.State untouched when runningPods != desiredWorkers+Head
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

[Chore][CI] Upgrade ray version to 2.40 except for TestRayServiceInPlaceUpdate (#2629)
  ray-operator/test/e2e/rayservice_in_place_update_test.go
  ray-operator/test/support/defaults.go
Due: golangci-lint-ray-operator

Convert byte slice and string without copy (#2628)
  apiserver/pkg/model/converter.go
  ray-operator/Dockerfile
  ray-operator/controllers/ray/common/job.go
Due: golangci-lint-ray-operator

[RayJob][Feature] add light weight job submitter in kuberay image
  ray-operator/Dockerfile
  ray-operator/go.mod
  ray-operator/go.sum
  ray-operator/rayjob-submitter/main.go
Due: golangci-lint-ray-operator

[RayJob][Feature] test light weight job submitter in kuberay image
  .github/workflows/e2e-tests-ray-job-submitter.yaml
  ray-operator/Dockerfile
  ray-operator/Makefile
  ray-operator/rayjob-submitter/main.go
  ray-operator/rayjobsubmitter/README.md
  ray-operator/rayjobsubmitter/cmd/main.go
  ray-operator/rayjobsubmitter/main.go
  ray-operator/test/e2erayjobsubmitter/e2e_test.go
Due: golangci-lint-ray-operator

fix: update topology spread constraints for custom worker pools
  helm-chart/ray-cluster/templates/raycluster-cluster.yaml
  helm-chart/ray-cluster/values.yaml
Due: none

[RayJob][Feature] move light weight job submitter to a dedicated image
  .github/workflows/image-release.yaml
  ray-operator/Dockerfile
  ray-operator/Dockerfile.submitter.buildx
  ray-operator/Makefile
Due: none

Add kubectl ray create cluster
  kubectl-plugin/go.mod
  kubectl-plugin/pkg/cmd/create/create.go
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/util/client/client.go
  kubectl-plugin/pkg/util/client/client_test.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[RayCluster][Fix] leave .Status.State untouched when there is a reconcile error (#2622)
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

fix: update topology spread constraints for custom worker pools (#2633)
  helm-chart/ray-cluster/templates/raycluster-cluster.yaml
  helm-chart/ray-cluster/values.yaml
Due: none

[Feature] Add e2e tests for Autoscaler V2
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
  ray-operator/test/e2eautoscaler/support.go
Due: golangci-lint-ray-operator

[Feature] Add e2e tests for Autoscaler V2 (#2588)
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
  ray-operator/test/e2eautoscaler/support.go
Due: golangci-lint-ray-operator

[Feature] Add an e2e test for Autoscaler to scale up by manually updating
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

Align RayJob's ManagedBy with RayCluster's ManagedBy. (#2630)
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  ray-operator/apis/ray/v1/rayjob_types.go
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
Due: golangci-lint-ray-operator

[Feature] Add ManagedBy field to RayCluster (#2597)
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayclusters.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayclusters.yaml
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayclusterspec.go
  ray-operator/test/e2e/raycluster_test.go
  ray-operator/test/e2e/rayjob_cluster_selector_test.go
  ray-operator/test/e2e/rayjob_test.go
  ray-operator/test/support/ray.go
  ray-operator/test/support/utils.go
Due: golangci-lint-ray-operator

fix: check proxy actor health logic
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

fix: combine TestLabelHeadPodForServeStatus into one test with 4 subtests, and revisit the params
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

Add kubectl ray create cluster (#2607)
  kubectl-plugin/go.mod
  kubectl-plugin/pkg/cmd/create/create.go
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/util/client/client.go
  kubectl-plugin/pkg/util/client/client_test.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

docs: add comment back and run make sync
  docs/reference/api.md
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

style: fix linter issue
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

[Feat]: Add a field to configure whether to add a proxy actor on the head Pod to the K8s serve service or not (#2598)
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayservicespec.go
Due: golangci-lint-ray-operator

update
  docs/reference/api.md
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/utils/fake_httpproxy_httpclient.go
Due: golangci-lint-ray-operator

[Feature] Add an e2e test for Autoscaler to scale up by manually updating (#2634)
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

Update swagger-initializer.js (#2543)
  apiserver/DEVELOPMENT.md
  third_party/swagger-ui/swagger-initializer.js
Due: none

update
  ray-operator/Makefile
Due: none

update
  ray-operator/test/e2e/rayservice_in_place_update_test.go
Due: golangci-lint-ray-operator

update
  ray-operator/test/e2e/support.go
Due: golangci-lint-ray-operator

[Chore][CI] Remove StreamKubeRayOperatorLogs
  ray-operator/test/e2e/raycluster_test.go
  ray-operator/test/e2e/rayjob_cluster_selector_test.go
  ray-operator/test/e2e/rayjob_lightweight_test.go
  ray-operator/test/e2e/rayjob_retry_test.go
  ray-operator/test/e2e/rayjob_suspend_test.go
  ray-operator/test/e2e/rayjob_test.go
  ray-operator/test/e2e/rayservice_ha_test.go
  ray-operator/test/e2e/rayservice_in_place_update_test.go
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/sampleyaml/rayjob_test.go
  ray-operator/test/sampleyaml/rayservice_test.go
  ray-operator/test/support/test.go
Due: golangci-lint-ray-operator

update
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/test/support/core.go
  ray-operator/test/support/test.go
Due: golangci-lint-ray-operator

update
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

[RayService] Refactor fake http proxy client and test (#2636)
  docs/reference/api.md
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/utils/fake_httpproxy_httpclient.go
Due: golangci-lint-ray-operator

[CI] Jail flaky test: TestRayServiceInPlaceUpdate (#2638)
  ray-operator/test/e2e/rayservice_in_place_update_test.go
Due: golangci-lint-ray-operator
