Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

golangci-lint-ray-operator:
  name: golangci-lint (ray-operator)
  entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

golangci-lint-kubectl-plugin:
  name: golangci-lint (kubectl-plugin)
  entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

update
  ray-operator/controllers/ray/rayservice_controller_test.go
Due: golangci-lint-ray-operator

[RayService] Add an envtest for autoscaler (#2872)
  ray-operator/controllers/ray/rayservice_controller_test.go
Due: golangci-lint-ray-operator

Update ray-operator/test/e2e/raycluster_gcs_ft_test.go
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
Due: golangci-lint-ray-operator

Rewrite detached actor test with go (#2722)
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
  ray-operator/test/e2e/test_detached_actor_1.py
  ray-operator/test/e2e/test_detached_actor_2.py
Due: golangci-lint-ray-operator

[RayService] Create k8s events after creating/updating k8s resources
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[RayService] Create k8s events after creating/updating k8s resources (#2873)
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

update
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

[Fix][kubectl-plugin]: make `version` handle digests
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/util/client/client.go
  kubectl-plugin/pkg/util/client/client_test.go
Due: golangci-lint-kubectl-plugin

[RayService] Refactor `createRayClusterInstance` (#2874)
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

[RayService] Refactor `updateRayClusterInstance` (#2875)
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

add zero-downtime triggered test after rayVersion is triggered
  ray-operator/controllers/ray/rayservice_controller_test.go
Due: golangci-lint-ray-operator

remove remove-compatibility-test.py, its depemdencies and modify github workflow
  .github/workflows/test-job.yaml
  tests/compatibility-test.py
  tests/config/ray-cluster.mini.yaml.template
  tests/config/ray-cluster.ray-ft.yaml.template
  tests/config/ray-cluster.sidecar.yaml.template
  tests/config/requirements.txt
  tests/kuberay_utils/__init__.py
  tests/kuberay_utils/utils.py
Due: none

remove compatibility-test part in development.md and remove action.yaml
  .github/workflows/actions/compatibility/action.yaml
  ray-operator/DEVELOPMENT.md
Due: none

Fix comment typo.
  ray-operator/controllers/ray/rayservice_controller_test.go
Due: golangci-lint-ray-operator

Fix comment typo
  ray-operator/controllers/ray/rayservice_controller_test.go
Due: golangci-lint-ray-operator

[CI] Remove compatibility-test.py and modified CI (#2882)
  .github/workflows/actions/compatibility/action.yaml
  .github/workflows/test-job.yaml
  ray-operator/DEVELOPMENT.md
  tests/compatibility-test.py
  tests/config/ray-cluster.mini.yaml.template
  tests/config/ray-cluster.ray-ft.yaml.template
  tests/config/ray-cluster.sidecar.yaml.template
  tests/config/requirements.txt
  tests/kuberay_utils/__init__.py
  tests/kuberay_utils/utils.py
Due: none

[RayService] Add zero-downtime triggered test after rayVersion is updated (#2881)
  ray-operator/controllers/ray/rayservice_controller_test.go
Due: golangci-lint-ray-operator

[RayService] More envtests that follow the most common scenario in the RayService code path
  ray-operator/controllers/ray/rayservice_controller_test.go
Due: golangci-lint-ray-operator

[kubectl-plugin] fix minor typo
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log_test.go
Due: golangci-lint-kubectl-plugin

[kubectl-plugin] fix minor typo (#2884)
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log_test.go
Due: golangci-lint-kubectl-plugin

[Fix][kubectl-plugin]: make `version` handle digests (#2876)
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/util/client/client.go
  kubectl-plugin/pkg/util/client/client_test.go
Due: golangci-lint-kubectl-plugin

update version for v1.3.0-rc.0
  helm-chart/kuberay-apiserver/Chart.yaml
  helm-chart/kuberay-apiserver/values.yaml
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/Chart.yaml
  ray-operator/config/default/kustomization.yaml
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[RayService] More envtests that follow the most common scenario in the RayService code path (#2880)
  ray-operator/controllers/ray/rayservice_controller_test.go
Due: golangci-lint-ray-operator

[RayService] Remove outdated env tests (#2886)
  ray-operator/controllers/ray/rayservice_controller_test.go
Due: golangci-lint-ray-operator

update
  ray-operator/controllers/ray/rayservice_controller_test.go
  ray-operator/controllers/ray/suite_helpers_test.go
Due: golangci-lint-ray-operator

[RayService] Refactor envtests (#2888)
  ray-operator/controllers/ray/rayservice_controller_test.go
  ray-operator/controllers/ray/suite_helpers_test.go
Due: golangci-lint-ray-operator

[Fix][kubectl-plugin] Fix no context nil error SIGSEGV in tests
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log_test.go
Due: golangci-lint-kubectl-plugin

update version for v1.3.0-rc.0 (#2885)
  helm-chart/kuberay-apiserver/Chart.yaml
  helm-chart/kuberay-apiserver/values.yaml
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/Chart.yaml
  ray-operator/config/default/kustomization.yaml
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[docs][ray-operator] fix typo in Golang version
  ray-operator/DEVELOPMENT.md
Due: none

[docs][ray-operator] fix typo in Golang version (#2893)
  ray-operator/DEVELOPMENT.md
Due: none

Fix bad merge
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator

[Fix][kubectl-plugin] Fix no context nil error SIGSEGV in tests (#2892)
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log_test.go
Due: golangci-lint-kubectl-plugin

Path conditions:
  golangci-lint-ray-operator: any of: ^ray-operator/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
  golangci-lint-kubectl-plugin: any of: ^kubectl-plugin/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
