Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

remove using subshell in setup-env
  .buildkite/setup-env.sh
Due: none

remove skip in test
  kubectl-plugin/test/e2e/kubectl_ray_job_submit_test.go
Due: golangci-lint-kubectl-plugin

remove print output
  kubectl-plugin/test/e2e/kubectl_ray_job_submit_test.go
Due: golangci-lint-kubectl-plugin

add ray and ray[default] to requirement.txt
  tests/framework/config/requirements.txt
Due: none

install ray and ray[default] in setup-env.sh
  .buildkite/setup-env.sh
  kubectl-plugin/test/e2e/kubectl_ray_job_submit_test.go
Due: golangci-lint-kubectl-plugin

add pip installation in setup-env
  .buildkite/setup-env.sh
Due: none

add --break-system-packages to pip install
  .buildkite/setup-env.sh
Due: none

[bug] use passed context instead of TODO context
  ray-operator/controllers/ray/batchscheduler/interface/interface.go
  ray-operator/controllers/ray/batchscheduler/schedulermanager.go
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler.go
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

remove ray install and leave only ray[default]
  .buildkite/setup-env.sh
Due: none

remove requirement.txt
  tests/framework/config/requirements.txt
Due: none

[bug] use passed context instead of TODO context (#3129)
  ray-operator/controllers/ray/batchscheduler/interface/interface.go
  ray-operator/controllers/ray/batchscheduler/schedulermanager.go
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler.go
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

[chore][docs] enable Markdown lint rule MD041 (#3125)
  .markdownlint.yaml
  .pre-commit-config.yaml
  docs/components/operator.md
  docs/deploy/installation.md
  docs/guidance/FAQ.md
  docs/guidance/autoscaler.md
  docs/guidance/aws-eks-gpu-cluster.md
  docs/guidance/gcp-gke-gpu-cluster.md
  docs/guidance/gcs-ft.md
  docs/guidance/ingress.md
  docs/guidance/kubeflow-integration.md
  docs/guidance/mobilenet-rayservice.md
  docs/guidance/pod-command.md
  docs/guidance/pod-security.md
  docs/guidance/profiling.md
  docs/guidance/prometheus-grafana.md
  docs/guidance/rayStartParams.md
  docs/guidance/rayjob.md
  docs/guidance/rayserve-dev-doc.md
  docs/guidance/rayservice-troubleshooting.md
  docs/guidance/rayservice.md
  docs/guidance/stable-diffusion-rayservice.md
  docs/guidance/text-summarizer-rayservice.md
  docs/guidance/tls.md
  docs/guidance/volcano-integration.md
Due: none

[Bug] Re-enable flaky kubectl plugin e2e test in kubectl_ray_job_submit_test.go (#3124)
  .buildkite/setup-env.sh
  kubectl-plugin/test/e2e/kubectl_ray_job_submit_test.go
Due: golangci-lint-kubectl-plugin

[feat][RayCluster] shorten HeadlessServiceSuffix to have more space for CR names (#3101)
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

remove all inputs from workflow_dispatch
  .github/workflows/image-release.yaml
Due: none

align case
  .github/workflows/image-release.yaml
Due: none

change sha
  .github/workflows/image-release.yaml
Due: none

use tag only
  .github/workflows/image-release.yaml
Due: none

extract tag
  .github/workflows/image-release.yaml
Due: none

lint fix
  .github/workflows/image-release.yaml
Due: none

using same syntax
  .github/workflows/image-release.yaml
Due: none

[ci] remove the test for modin because its certificate is broken
  ray-operator/test/sampleyaml/rayjob_test.go
Due: golangci-lint-ray-operator

[ci] remove the test for modin because its certificate is broken (#3135)
  ray-operator/test/sampleyaml/rayjob_test.go
Due: golangci-lint-ray-operator

docs: Create YAML reference guide
  docs/reference/yaml.md
Due: none

Edit paths and links
  docs/reference/yaml.md
Due: none

[RayCluster][Test] remove duplicated tests
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayJob][Test] add a test error on ValidateRayClusterSpec for testing RayJob
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[chore][docs] enable Markdown lint rule MD036
  .markdownlint.yaml
  clients/python-client/python_client_test/README.md
Due: none
