Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

golangci-lint-ray-operator:
  name: golangci-lint (ray-operator)
  entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

golangci-lint-kubectl-plugin:
  name: golangci-lint (kubectl-plugin)
  entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

Add runtime class name to worker groups
  helm-chart/ray-cluster/templates/raycluster-cluster.yaml
  helm-chart/ray-cluster/values.yaml
Due: none

chore: update version string in examples and docs
  .buildkite/test-sample-yamls.yml
  kubectl-plugin/README.md
Due: none

chore: update version string in examples and docs to the latest 1.3.0 (#3086)
  .buildkite/test-sample-yamls.yml
  kubectl-plugin/README.md
Due: none

[Fix][CI] Redirect stderr to stdout in Test Autoscaler E2E (nightly operator) (#3074)
  .buildkite/test-e2e.yml
Due: none

[chore][docs] enable Markdown lint rules MD012 and MD022 (#3080)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  ci/markdownlint.yaml
  clients/python-client/README.md
  clients/python-client/python_client_test/README.md
  docs/best-practice/worker-head-reconnection.md
  docs/deploy/installation.md
  docs/design/protobuf-grpc-service.md
  docs/development/release.md
  docs/guidance/aws-eks-iam.md
  docs/guidance/kuberay-with-MCAD.md
  docs/guidance/observability.md
  docs/guidance/rayStartParams.md
  docs/guidance/rayclient-nginx-ingress.md
  docs/guidance/rayservice-high-availability.md
  docs/release/helm-chart.md
  helm-chart/ray-cluster/README.md
Due: none

add e2e test make sure resource quota error is surfaced
  ray-operator/test/e2e/raycluster_test.go
  ray-operator/test/support/namespace.go
Due: golangci-lint-ray-operator

[docs] remove unnecessary `kubectl-plugin/README.md`
  kubectl-plugin/README.md
Due: none

[docs] remove unnecessary `kubectl-plugin/README.md` (#3089)
  kubectl-plugin/README.md
Due: none

[Fix][kubectl-plugin] Release bot opens PRs to Krew repo with unexpected whitespace changes
  .krew.yaml
Due: none

[Fix][golangci-lint]update golangci-lint to support go 1.23 & 1.24
  apiserver/Makefile
  apiserver/pkg/util/cluster.go
Due: none

[chore][docs] enable more Markdown lint rules
  CHANGELOG.md
  CONTRIBUTING.md
  benchmark/memory_benchmark/memory_benchmark.md
  benchmark/perf-tests/README.md
  ci/markdownlint.yaml
  docs/design/protobuf-grpc-service.md
  docs/development/release.md
  docs/guidance/kuberay-with-MCAD.md
  docs/guidance/rayclient-nginx-ingress.md
  docs/guidance/rayservice-high-availability.md
  docs/release/changelog.md
  docs/release/helm-chart.md
  helm-chart/kuberay-apiserver/README.md
  helm-chart/kuberay-operator/README.md
  helm-chart/ray-cluster/README.md
  ray-operator/DEVELOPMENT.md
Due: none

[chore][docs] enable more Markdown lint rules (#3088)
  CHANGELOG.md
  CONTRIBUTING.md
  benchmark/memory_benchmark/memory_benchmark.md
  benchmark/perf-tests/README.md
  ci/markdownlint.yaml
  docs/design/protobuf-grpc-service.md
  docs/development/release.md
  docs/guidance/kuberay-with-MCAD.md
  docs/guidance/rayclient-nginx-ingress.md
  docs/guidance/rayservice-high-availability.md
  docs/release/changelog.md
  docs/release/helm-chart.md
  helm-chart/kuberay-apiserver/README.md
  helm-chart/kuberay-operator/README.md
  helm-chart/ray-cluster/README.md
  ray-operator/DEVELOPMENT.md
Due: none

[Fix][kubectl-plugin] Release bot opens PRs to Krew repo with unexpected whitespace changes (#3090)
  .krew.yaml
Due: none

[chore][docs] enable Markdown lint rule MD040
  ci/markdownlint.yaml
  clients/python-client/README.md
  docs/best-practice/worker-head-reconnection.md
  docs/design/protobuf-grpc-service.md
  docs/development/release.md
  docs/guidance/kuberay-with-MCAD.md
  docs/guidance/rayclient-nginx-ingress.md
  docs/release/changelog.md
  ray-operator/DEVELOPMENT.md
Due: none

refactor conditions
  ray-operator/test/e2e/raycluster_test.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

[chore][docs] enable Markdown lint rule MD040 (#3096)
  ci/markdownlint.yaml
  clients/python-client/README.md
  docs/best-practice/worker-head-reconnection.md
  docs/design/protobuf-grpc-service.md
  docs/development/release.md
  docs/guidance/kuberay-with-MCAD.md
  docs/guidance/rayclient-nginx-ingress.md
  docs/release/changelog.md
  ray-operator/DEVELOPMENT.md
Due: none

[CI] fix locust versions
  ray-operator/test/e2erayservice/rayservice_ha_test.go
Due: golangci-lint-ray-operator

[CI] fix locust versions (#3100)
  ray-operator/test/e2erayservice/rayservice_ha_test.go
Due: golangci-lint-ray-operator

[CI] apply resource logger to ray service test (#3081)
  ray-operator/test/sampleyaml/rayservice_test.go
  ray-operator/test/support/resource_logger.go
Due: golangci-lint-ray-operator

[fix][kubectl-plugin] error when creating cluster that already exists
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] `delete` accepts multiple resources
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] support K8s labels and annotations
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] support setting ray start params
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

Add e2e test make sure resource quota error is surfaced (#3087)
  ray-operator/test/e2e/raycluster_test.go
  ray-operator/test/support/namespace.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

[feat][RayCluster] shorten HeadlessServiceSuffix to have more space for CR names
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[feat] shorten RayClusterSuffix to have more space for RayService and RayJob names
  ray-operator/controllers/ray/utils/util.go
Due: golangci-lint-ray-operator

[fix][kubectl-plugin] error when creating cluster that already exists (#3099)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
Due: golangci-lint-kubectl-plugin

[feat] shorten RayClusterSuffix to have more space for RayService and RayJob names (#3102)
  ray-operator/controllers/ray/utils/util.go
Due: golangci-lint-ray-operator

Adjust crd path to verify changed files
  .github/workflows/consistency-check.yaml
Due: none

[chore][docs] enable Markdown lint rule MD024
  CHANGELOG.md
  ci/markdownlint.yaml
  ray-operator/DEVELOPMENT.md
Due: none

[chore][docs] enable Markdown lint rules MD033 MD034
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  ci/markdownlint.yaml
  docs/development/release.md
  docs/guidance/aws-eks-iam.md
  docs/index.md
  ray-operator/DEVELOPMENT.md
Due: none

[RayCluster][Test] add more test cases for GCSFaultTolerance
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayJob] use ValidateRayClusterSpec instead
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayCluster] separate IsAutoscalingEnabled
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

[RayJob] validate GCSFaultTolerance
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayJob] check RayClusterSpec is nil or not before validating GCSFaultTolerance
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

[RayCluster][Test] reduce test dependences
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[feat][kubectl-plugin] support setting ray start params (#3046)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] support K8s labels and annotations (#3095)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

Path conditions:
  golangci-lint-ray-operator: any of: ^ray-operator/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
  golangci-lint-kubectl-plugin: any of: ^kubectl-plugin/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
