Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

golangci-lint-ray-operator:
  name: golangci-lint (ray-operator)
  entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

golangci-lint-kubectl-plugin:
  name: golangci-lint (kubectl-plugin)
  entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

Fix plugin version tests
  kubectl-plugin/pkg/cmd/version/version.go
Due: golangci-lint-kubectl-plugin

Remove tool call parser option from argument parsing in serve.py
  ray-operator/config/samples/vllm/serve.py
Due: none

Comment out unused lora_modules and prompt_adapters parameters in VLLMDeployment class
  ray-operator/config/samples/vllm/serve.py
Due: none

Add VLLMDeployment class and build_app function for OpenAI-compatible RESTful API server
  ray-operator/config/samples/vllm/serve_tools_2.py
Due: none

[RayService][Test] remove unnecessary annotation
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

Add detailed logging for argument parsing and model building in serve_tools_2.py
  ray-operator/config/samples/vllm/serve_tools_2.py
Due: none

Enable auto tool choice and set tool call parser in engine arguments
  ray-operator/config/samples/vllm/serve_tools_2.py
Due: none

RayService event can't set redis password in both GCSFaultTolerance and rayStartParam (#3153)
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

Update deployment.yaml
  helm-chart/kuberay-operator/templates/deployment.yaml
Due: none

Update values.yaml
  helm-chart/kuberay-operator/values.yaml
Due: none

Refactor and test version with buildinfo
  kubectl-plugin/pkg/cmd/version/version.go
  kubectl-plugin/pkg/cmd/version/version_test.go
Due: golangci-lint-kubectl-plugin

Field alignment
  kubectl-plugin/pkg/cmd/version/version_test.go
Due: golangci-lint-kubectl-plugin

Add FieldManager to workergroup update call
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
Due: golangci-lint-kubectl-plugin

Move fieldManager constant to util package
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/constant.go
Due: golangci-lint-kubectl-plugin

Update field manager in create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster.go
Due: golangci-lint-kubectl-plugin

Allow app.kubernetes.io/component to be overriden
  helm-chart/kuberay-operator/templates/_helpers.tpl
  helm-chart/kuberay-operator/templates/deployment.yaml
  helm-chart/kuberay-operator/values.yaml
Due: none

update github_env
  .github/workflows/image-release.yaml
Due: none

[RayJob][Test] make sure annotation populated to RayCluster
  ray-operator/controllers/ray/rayjob_controller_test.go
Due: golangci-lint-ray-operator

[Grafana] Update Grafana Dashboard
  config/grafana/data_grafana_dashboard.json
  config/grafana/default_grafana_dashboard.json
  config/grafana/serve_deployment_grafana_dashboard.json
  config/grafana/serve_grafana_dashboard.json
Due: none

only add lifecycle if not there
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

kubectl-plugin: set global flags at the root cmd
  kubectl-plugin/pkg/cmd/create/create.go
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get.go
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/get/get_nodes.go
  kubectl-plugin/pkg/cmd/get/get_nodes_test.go
  kubectl-plugin/pkg/cmd/get/get_workergroup.go
  kubectl-plugin/pkg/cmd/get/get_workergroup_test.go
  kubectl-plugin/pkg/cmd/job/job.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/cmd/scale/scale.go
  kubectl-plugin/pkg/cmd/scale/scale_cluster.go
  kubectl-plugin/pkg/cmd/scale/scale_cluster_test.go
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/cmd/session/session_test.go
  kubectl-plugin/pkg/cmd/version/version.go
  kubectl-plugin/pkg/cmd/version/version_test.go
  kubectl-plugin/pkg/util/kubeconfig.go
  kubectl-plugin/pkg/util/kubeconfig_test.go
Due: golangci-lint-kubectl-plugin

Enable auto tools and set tool parser in VLLMDeployment class
  ray-operator/config/samples/vllm/serve_tools_2.py
Due: none

Refactor VLLMDeployment to use environment variables for reasoning and tool parser settings
  ray-operator/config/samples/vllm/serve_tools_2.py
Due: none

Fix enable_reasoning and enable_auto_tools logic to correctly interpret environment variable values
  ray-operator/config/samples/vllm/serve_tools_2.py
Due: none

plugin job submit consistently uses field manager (#3187)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/constant.go
Due: golangci-lint-kubectl-plugin

kubectl plugin: version shows commit for dev (#3188)
  kubectl-plugin/pkg/cmd/version/version.go
  kubectl-plugin/pkg/cmd/version/version_test.go
Due: golangci-lint-kubectl-plugin

[kubectl-plugin] Add 'node-selector' Flag
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/util/generation/generation.go
Due: golangci-lint-kubectl-plugin

Add chat-template configuration to serve_tools_2.py for enhanced flexibility
  ray-operator/config/samples/vllm/serve_tools_2.py
Due: none

update KubeRay version to v1.3.1
  helm-chart/kuberay-apiserver/Chart.yaml
  helm-chart/kuberay-apiserver/values.yaml
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/Chart.yaml
  ray-operator/config/default/kustomization.yaml
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

Remove chat-template configuration from serve_tools_2.py
  ray-operator/config/samples/vllm/serve_tools_2.py
Due: none

[RayJob][Test] make sure annotation populated to RayCluster (#3199)
  ray-operator/controllers/ray/rayjob_controller_test.go
Due: golangci-lint-ray-operator

Merge branch 'dev-dsl-metric' into 'v1.2.2-xm-1.0.0'
  helm-chart/kuberay-operator/templates/servicemonitor.yaml
  helm-chart/kuberay-operator/values.yaml
Due: none

update KubeRay version to v1.3.1 (#3205)
  helm-chart/kuberay-apiserver/Chart.yaml
  helm-chart/kuberay-apiserver/values.yaml
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/Chart.yaml
  ray-operator/config/default/kustomization.yaml
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[Prometheus] Add ray_clusters_created_total metric
  ray-operator/controllers/ray/common/metrics.go
  ray-operator/controllers/ray/common/metrics_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/go.mod
Due: golangci-lint-ray-operator

[RayService][Test] make sure annotation populated to RayCluster
  ray-operator/controllers/ray/rayservice_controller_test.go
Due: golangci-lint-ray-operator

Allow app.kubernetes.io/component to be overriden (#3198)
  helm-chart/kuberay-operator/templates/_helpers.tpl
  helm-chart/kuberay-operator/templates/deployment.yaml
  helm-chart/kuberay-operator/values.yaml
Due: none

directly take tag
  .github/workflows/image-release.yaml
Due: none

add env,
  .github/workflows/image-release.yaml
Due: none

[Prometheus] Add ray_cluster_provisioned_duration_seconds metric
  ray-operator/controllers/ray/common/metrics.go
  ray-operator/controllers/ray/common/metrics_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/go.mod
Due: golangci-lint-ray-operator

Path conditions:
  golangci-lint-ray-operator: any of: ^ray-operator/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
  golangci-lint-kubectl-plugin: any of: ^kubectl-plugin/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
