Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

golangci-lint-ray-operator:
  name: golangci-lint (ray-operator)
  entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

golangci-lint-kubectl-plugin:
  name: golangci-lint (kubectl-plugin)
  entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

[operator] add `// +optional` to CRD fields with `omitempty` (#3220)
  ray-operator/apis/ray/v1/raycluster_types.go
Due: golangci-lint-ray-operator

[RayJob][Fix] Use --no-wait for job submission to avoid carrying the error return code to the log tailing (#3216)
  ray-operator/controllers/ray/common/job.go
  ray-operator/controllers/ray/common/job_test.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
  ray-operator/test/e2e/rayjob_retry_test.go
Due: golangci-lint-ray-operator

Integrate with rayci (#3215)
  .buildkite/build-start-operator.sh
  .buildkite/ray-ci-integration.md
  .buildkite/test-e2e.yml
  docs/development/release.md
Due: none

Update KubeRay release documentation
  docs/development/release.md
Due: none

improve markdown formatting and revise order of steps
  docs/development/release.md
Due: none

add node selector option for kubectl plugin create cluster
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

nit
  kubectl-plugin/pkg/cmd/create/create_cluster.go
Due: golangci-lint-kubectl-plugin

docs: make development step more clear
  ray-operator/DEVELOPMENT.md
Due: none

[plugin] warn if RayJob YAML has entrypoint
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin

[RayJob][Test] split TestValidateRayJobSpec into two tests
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

docs: indicate the path to execute command
  ray-operator/DEVELOPMENT.md
Due: none

[operator] add `+optional` to CRD fields that are optional
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/rayjob_types.go
  ray-operator/apis/ray/v1/rayservice_types.go
Due: golangci-lint-ray-operator

[kubectl-plugin] Add head/worker node selector option (#3228)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

kubectl-plugin: set global flags at the root cmd
  kubectl-plugin/pkg/cmd/create/create.go
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get.go
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/get/get_nodes.go
  kubectl-plugin/pkg/cmd/get/get_nodes_test.go
  kubectl-plugin/pkg/cmd/get/get_workergroup.go
  kubectl-plugin/pkg/cmd/get/get_workergroup_test.go
  kubectl-plugin/pkg/cmd/job/job.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/cmd/scale/scale.go
  kubectl-plugin/pkg/cmd/scale/scale_cluster.go
  kubectl-plugin/pkg/cmd/scale/scale_cluster_test.go
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/cmd/session/session_test.go
  kubectl-plugin/pkg/cmd/version/version.go
  kubectl-plugin/pkg/cmd/version/version_test.go
  kubectl-plugin/pkg/util/kubeconfig.go
  kubectl-plugin/pkg/util/kubeconfig_test.go
Due: golangci-lint-kubectl-plugin

kubectl-plugin: set global flags at the root cmd (#3203)
  kubectl-plugin/pkg/cmd/create/create.go
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/delete/delete.go
  kubectl-plugin/pkg/cmd/delete/delete_test.go
  kubectl-plugin/pkg/cmd/get/get.go
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/get/get_nodes.go
  kubectl-plugin/pkg/cmd/get/get_nodes_test.go
  kubectl-plugin/pkg/cmd/get/get_workergroup.go
  kubectl-plugin/pkg/cmd/get/get_workergroup_test.go
  kubectl-plugin/pkg/cmd/job/job.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/cmd/scale/scale.go
  kubectl-plugin/pkg/cmd/scale/scale_cluster.go
  kubectl-plugin/pkg/cmd/scale/scale_cluster_test.go
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/cmd/session/session_test.go
  kubectl-plugin/pkg/cmd/version/version.go
  kubectl-plugin/pkg/cmd/version/version_test.go
  kubectl-plugin/pkg/util/kubeconfig.go
  kubectl-plugin/pkg/util/kubeconfig_test.go
Due: golangci-lint-kubectl-plugin

fix lint
  docs/development/release.md
Due: none

add node selector option for kubectl plugin create work group
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
Due: golangci-lint-kubectl-plugin

nit
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
Due: golangci-lint-kubectl-plugin

[Docs] update development md (#3230)
  ray-operator/DEVELOPMENT.md
Due: none

code review: fix usage
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
Due: golangci-lint-kubectl-plugin

refactor & add ray_jobs_created_total
  ray-operator/apis/config/v1alpha1/configuration_types.go
  ray-operator/controllers/ray/metrics/metrics.go
  ray-operator/controllers/ray/metrics/ray_cluster_metrics.go
  ray-operator/controllers/ray/metrics/ray_job_metrics.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

[RayJob][Test] remove redundant code
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[fix][kubectl-plugin] remove hard-coded RayStartParams
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[refactor][operator]: make RayStartParams optional
  apiserver/test/e2e/cluster_server_e2e_test.go
  helm-chart/kuberay-operator/crds/ray.io_rayclusters.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/config/crd/bases/ray.io_rayclusters.yaml
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/rayjob_controller_test.go
  ray-operator/controllers/ray/rayservice_controller_test.go
  ray-operator/pkg/webhooks/v1/webhook_suite_test.go
Due: golangci-lint-ray-operator

add node selector option for kubectl plugin create worker group (#3235)
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
Due: golangci-lint-kubectl-plugin

[test][plugin] test NewCreateClusterCommand
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
Due: golangci-lint-kubectl-plugin

[fix][plugin] add missing CLI flags for create cluster cmd
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
Due: golangci-lint-kubectl-plugin

[refactor][plugin] RayClusterSpecObject
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[feat] enforce DNS1035 validations on RayCluster, RayService, and RayJob names
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[apiserver][feat] add pagination to ListClustersRequest
  apiserver/pkg/manager/resource_manager.go
  apiserver/pkg/server/cluster_server.go
  apiserver/test/e2e/cluster_server_e2e_test.go
  apiserver/test/e2e/types.go
  proto/cluster.proto
  proto/go_client/cluster.pb.go
  proto/go_client/cluster.pb.gw.go
  proto/go_client/config.pb.gw.go
  proto/go_client/job.pb.gw.go
  proto/go_client/job_submission.pb.gw.go
  proto/go_client/serve.pb.gw.go
  proto/kuberay_api.swagger.json
  proto/swagger/cluster.swagger.json
Due: none

[apiserver][feat] add pagination to ListClustersRequest
  apiserver/pkg/http/client.go
  apiserver/pkg/manager/resource_manager.go
  apiserver/pkg/server/cluster_server.go
  apiserver/test/e2e/cluster_server_e2e_test.go
  apiserver/test/e2e/types.go
  proto/cluster.proto
  proto/go_client/cluster.pb.go
  proto/kuberay_api.swagger.json
  proto/swagger/cluster.swagger.json
Due: none

add awk file
  .buildkite/format.awk
Due: none

fix
  .buildkite/test-e2e.yml
Due: none

lint
  helm-chart/kuberay-operator/templates/deployment.yaml
  helm-chart/kuberay-operator/values.yaml
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/suite_test.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

[apiserver][feat] add pagination to ListClustersRequest
  apiserver/pkg/manager/resource_manager.go
  apiserver/pkg/server/cluster_server.go
Due: none

[apiserver][feat] add pagination to ListClustersRequest
  apiserver/test/e2e/types.go
Due: none

[kubectl-plugin] remove CPU limits by default
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

docs: Align development guide with Makefile docker-build logic
  ray-operator/DEVELOPMENT.md
Due: none

docs: Update description of the command make docker-build
  ray-operator/DEVELOPMENT.md
Due: none

Path conditions:
  golangci-lint-ray-operator: any of: ^ray-operator/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
  golangci-lint-kubectl-plugin: any of: ^kubectl-plugin/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
