Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

golangci-lint-ray-operator:
  name: golangci-lint (ray-operator)
  entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

golangci-lint-kubectl-plugin:
  name: golangci-lint (kubectl-plugin)
  entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
  language: golang
  require_serial: true

[refactor][kubectl-plugin] make `--node-type` an enum flag
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
Due: golangci-lint-kubectl-plugin

update error msg of reconcile pod
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

Log rayjob related resource when matcher failed
  ray-operator/test/sampleyaml/rayjob_test.go
  ray-operator/test/sampleyaml/support.go
Due: golangci-lint-ray-operator

add expect custom annotation
  ray-operator/test/sampleyaml/rayjob_test.go
Due: golangci-lint-ray-operator

remove typo
  ray-operator/controllers/ray/utils/util.go
Due: golangci-lint-ray-operator

[refactor][kubectl-plugin] use cobra's posargs length validator (#2985)
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
Due: golangci-lint-kubectl-plugin

refactor
  ray-operator/test/sampleyaml/rayjob_test.go
  ray-operator/test/sampleyaml/support.go
Due: golangci-lint-ray-operator

add back
  ray-operator/test/sampleyaml/rayjob_test.go
Due: golangci-lint-ray-operator

[feat][kubectl-plugin] add `get workergroup` cmd
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
  kubectl-plugin/pkg/cmd/get/get.go
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_workergroup.go
  kubectl-plugin/pkg/cmd/get/get_workergroup_test.go
  kubectl-plugin/pkg/util/constant.go
  kubectl-plugin/pkg/util/generation/generation.go
Due: golangci-lint-kubectl-plugin

[kubectl-plugin] Validate resource values for negative and non-numeric inputs
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/util/validation.go
  kubectl-plugin/pkg/util/validation_test.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] add `get workergroup` cmd (#2996)
  kubectl-plugin/pkg/cmd/create/create_workergroup.go
  kubectl-plugin/pkg/cmd/create/create_workergroup_test.go
  kubectl-plugin/pkg/cmd/get/get.go
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_workergroup.go
  kubectl-plugin/pkg/cmd/get/get_workergroup_test.go
  kubectl-plugin/pkg/util/constant.go
  kubectl-plugin/pkg/util/generation/generation.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] support `get clusters` command alias
  kubectl-plugin/pkg/cmd/get/get_cluster.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] list Ray nodes
  kubectl-plugin/pkg/cmd/get/get.go
  kubectl-plugin/pkg/cmd/get/get_nodes.go
  kubectl-plugin/pkg/cmd/get/get_nodes_test.go
  kubectl-plugin/pkg/cmd/get/get_test.go
  kubectl-plugin/pkg/cmd/get/get_workergroup.go
  kubectl-plugin/pkg/cmd/get/get_workergroup_test.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] list Ray nodes (#3007)
  kubectl-plugin/pkg/cmd/get/get.go
  kubectl-plugin/pkg/cmd/get/get_nodes.go
  kubectl-plugin/pkg/cmd/get/get_nodes_test.go
  kubectl-plugin/pkg/cmd/get/get_test.go
  kubectl-plugin/pkg/cmd/get/get_workergroup.go
  kubectl-plugin/pkg/cmd/get/get_workergroup_test.go
Due: golangci-lint-kubectl-plugin

[Fix][RayCluster] fix missing pod name in CreatedWorkerPod and FailedToCreateWorkerPod events
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

[Fix][RayCluster] fix missing pod name in CreatedWorkerPod and FailedToCreateWorkerPod events (#3057)
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

remove very verbose logs from RayService controller
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/utils/dashboard_httpclient.go
Due: golangci-lint-ray-operator

update
  ray-operator/config/samples/ray-service.stable-diffusion.yaml
  ray-operator/config/samples/ray-service.text-summarizer.yaml
Due: none

[release] Use ray-ml:2.41.0.deprecated instead of ray-ml:2.41.0.deprecated-gpu (#3058)
  ray-operator/config/samples/ray-service.stable-diffusion.yaml
  ray-operator/config/samples/ray-service.text-summarizer.yaml
Due: none

Add e2e KubeRay operator upgrade test
  .buildkite/test-e2e-upgrade.yml
  ray-operator/Makefile
  ray-operator/test/e2eupgrade/rayservice_operator_upgrade_test.go
  ray-operator/test/e2eupgrade/support.go
Due: golangci-lint-ray-operator

Fix errors
  .buildkite/test-e2e-upgrade.yml
  .buildkite/test-e2e.yml
  ray-operator/test/e2eupgrade/rayservice_operator_upgrade_test.go
  ray-operator/test/e2eupgrade/support.go
Due: golangci-lint-ray-operator

Fix golint unparam and gosec
  ray-operator/test/e2eupgrade/rayservice_operator_upgrade_test.go
  ray-operator/test/e2eupgrade/support.go
Due: golangci-lint-ray-operator

Fix golint unparam and gosec
  ray-operator/test/e2eupgrade/support.go
Due: golangci-lint-ray-operator

Remove buildkite
  .buildkite/test-e2e.yml
Due: none

Fix curl unparam
  ray-operator/test/e2eupgrade/rayservice_operator_upgrade_test.go
Due: golangci-lint-ray-operator

Add support for 0.6.1.post2
  ray-operator/config/samples/vllm/ray-service.vllm.yaml
  ray-operator/config/samples/vllm/serve.py
  ray-operator/config/samples/vllm/serve_tools.py
Due: none

[Chore] Add RayJob InteractiveMode sample yaml
  ray-operator/config/samples/ray-job.interactive-mode.yaml
Due: none

[Fix][kubectl-plugin] ray job submit runtime-env-json null error
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin

Test tools calling
  ray-operator/config/samples/vllm/serve_tools.py
Due: none

[Fix][kubectl-plugin] ray job submit runtime-env-json null error (#3063)
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: golangci-lint-kubectl-plugin

Change to consistently check
  ray-operator/test/e2eupgrade/rayservice_operator_upgrade_test.go
  ray-operator/test/e2eupgrade/support.go
Due: golangci-lint-ray-operator

[RayCluster] Make headpod name deterministic (#3028)
  kubectl-plugin/test/e2e/kubectl_ray_log_test.go
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
  ray-operator/test/e2erayservice/rayservice_redeploy_test.go
Due: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

Fix lint
  ray-operator/test/e2eupgrade/rayservice_operator_upgrade_test.go
Due: golangci-lint-ray-operator

enable CI checks for release-1.3 branch
  .github/workflows/consistency-check.yaml
  .github/workflows/helm-lint.yaml
  .github/workflows/test-job.yaml
Due: none

enable CI checks for release-1.3 branch (#3066)
  .github/workflows/consistency-check.yaml
  .github/workflows/helm-lint.yaml
  .github/workflows/test-job.yaml
Due: none

[Fix][RayCluster] fix missing pod name in CreatedWorkerPod and FailedToCreateWorkerPod events (#3057) (#3065)
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

Address comments
  ray-operator/config/samples/ray-job.interactive-mode.yaml
Due: none

Path conditions:
  golangci-lint-ray-operator: any of: ^ray-operator/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
  golangci-lint-kubectl-plugin: any of: ^kubectl-plugin/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/)
