Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-kubectl-plugin

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$|^docs/reference/api.md$|^config/grafana/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs\.yml$|^benchmark/perf-tests/|^\.krew\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: check-golangci-lint-version
        name: golangci-lint version check
        entry: bash -c 'version="1.60.3"; [ "$(golangci-lint --version | awk "/version/ {print \$4}")" = "$version" ] || { echo "golangci-lint version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/

  - repo: local
    hooks:
      - id: golangci-lint-kubectl-plugin
        name: golangci-lint (kubectl-plugin)
        entry: bash -c 'cd kubectl-plugin && golangci-lint run --fix --timeout 10m0s; status=$?; cd ..; exit $status'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^kubectl-plugin/

  - repo: local
    hooks:
      - id: check-kubeconform-version
        name: kubeconform version check
        entry: bash -c 'version="0.6.7"; [ "$(kubeconform -v | awk -F"v" "{print \$2}")" = "$version" ] || { echo "kubeconform version is not $version"; exit 1; }'
        language: system
        always_run: true
        fail_fast: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: validate-helm-charts
        name: validate helm charts with kubeconform
        entry: bash scripts/validate-helm.sh
        language: system
        pass_filenames: false

[RayCluster] apply changing IsAutoscalingEnabled from another pr
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

[RayCluster][Test] remove duplicated tests
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayJob][Test] add a test error on ValidateRayClusterSpec for testing RayJob
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayJob] use ValidateRayClusterSpec instead
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayCluster] separate IsAutoscalingEnabled
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

[RayJob] check RayClusterSpec is nil or not before validating GCSFaultTolerance
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

[RayJob] validate GCSFaultTolerance
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayCluster][Test] reduce test dependences
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayCluster][Test] add more test cases for GCSFaultTolerance
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

[RayCluster] remove ValidateGCSFaultTolerance
  ray-operator/controllers/ray/utils/validation.go
Due: golangci-lint-ray-operator

[Doc] Add a YAML and py file to explain why some worker pod are not ready in RayService
  ray-operator/config/samples/ray-serve/single_deployment_dag.py
  ray-operator/config/samples/ray-service.worker-no-serve.yaml
Due: none

remove redundent deployment set up in single_deployment_day.py
  ray-operator/config/samples/ray-serve/single_deployment_dag.py
Due: none

Rayjob event can't set redis password in both GCSFaultTolerance and rayStartParam (#3093)
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
Due: golangci-lint-ray-operator

align case
  .github/workflows/image-release.yaml
Due: none

extract tag
  .github/workflows/image-release.yaml
Due: none

change sha
  .github/workflows/image-release.yaml
Due: none

use tag only
  .github/workflows/image-release.yaml
Due: none

remove all inputs from workflow_dispatch
  .github/workflows/image-release.yaml
Due: none

lint fix
  .github/workflows/image-release.yaml
Due: none

feat: validate the name length for RayCluster, RayService, and RayJob
  ray-operator/controllers/ray/common/ingress.go
  ray-operator/controllers/ray/common/route.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/constant.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/controllers/ray/utils/validation.go
  ray-operator/controllers/ray/utils/validation_test.go
  ray-operator/test/e2e/raycluster_gcs_ft_test.go
  ray-operator/test/e2e/rayjob_test.go
  ray-operator/test/e2erayservice/rayservice_in_place_update_test.go
Due: golangci-lint-ray-operator

Update ray-service.worker-no-serve.yaml metadata:name
  ray-operator/config/samples/ray-service.worker-no-serve.yaml
Due: none

Rename yaml and rename rayservice in yaml
  ray-operator/config/samples/ray-service.no-ray-serve-replica.yaml
Due: none

Change enforced by golangci-lint - fieldalignment
  docs/reference/api.md
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/apis/ray/v1alpha1/raycluster_types.go
  ray-operator/apis/ray/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint-ray-operator

Update version of controller-gen required by packages update
  ray-operator/Makefile
  ray-operator/hack/tools.go
  ray-operator/hack/update-codegen.sh
Due: golangci-lint-ray-operator

Update packages required for bump to component-base
  .pre-commit-config.yaml
  apiserver/go.mod
  apiserver/go.sum
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  ray-operator/DEVELOPMENT.md
  ray-operator/go.mod
  ray-operator/go.sum
Due: none

Update tests to align with package changes
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayjob_controller_test.go
  ray-operator/controllers/ray/utils/validation_test.go
  ray-operator/pkg/features/features.go
Due: golangci-lint-ray-operator

Docker and go-toolchain update
  .buildkite/test-e2e.yml
  .buildkite/test-kubectl-plugin-e2e.yml
  .buildkite/test-sample-yamls.yml
  .github/workflows/kubectl-plugin-release.yaml
  apiserver/Dockerfile
  experimental/Dockerfile
  proto/Dockerfile
  ray-operator/Dockerfile
Due: none

Sync CRDs post generator update
  helm-chart/kuberay-operator/crds/ray.io_rayclusters.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  helm-chart/kuberay-operator/templates/_helpers.tpl
  ray-operator/config/crd/bases/ray.io_rayclusters.yaml
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/config/rbac/role.yaml
Due: none

rename application name
  ray-operator/config/samples/ray-service.no-ray-serve-replica.yaml
Due: none

[chore][docs] enable Markdown lint rule MD036
  .markdownlint.yaml
  clients/python-client/python_client_test/README.md
Due: none

[Bug] kubectl plugin e2e test is flaky
  kubectl-plugin/test/e2e/kubectl_ray_session_test.go
Due: golangci-lint-kubectl-plugin

[DO NOT MERGE] Test CI for PR 3140
  .buildkite/test-kubectl-plugin-e2e.yml
Due: none

[Bug] kubectl plugin e2e test is flaky (#3147)
  kubectl-plugin/test/e2e/kubectl_ray_session_test.go
Due: golangci-lint-kubectl-plugin

[feat][kubectl-plugin] support setting K8s ephemeral storage resource
  kubectl-plugin/pkg/cmd/create/create_cluster.go
  kubectl-plugin/pkg/cmd/create/create_cluster_test.go
  kubectl-plugin/pkg/util/generation/generation.go
  kubectl-plugin/pkg/util/generation/generation_test.go
Due: golangci-lint-kubectl-plugin

[chore][docs] enable Markdown lint rule MD036 (#3137)
  .markdownlint.yaml
  clients/python-client/python_client_test/README.md
Due: none

[CI][RayService] deflaky the TestAutoscalingRayService
  ray-operator/test/e2erayservice/rayservice_ha_test.go
Due: golangci-lint-ray-operator
